deal-intelligence-engine/n8n/workflows/workflow-01-ingestion.json
{
  "updatedAt": "2026-03-08T04:53:06.839Z",
  "createdAt": "2026-02-27T03:05:47.376Z",
  "id": "G6kZgyHCK0qHNhRj",
  "name": "CW-01: The Gatekeeper (Ingestion)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM ingestion_log WHERE message_id = '{{ $json.id }}' OR (subject IS NOT NULL AND subject != '' AND LOWER(subject) = '{{ $json.norm_subject.replace(/'/g, \"''\") }}' AND sender_email LIKE '%{{ $json.sender_domain_dedup }}%') LIMIT 1",
        "options": {}
      },
      "id": "check-duplicate",
      "name": "Postgres: Check Duplicate",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        912,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "WwO5ZGy91Fw5lSFo",
          "name": "Clearwater Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "dedup-check",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-new",
      "name": "Is New Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1136,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.classify_request_body }}",
        "options": {}
      },
      "id": "classify-email",
      "name": "AI: Classify & Attribute Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1584,
        208
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "credentials": {
        "anthropicApi": {
          "id": "6NnFWUY71nO8HiT2",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Anthropic classification response and merge with normalized Outlook email data.\n// Input comes exclusively from the Power Automate \u2192 Outlook webhook pipeline.\n// Upstream: Code: Normalize Outlook Payload \u2192 Code: Normalize For Dedup \u2192 AI: Classify\n// emailData fields: id, From, Subject, Date, text, snippet, outlookAttachments, source\n\nconst response = $input.first().json;\nconst rawText = response.text || response.content?.[0]?.text || '{}';\n\nlet classification;\ntry {\n  const cleaned = rawText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  classification = JSON.parse(cleaned);\n} catch (e) {\n  classification = {\n    company_name: 'Unknown',\n    sender_domain: 'unknown',\n    doc_type: 'email_body',\n    deal_indicators: [],\n    guessed_deal_company: 'Unknown',\n    confidence: 'low',\n    confidence_score: 0.1,\n    reasoning: 'Parse error: ' + e.message\n  };\n}\n\n// Read normalized email data from upstream Outlook pipeline\nconst emailData = $('Code: Normalize For Dedup').first().json;\n\nconst senderEmail = emailData.From || '';\nconst subject     = emailData.Subject || '';\nconst emailDate   = emailData.Date || new Date().toISOString();\nconst fullText    = emailData.text || emailData.snippet || '';\nconst messageId   = emailData.id || '';\n\n// Extract sender domain (handles 'Name <email@domain.com>' format)\nfunction extractDomain(emailStr) {\n  const match = emailStr.match(/<([^>]+)>/) || emailStr.match(/([^\\s@]+@[^\\s>]+)/);\n  const addr = match ? match[1] : emailStr;\n  const parts = addr.split('@');\n  return parts.length === 2 ? parts[1].toLowerCase().trim() : 'unknown';\n}\nconst resolvedDomain = extractDomain(senderEmail) || classification.sender_domain || 'unknown';\n\nreturn [{\n  json: {\n    ...classification,\n    sender_domain: resolvedDomain,\n    message_id: messageId,\n    subject: subject,\n    sender_email: senderEmail,\n    email_date: emailDate,\n    text: fullText,\n    html: '',\n    attachments: emailData.outlookAttachments || [],\n    source: 'outlook'\n  }\n}];\n"
      },
      "id": "parse-classification",
      "name": "Code: Parse Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        208
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.confidence }}",
                    "rightValue": "high",
                    "operator": {
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "high"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.confidence }}",
                    "rightValue": "medium",
                    "operator": {
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "medium"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.confidence }}",
                    "rightValue": "low",
                    "operator": {
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "low"
            }
          ]
        },
        "options": {}
      },
      "id": "confidence-router",
      "name": "Route by Confidence",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2032,
        192
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT deal_id, company_name FROM deals WHERE ('{{ $json.sender_domain }}' = ANY(sender_domains) OR LOWER(company_name) LIKE LOWER('%{{ $json.guessed_deal_company }}%')) AND is_active = TRUE LIMIT 1",
        "options": {}
      },
      "id": "lookup-deal-high",
      "name": "Postgres: Lookup Deal (High)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2256,
        136
      ],
      "credentials": {
        "postgres": {
          "id": "WwO5ZGy91Fw5lSFo",
          "name": "Clearwater Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO attribution_queue (message_id, sender_email, sender_domain, subject, email_date, ai_guess_company, ai_confidence, doc_type) VALUES ('{{ $json.message_id }}', '{{ $json.sender_email }}', '{{ $json.sender_domain }}', '{{ $json.subject }}', '{{ $json.email_date }}', '{{ $json.guessed_deal_company }}', {{ $json.confidence_score }}, '{{ $json.doc_type }}') ON CONFLICT (message_id) DO NOTHING",
        "options": {}
      },
      "id": "queue-for-confirm",
      "name": "Postgres: Queue for Confirmation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2480,
        328
      ],
      "credentials": {
        "postgres": {
          "id": "WwO5ZGy91Fw5lSFo",
          "name": "Clearwater Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Low-confidence emails still get ingested \u2014 just tagged as 'unattributed'\n// so they're searchable once Austin confirms the deal in the attribution queue.\nconst emailData = $('Code: Parse Classification').first().json;\nreturn [{\n  json: {\n    ...emailData,\n    deal_id: 'unattributed',\n    qdrant_namespace: 'unattributed',\n    attribution_confidence: 'low',\n    is_new_deal: false,\n    company_name: emailData.guessed_deal_company || emailData.company_name || 'Unknown'\n  }\n}];\n"
      },
      "id": "assign-unattributed",
      "name": "Code: Assign Unattributed Deal ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        328
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build deal_id from matched deal or generate a slug\n// Always pull email data from Parse Classification (upstream of Postgres lookup)\nconst emailData = $('Code: Parse Classification').first().json;\nconst dealLookup = $('Postgres: Lookup Deal (High)').first()?.json;\n\nlet deal_id = dealLookup?.deal_id;\nif (!deal_id) {\n  const company = (emailData.guessed_deal_company || emailData.company_name || 'unknown')\n    .toLowerCase()\n    .replace(/[^a-z0-9]/g, '_')\n    .replace(/_+/g, '_')\n    .substring(0, 32);\n  const year = new Date().getFullYear();\n  deal_id = `cw_${company}_${year}`;\n}\n\n// If new deal (not found in deals table), insert it\nconst isNewDeal = !dealLookup?.deal_id;\n\nreturn [{\n  json: {\n    ...emailData,\n    deal_id,\n    qdrant_namespace: deal_id,\n    attribution_confidence: emailData.confidence,\n    is_new_deal: isNewDeal,\n    company_name: dealLookup?.company_name || emailData.company_name || emailData.guessed_deal_company\n  }\n}];\n"
      },
      "id": "assign-deal-id",
      "name": "Code: Assign Deal ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        136
      ]
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 5,
        "output": "={{ {'calendar_invite':0,'email_body':1,'call_transcript':2,'pdf_attachment':3}.hasOwnProperty($json.doc_type) ? {'calendar_invite':0,'email_body':1,'call_transcript':2,'pdf_attachment':3}[$json.doc_type] : 4 }}"
      },
      "id": "doc-type-router",
      "name": "Route by Document Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        3152,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract clean text from email body\nconst emailData = $input.first().json;\n\nlet text = emailData.text || emailData.snippet || '';\n\nif (!text && emailData.html) {\n  text = emailData.html\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst boilerplate = [\n  /CONFIDENTIALITY NOTICE[\\s\\S]*?$/i,\n  /This email and any attachments[\\s\\S]*?$/i,\n  /DISCLAIMER[\\s\\S]*?$/i,\n  /Sent from my iPhone/i,\n  /Get Outlook for/i\n];\nfor (const p of boilerplate) { text = text.replace(p, ''); }\n\nreturn [{ json: { ...emailData, extracted_text: text.trim(), extraction_method: 'email_body' } }];\n"
      },
      "id": "extract-email-body",
      "name": "Code: Extract Email Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3376,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse thread: split a forwarded/reply email thread into individual messages.\n// Each message gets its own sender, date, and body \u2014 so Qdrant gets accurate timestamps.\n// Falls back to treating the whole body as a single message if no thread structure detected.\n\nconst data = $input.first().json;\nconst rawText = data.extracted_text || data.text || '';\n\n// --- Thread splitter patterns (Gmail, Outlook, Apple Mail) ---\n// Pattern 1: Gmail forwarded message header\n//   ---------- Forwarded message ---------\n//   From: Name <email>\n//   Date: Wed, Jan 21, 2026 at 5:50 PM\nconst GMAIL_FWD = /^-{5,}\\s*Forwarded message\\s*-{5,}\\s*$/im;\n\n// Pattern 2: Gmail/Outlook reply quote header\n//   On Wed, Jan 21, 2026 at 5:50 PM Austin Holland <austin@...> wrote:\nconst REPLY_HEADER = /^On\\s+\\w{3},?\\s+\\w+\\s+\\d+,\\s+\\d{4}\\s+at\\s+[\\d:]+\\s*(AM|PM).*wrote:\\s*$/im;\n\n// Pattern 3: Outlook forwarded block\n//   From: Name <email>\n//   Sent: Wednesday, January 21, 2026 5:50 PM\n//   To: ...\n//   Subject: ...\nconst OUTLOOK_FWD = /^From:\\s*.+\\r?\\nSent:\\s*.+\\r?\\nTo:\\s*/im;\n\n// Helper: extract From/Date from a header block\nfunction parseHeaders(block) {\n  const fromMatch = block.match(/From:\\s*([^\\n\\r]+)/i);\n  const dateMatch = block.match(/(?:Date|Sent):\\s*([^\\n\\r]+)/i);\n  const fromRaw = fromMatch ? fromMatch[1].trim() : '';\n  const dateRaw = dateMatch ? dateMatch[1].trim() : '';\n\n  // Extract email address from 'Name <email>' or bare email\n  const emailMatch = fromRaw.match(/<([^>]+)>/) || fromRaw.match(/(\\S+@\\S+)/);\n  const senderEmail = emailMatch ? emailMatch[1] : fromRaw;\n\n  // Parse date \u2014 JS Date handles most formats gracefully\n  let dateCreated = data.email_date || new Date().toISOString();\n  if (dateRaw) {\n    const parsed = new Date(dateRaw);\n    if (!isNaN(parsed.getTime())) dateCreated = parsed.toISOString();\n  }\n\n  return { senderEmail, dateCreated };\n}\n\n// --- Split logic ---\nlet messages = [];\n\n// Try to split on Gmail forwarded header\nif (GMAIL_FWD.test(rawText)) {\n  const parts = rawText.split(GMAIL_FWD);\n  for (const part of parts) {\n    const trimmed = part.trim();\n    if (!trimmed) continue;\n    const { senderEmail, dateCreated } = parseHeaders(trimmed);\n    // Strip the header lines, keep the body\n    const body = trimmed.replace(/^(From:|Date:|To:|Cc:|Subject:)[^\\n]*\\n/gim, '').trim();\n    if (body.length > 50) messages.push({ senderEmail, dateCreated, body });\n  }\n}\n\n// Try reply-quote headers if no forwarded splits found\nif (messages.length <= 1) {\n  const parts = rawText.split(REPLY_HEADER);\n  if (parts.length > 1) {\n    messages = [];\n    for (const part of parts) {\n      const trimmed = part.trim();\n      if (!trimmed) continue;\n      // Reply headers appear as separators \u2014 try to parse date from preceding line\n      const { senderEmail, dateCreated } = parseHeaders(trimmed);\n      const body = trimmed.replace(/^On\\s+[^\\n]+wrote:/im, '').trim();\n      if (body.length > 50) messages.push({ senderEmail, dateCreated, body });\n    }\n  }\n}\n\n// Try Outlook forwarded block\nif (messages.length <= 1 && OUTLOOK_FWD.test(rawText)) {\n  const parts = rawText.split(/(?=^From:\\s*.+\\r?\\nSent:\\s*)/im);\n  if (parts.length > 1) {\n    messages = [];\n    for (const part of parts) {\n      const trimmed = part.trim();\n      if (!trimmed) continue;\n      const { senderEmail, dateCreated } = parseHeaders(trimmed);\n      const body = trimmed.replace(/^(From:|Sent:|To:|Cc:|Subject:)[^\\n]*\\n/gim, '').trim();\n      if (body.length > 50) messages.push({ senderEmail, dateCreated, body });\n    }\n  }\n}\n\n// Fallback: single message, no thread detected\nif (messages.length === 0) {\n  messages = [{ senderEmail: data.sender_email || '', dateCreated: data.email_date || new Date().toISOString(), body: rawText }];\n}\n\n// Sort chronologically (oldest first)\nmessages.sort((a, b) => new Date(a.dateCreated) - new Date(b.dateCreated));\n\n// Return one item per message, carrying all deal metadata but overriding sender/date per message\nreturn messages.map((msg, i) => ({\n  json: {\n    ...data,\n    extracted_text: msg.body,\n    sender_email: msg.senderEmail || data.sender_email,\n    email_date: msg.dateCreated,\n    thread_index: i,\n    thread_total: messages.length,\n    // Preserve original message_id but make each thread message unique for dedup\n    message_id: messages.length > 1 ? `${data.message_id}_t${i}` : data.message_id\n  }\n}));\n"
      },
      "id": "parse-thread",
      "name": "Code: Parse Thread",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        136
      ]
    },
    {
      "parameters": {
        "jsCode": "// Normalize extracted text from different extraction nodes into a single text field.\n// ReadPdf outputs json.text\n// PPTX Code node outputs json.extracted_text\n// SpreadsheetFile outputs rows as separate items \u2014 need concatenation into single item\n// Unknown attachments pass through with existing text\n\n// Helper: resolve correct metadata source for the current processing path.\n// The Extract from File (XLSX/CSV) nodes strip input json and replace with row data,\n// so we must look upstream at the Decode nodes (which still hold metadata).\n// The Decode nodes only ran for their specific path, so we try each in order.\nfunction resolveMetadata() {\n  const metaKeys = [\n    'message_id', 'doc_type', 'deal_id', 'company_name', 'sender_email',\n    'sender_domain', 'subject', 'date_created', 'attribution_confidence',\n    'reasoning', 'deal_stage', 'attachment_name', 'attachment_type',\n    'qdrant_namespace', 'snippet'\n  ];\n\n  // Try upstream Decode nodes first \u2014 they have path-specific metadata\n  const decodeSources = [\n    'Code: Decode XLSX Binary',\n    'Code: Decode Spreadsheet Binary',\n    'Code: Decode PDF Binary'\n  ];\n\n  for (const nodeName of decodeSources) {\n    try {\n      const srcData = $(nodeName).first().json;\n      if (srcData && srcData.message_id) {\n        const meta = {};\n        for (const k of metaKeys) {\n          if (srcData[k] !== undefined && srcData[k] !== null) {\n            meta[k] = srcData[k];\n          }\n        }\n        return meta;\n      }\n    } catch(e) {\n      // Node didn't run on this path \u2014 expected, continue\n    }\n  }\n\n  // Fallback: Split node. Try to find the correct item by doc_type matching.\n  try {\n    const splitItems = $('Code: Split Body + Attachments').all();\n    // If there's only one split item, use it\n    if (splitItems.length === 1) {\n      const srcData = splitItems[0].json;\n      const meta = {};\n      for (const k of metaKeys) {\n        if (srcData[k] !== undefined && srcData[k] !== null) {\n          meta[k] = srcData[k];\n        }\n      }\n      return meta;\n    }\n    // Multiple split items: prefer attachment types over email_body\n    const attachmentItem = splitItems.find(item =>\n      item.json.doc_type && item.json.doc_type !== 'email_body'\n    );\n    if (attachmentItem) {\n      const srcData = attachmentItem.json;\n      const meta = {};\n      for (const k of metaKeys) {\n        if (srcData[k] !== undefined && srcData[k] !== null) {\n          meta[k] = srcData[k];\n        }\n      }\n      return meta;\n    }\n    // Last resort: first item\n    const srcData = splitItems[0].json;\n    const meta = {};\n    for (const k of metaKeys) {\n      if (srcData[k] !== undefined && srcData[k] !== null) {\n        meta[k] = srcData[k];\n      }\n    }\n    return meta;\n  } catch(e) {\n    return {};\n  }\n}\n\nconst items = $input.all();\n\n// Detect multi-row case: multiple items where none have message_id (spreadsheet rows lose metadata)\nconst hasMetadata = items.some(item => item.json.message_id);\nconst isMultiRowNoMeta = items.length > 1 && !hasMetadata;\n\nif (isMultiRowNoMeta) {\n  // CSV/XLSX case: aggregate all rows into one text blob, pull metadata from upstream\n  const metadata = resolveMetadata();\n\n  // Build CSV text: header row + data rows\n  const allKeys = new Set();\n  for (const item of items) {\n    for (const k of Object.keys(item.json)) {\n      if (k !== 'attachment_contentBytes' && k !== 'outlookAttachments') {\n        allKeys.add(k);\n      }\n    }\n  }\n  const headers = Array.from(allKeys);\n  const lines = [headers.join(' | ')];\n  for (const item of items) {\n    const vals = headers.map(h => String(item.json[h] || ''));\n    lines.push(vals.join(' | '));\n  }\n  const extractedText = lines.join('\\n');\n\n  return [{\n    json: {\n      ...metadata,\n      doc_type: metadata.doc_type || 'csv_attachment',\n      text: extractedText,\n      extracted_text: extractedText\n    }\n  }];\n}\n\n// Non-multi-row case: process each item individually\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n\n  // If this item is missing message_id, try to recover metadata from upstream\n  let baseData = data;\n  if (!data.message_id) {\n    const recovered = resolveMetadata();\n    baseData = { ...recovered, ...data };\n  }\n\n  // Try known text fields in priority order\n  let extractedText = data.extracted_text || data.text || '';\n\n  // SpreadsheetFile single-row fallback: concatenate all non-meta fields\n  if (!extractedText && typeof data === 'object') {\n    const keys = Object.keys(data).filter(k =>\n      k !== 'attachment_contentBytes' && k !== 'outlookAttachments' &&\n      k !== 'doc_type' && k !== 'deal_id' && k !== 'company_name' &&\n      k !== 'sender_email' && k !== 'sender_domain' && k !== 'subject' &&\n      k !== 'message_id' && k !== 'date_created' && k !== 'attribution_confidence' &&\n      k !== 'reasoning' && k !== 'deal_stage' && k !== 'attachment_name' &&\n      k !== 'attachment_type' && k !== 'qdrant_namespace' && k !== 'snippet'\n    );\n    if (keys.length > 0) {\n      const rowParts = keys.map(k => k + ': ' + String(data[k] || ''));\n      extractedText = rowParts.join(' | ');\n    }\n  }\n\n  if (!extractedText || extractedText.length < 10) {\n    extractedText = '[No text extracted from attachment]';\n  }\n\n  // Build clean output \u2014 strip binary/large fields\n  const cleanMeta = {};\n  for (const key of Object.keys(baseData)) {\n    if (key !== 'attachment_contentBytes' && key !== 'outlookAttachments') {\n      cleanMeta[key] = baseData[key];\n    }\n  }\n\n  results.push({\n    json: {\n      ...cleanMeta,\n      text: extractedText,\n      extracted_text: extractedText\n    }\n  });\n}\n\nreturn results;\n",
        "mode": "runOnceForAllItems"
      },
      "id": "merge-extracted",
      "name": "Code: Merge Extracted Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3824,
        232
      ]
    },
    {
      "parameters": {
        "jsCode": "// Contextual enrichment: prepend deal/doc context to extracted text\nconst data = $input.first().json;\n\n// For calendar invites, embeddable_text is already built by Code: Parse ICS\nif (data.doc_type === 'calendar_invite' && data.embeddable_text) {\n  return [{ json: { ...data, enriched_text: data.embeddable_text, extracted_text: data.embeddable_text } }];\n}\n\nconst dealId = data.deal_id || 'unknown';\nconst companyName = data.company_name || data.guessed_deal_company || 'Unknown Company';\nconst docType = data.doc_type || 'email';\nconst senderEmail = data.sender_email || '';\nconst rawText = data.extracted_text || '';\n\n// For call transcripts, try to extract the actual call date from the document content.\n// Transcripts are often forwarded days after the call occurred, so the Gmail Date header\n// reflects when the email was sent, not when the call happened.\n// Look for common transcript date patterns at the top of the document.\nfunction extractTranscriptDate(text) {\n  // Match patterns like:\n  //   Date: January 21, 2026\n  //   Date: 2026-01-21\n  //   Call Date: Wed, Jan 21, 2026\n  //   January 21, 2026  (standalone line near top)\n  const patterns = [\n    /^(?:call\\s+)?date[:\\s]+([\\w,\\s]+\\d{4})/im,\n    /^date[:\\s]+(\\d{4}-\\d{2}-\\d{2})/im,\n    /^(?:meeting|session|call)[\\s\\S]{0,40}?(\\b(?:january|february|march|april|may|june|july|august|september|october|november|december)\\s+\\d{1,2},?\\s+\\d{4})/im,\n    /\\b(\\d{4}-\\d{2}-\\d{2})\\b/,\n    /\\b((?:january|february|march|april|may|june|july|august|september|october|november|december)\\s+\\d{1,2},?\\s+\\d{4})\\b/i\n  ];\n  // Only scan the first 500 chars \u2014 date lines are always near the top\n  const sample = text.slice(0, 500);\n  for (const pattern of patterns) {\n    const match = sample.match(pattern);\n    if (match) {\n      const parsed = new Date(match[1]);\n      if (!isNaN(parsed.getTime())) return parsed.toISOString();\n    }\n  }\n  return null;\n}\n\nlet resolvedDate = data.email_date;\nif (docType === 'call_transcript') {\n  const transcriptDate = extractTranscriptDate(rawText);\n  if (transcriptDate) resolvedDate = transcriptDate;\n}\n\nconst emailDate = resolvedDate ? new Date(resolvedDate).toISOString().split('T')[0] : new Date().toISOString().split('T')[0];\n\nconst contextHeader = `[DEAL CONTEXT]\\nDeal: ${companyName} (ID: ${dealId})\\nDocument Type: ${docType}\\nDate: ${emailDate}\\nSource: ${senderEmail}\\n[END CONTEXT]\\n\\n`;\n\nconst enrichedText = contextHeader + rawText;\n\nreturn [{ json: { ...data, enriched_text: enrichedText, email_date: resolvedDate || data.email_date } }];\n"
      },
      "id": "contextual-enrichment",
      "name": "Code: Contextual Enrichment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4048,
        232
      ]
    },
    {
      "parameters": {
        "jsCode": "// Split enriched text into chunks, carrying all deal metadata forward.\n// call_transcript: sentence-boundary aware, chunkSize=2500, overlap=250\n//   \u2014 keeps full speaker utterances intact so CAS-scoring evidence\n//     (e.g. \"I would stagegate this...\") never splits across chunks.\n// All other doc types: fixed character split, chunkSize=1800, overlap=180\nconst data = $input.first().json;\nconst text = data.enriched_text || '';\nconst isTranscript = (data.doc_type === 'call_transcript');\nconst isAttachment = ['pdf_attachment','pptx_attachment','csv_attachment'].includes(data.doc_type);\nconst chunkSize    = (isTranscript || isAttachment) ? 2500 : 1800;\nconst chunkOverlap = (isTranscript || isAttachment) ? 250  : 180;\n\nlet chunks = [];\n\nif (isTranscript) {\n  // Sentence-boundary aware splitting for transcripts.\n  // Split on sentence-ending punctuation OR speaker-turn boundaries (\"Name: \").\n  // Regex: split AFTER . ? ! followed by whitespace+capital, OR at a newline\n  // followed by a word and colon (speaker label like \"Austin:\" or \"Brad:\").\n  const sentenceBreak = /(?<=[.?!])\\s+(?=[A-Z])|(?=\\n[A-Za-z][^:\\n]{0,30}:)/g;\n  const sentences = text.split(sentenceBreak).filter(s => s.trim().length > 0);\n\n  let current = '';\n  for (const sentence of sentences) {\n    if (current.length + sentence.length > chunkSize && current.length > 0) {\n      chunks.push(current.trim());\n      // Overlap: keep the tail of the current chunk as the start of the next\n      const overlapStart = current.length > chunkOverlap\n        ? current.length - chunkOverlap\n        : 0;\n      current = current.slice(overlapStart) + ' ' + sentence;\n    } else {\n      current += (current.length > 0 ? ' ' : '') + sentence;\n    }\n  }\n  if (current.trim().length > 0) chunks.push(current.trim());\n\n} else {\n  // Fixed character split for emails, PDFs, and everything else\n  let start = 0;\n  while (start < text.length) {\n    const end = Math.min(start + chunkSize, text.length);\n    chunks.push(text.slice(start, end));\n    if (end === text.length) break;\n    start = end - chunkOverlap;\n  }\n}\n\nreturn chunks.map((chunk, index) => ({\n  json: {\n    ...data,\n    chunk_text: chunk,\n    chunk_index: index,\n    total_chunks: chunks.length\n  }\n}));\n"
      },
      "id": "chunk-text",
      "name": "Code: Chunk Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4272,
        232
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'text-embedding-3-small', input: $json.chunk_text }) }}",
        "options": {}
      },
      "id": "embed-chunk",
      "name": "HTTP: Embed Chunk",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4496,
        232
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "openAiApi": {
          "id": "0uPlAmGz2rZbF75R",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build Qdrant point with embedding + full metadata payload\n// HTTP Request nodes break paired item chains in n8n \u2014 retrieve chunk data\n// by matching on chunk_index from all Code: Chunk Text outputs.\nconst allItems = $input.all();\nconst allChunks = $('Code: Chunk Text').all();\n\n// UUID v4 without require('crypto') \u2014 n8n sandbox blocks it\nfunction uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}\n\n// Build one point per item in input (each is one OpenAI embed response)\nreturn allItems.map((item, i) => {\n  const embedding = item.json.data?.[0]?.embedding;\n  if (!embedding) throw new Error(`No embedding at index ${i}`);\n  // Match chunk by index \u2014 allChunks and allItems are in the same order\n  const chunkData = (allChunks[i] || allChunks[0]).json;\n  const point = {\n    id: uuidv4(),\n    vector: embedding,\n    payload: {\n      deal_id: chunkData.deal_id || 'unknown',\n      company_name: chunkData.company_name || chunkData.guessed_deal_company || 'Unknown',\n      doc_type: chunkData.doc_type || 'email_body',\n      sender_domain: chunkData.sender_domain || '',\n      attribution_confidence: chunkData.attribution_confidence || 'low',\n      date_created: chunkData.email_date || '',\n      message_id: chunkData.message_id || '',\n      chunk_index: chunkData.chunk_index || i,\n      page_content: chunkData.chunk_text || ''\n    }\n  };\n  return { json: { point, ...chunkData } };\n});\n"
      },
      "id": "build-qdrant-point",
      "name": "Code: Build Qdrant Point",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4720,
        232
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://qdrant:6333/collections/deals/points",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ points: [$json.point] }) }}",
        "options": {}
      },
      "id": "qdrant-upsert",
      "name": "HTTP: Qdrant Upsert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4944,
        232
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {}
      },
      "id": "log-ingestion",
      "name": "Postgres: Log Ingestion",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        5392,
        232
      ],
      "credentials": {
        "postgres": {
          "id": "WwO5ZGy91Fw5lSFo",
          "name": "Clearwater Postgres"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/deal-health-trigger",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ deal_id: $('Code: Count Chunks').first().json.deal_id, trigger_message_id: $('Code: Count Chunks').first().json.message_id, trigger_type: 'new_ingestion' }) }}",
        "options": {
          "response": {
            "response": {}
          },
          "timeout": 2000
        }
      },
      "id": "trigger-health-agent",
      "name": "HTTP: Trigger Health Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        5616,
        232
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO deals (deal_id, company_name, sender_domains, deal_stage, deal_owner, is_active)\nVALUES (\n  '{{ $json.deal_id }}',\n  '{{ $json.company_name }}',\n  CASE WHEN '{{ $json.sender_domain }}' NOT IN ('clearwatersecurity.com','zoom.us','noreply-zoomevents.zoom.us','healthcarecouncil.com','paylocity.com','salesforce.com','gmail.com','outlook.com','hotmail.com','yahoo.com') \n       AND '{{ $json.sender_domain }}' != ''\n       THEN ARRAY['{{ $json.sender_domain }}']\n       ELSE '{}'::text[]\n  END,\n  'discover',\n  'austin.holland@clearwatersecurity.com',\n  true\n)\nON CONFLICT (deal_id) DO NOTHING",
        "options": {}
      },
      "id": "upsert-deal",
      "name": "Postgres: Upsert Deal",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2704,
        136
      ],
      "credentials": {
        "postgres": {
          "id": "WwO5ZGy91Fw5lSFo",
          "name": "Clearwater Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pull deal metadata from the attribution node (Postgres: Upsert Deal outputs {success:true})\n// Use Code: Assign Deal ID as the source of truth for deal metadata\nlet dealData;\ntry {\n  dealData = $('Code: Assign Deal ID').first().json;\n} catch(e) {\n  dealData = $('Code: Assign Unattributed Deal ID').first().json;\n}\nreturn [{ json: dealData }];"
      },
      "id": "passthrough-deal",
      "name": "Code: Pass Deal Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2928,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// Count how many chunks were upserted into Qdrant.\n// Also builds the escaped SQL INSERT for Postgres: Log Ingestion.\n// For attachment items (pdf_attachment, pptx_attachment, csv_attachment),\n// appends _att_<index> to message_id so each gets its own ingestion_log entry.\n//\n// IMPORTANT: HTTP: Qdrant Upsert strips input data \u2014 $input only has Qdrant's\n// response {result, status, time}. Pull enrichment metadata from Build Qdrant Point\n// which carries forward all chunk metadata via ...chunkData spread.\n\n// Get all items from Build Qdrant Point \u2014 these have the enrichment metadata\nconst buildItems = $('Code: Build Qdrant Point').all();\n\n// Group items by doc_type+message_id to handle multi-document executions\n// (e.g. email_body + xlsx_attachment in the same email)\nconst docGroups = {};\nfor (const item of buildItems) {\n  const d = item.json;\n  const key = (d.message_id || 'unknown') + '::' + (d.doc_type || 'unknown');\n  if (!docGroups[key]) {\n    docGroups[key] = { meta: d, count: 0 };\n  }\n  docGroups[key].count++;\n}\n\n// sq() escapes single quotes for SQL: ' -> ''  then wraps in single quotes\nfunction sq(val) {\n  if (val === null || val === undefined) return 'NULL';\n  return \"'\" + String(val).replace(/'/g, \"''\") + \"'\";\n}\n\nconst results = [];\n\nfor (const [key, group] of Object.entries(docGroups)) {\n  const enrichData = group.meta;\n  const chunkCount = enrichData.total_chunks || group.count;\n\n  // For attachments, create a unique message_id by appending attachment name hash\n  let messageId = enrichData.message_id;\n  const attachmentTypes = ['pdf_attachment', 'pptx_attachment', 'csv_attachment', 'xlsx_attachment'];\n  if (attachmentTypes.includes(enrichData.doc_type) && enrichData.attachment_name) {\n    // Create a short hash from the attachment name for uniqueness\n    const attName = enrichData.attachment_name.replace(/[^a-zA-Z0-9]/g, '_').substring(0, 40);\n    messageId = messageId + '_att_' + attName;\n  }\n\n  const query = `INSERT INTO ingestion_log (message_id, deal_id, attribution_confidence, attribution_status, sender_email, sender_domain, subject, doc_type, attachment_count, chunk_count, qdrant_namespace, classification_reasoning) VALUES (${sq(messageId)}, ${sq(enrichData.deal_id)}, ${sq(enrichData.attribution_confidence)}, 'processed', ${sq(enrichData.sender_email)}, ${sq(enrichData.sender_domain)}, ${sq(enrichData.subject)}, ${sq(enrichData.doc_type)}, 0, ${chunkCount}, ${sq(enrichData.qdrant_namespace)}, ${sq(enrichData.reasoning)}) ON CONFLICT (message_id) DO NOTHING`;\n\n  results.push({ json: { ...enrichData, chunk_count: chunkCount, query } });\n}\n\n// If somehow no groups formed (shouldn't happen), fall back to empty result\nif (results.length === 0) {\n  return [{ json: { chunk_count: 0, query: '-- no items to log' } }];\n}\n\nreturn results;"
      },
      "id": "count-chunks",
      "name": "Code: Count Chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5168,
        232
      ]
    },
    {
      "parameters": {
        "jsCode": "// Normalise email fields for content-level dedup\n// Strips FW:/Re:/Fwd: prefix from subject so forwarded copies are caught\nconst msg = $input.first().json;\n\nfunction getHeader(headers, name) {\n  if (!headers) return '';\n  const h = headers.find(h => h.name.toLowerCase() === name.toLowerCase());\n  return h ? h.value : '';\n}\nconst headers = msg.payload?.headers || [];\nconst rawSubject = msg.Subject || msg.subject || getHeader(headers, 'Subject') || '';\nconst rawFrom    = msg.From    || msg.from    || getHeader(headers, 'From')    || '';\n\n// Strip reply/forward prefixes recursively\nconst normSubject = rawSubject.replace(/^(fw:|re:|fwd:|forward:)\\s*/gi, '').trim().toLowerCase();\n\n// Extract domain from From header  'Name <email@domain.com>' or 'email@domain.com'\nconst addrMatch = rawFrom.match(/<([^>]+)>/) || rawFrom.match(/(\\S+@\\S+)/);\nconst senderAddr = addrMatch ? addrMatch[1] : rawFrom;\nconst domain = senderAddr.includes('@') ? senderAddr.split('@')[1].toLowerCase().replace(/['>]/g,'') : '';\n\nreturn [{ json: { ...msg, norm_subject: normSubject, sender_domain_dedup: domain } }];\n"
      },
      "id": "aabbccdd-1122-3344-5566-778899aabbcc",
      "name": "Code: Normalize For Dedup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        208
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "outlook-email-ingest",
        "options": {}
      },
      "id": "outlook-webhook-0001-0000-0000-000000000001",
      "name": "Webhook: Receive Outlook Email",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        208
      ],
      "webhookId": "805c803c-7239-492a-a55c-f3dbd2d60687"
    },
    {
      "parameters": {
        "jsCode": "// Normalize Power Automate Outlook payload to match Gmail field shape\n// Expected PA payload:\n// { messageId, subject, from, to, sentAt, bodyContent, attachments: [{name, contentType, contentBytes}] }\nconst body = $input.first().json.body || $input.first().json;\n\nconst messageId   = String(body.messageId || body.message_id || '');\nconst subject     = body.subject || '';\nconst from        = body.from || '';\nconst to          = body.to || '';\nconst sentAt      = body.sentAt || body.sent_at || new Date().toISOString();\nconst rawText     = body.bodyContent || body.body_content || '';\nconst attachments = body.attachments || [];\n\n// Strip HTML tags and decode common HTML entities to get clean plain text\nfunction stripHtml(html) {\n  if (!html || !html.includes('<')) return html;\n  return html\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/p>/gi, '\\n')\n    .replace(/<\\/div>/gi, '\\n')\n    .replace(/<[^>]+>/g, '')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/\\r\\n/g, '\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n}\n\nconst text = stripHtml(rawText);\n\nreturn [{\n  json: {\n    id: messageId,\n    Subject: subject,\n    From: from,\n    To: to,\n    Date: sentAt,\n    text: text,\n    snippet: text.substring(0, 200),\n    outlookAttachments: attachments,\n    source: 'outlook'\n  }\n}];\n"
      },
      "id": "normalize-outlook-0001-0000-0000-000000000001",
      "name": "Code: Normalize Outlook Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Code: Normalize For Dedup').first().json;\nconst from = d.From || d.from || 'unknown';\nconst subject = d.Subject || d.subject || '(no subject)';\nconst bodyText = (d.text ?? d.snippet ?? '').slice(0, 2000);\n\n// Build past corrections section from recent feedback\nlet correctionsSection = '';\ntry {\n  const correctionRows = $('Postgres: Get Recent Corrections').all();\n  if (correctionRows && correctionRows.length > 0) {\n    const examples = correctionRows\n      .map(r => r.json)\n      .filter(r => r.classification_feedback || r.doc_type_override || r.deal_id_override)\n      .map(r => {\n        const parts = [];\n        parts.push(`Email from domain \"${r.sender_domain || 'unknown'}\" with subject \"${r.subject || '(no subject)'}\"`);\n        parts.push(`was classified as ${r.doc_type} for deal ${r.deal_id}.`);\n        const feedback = r.classification_feedback || '';\n        if (r.doc_type_override && r.doc_type_override !== r.doc_type) {\n          parts.push(`Austin corrected doc_type to \"${r.doc_type_override}\".`);\n        }\n        if (r.deal_id_override && r.deal_id_override !== r.deal_id) {\n          parts.push(`Austin corrected deal to \"${r.deal_id_override}\".`);\n        }\n        if (feedback) {\n          parts.push(`Feedback: \"${feedback}\"`);\n        }\n        return '- ' + parts.join(' ');\n      });\n    if (examples.length > 0) {\n      correctionsSection = '\\n\\nPAST CORRECTIONS (learn from these \u2014 avoid repeating these mistakes):\\n' + examples.join('\\n');\n    }\n  }\n} catch (e) {\n  // No corrections available \u2014 continue without them\n}\n\nconst prompt = `You are a deal attribution classifier for Clearwater Security & Compliance. Analyze this email and return ONLY a JSON object (no markdown, no code fences) with these exact fields:\n{\n  \"company_name\": \"<company name or Unknown>\",\n  \"sender_domain\": \"<domain from sender email>\",\n  \"doc_type\": \"<email_body|call_transcript|pdf_attachment|pptx_attachment|csv_attachment|calendar_invite|other>\",\n  \"deal_indicators\": [],\n  \"guessed_deal_company\": \"<company name>\",\n  \"confidence\": \"<high|medium|low>\",\n  \"confidence_score\": 0.0,\n  \"reasoning\": \"<one sentence>\"\n}\n\nCLASSIFICATION RULES (apply in order):\n\nRULE 1 - doc_type from subject line (overrides body inference):\nIf the subject contains \"transcript\", \"call transcript\", \"recording\", or \"call notes\" set doc_type to call_transcript, regardless of sender or body content.\nIf the subject contains \"calendar invite\" or the body contains BEGIN:VCALENDAR/DTSTART/DTEND set doc_type to calendar_invite.\n\nRULE 2 - company attribution when sender is internal (clearwatersecurity.com):\nIf the sender domain is clearwatersecurity.com, do NOT use the sender to identify the deal company.\nExtract the prospect company name from the subject line (e.g. \"Velentium\" from \"FW: Call Transcript - Velentium | Clearwater\").\nSet guessed_deal_company to that company name and confidence to high if a company name is clearly present in the subject.\nIf no company name can be extracted from the subject, set confidence to low.\n\nRULE 3 - company attribution when sender is external:\nUse the sender domain to identify the deal company. High confidence if the domain is a recognizable company. Low confidence if the domain is generic (gmail.com, outlook.com, etc.).\n\nRULE 4 - calendar invite override:\nIf the subject/body contains calendar invite markers (BEGIN:VCALENDAR, DTSTART, DTEND, SUMMARY, ORGANIZER, ATTENDEE) then set doc_type to calendar_invite regardless of other content.\n\n\nRULE 5 - reject purely internal emails:\nIf the sender domain is clearwatersecurity.com AND no prospect company name is identifiable from the subject line, set confidence to low and guessed_deal_company to \"Unknown\".\nNever set sender_domain to clearwatersecurity.com in your output \u2014 always use the PROSPECT domain (extracted from email content) or leave it blank.${correctionsSection}\n\nEmail details:\nFrom: ${from}\nSubject: ${subject}\n\nBody (first 2000 chars): ${bodyText}`;\n\nconst requestBody = JSON.stringify({\n  model: 'claude-sonnet-4-6',\n  max_tokens: 1024,\n  messages: [{ role: 'user', content: prompt }]\n});\n\nreturn [{ json: { classify_request_body: requestBody } }];\n"
      },
      "id": "7dbcf2ca-968b-436b-afdf-cca28a2d1ce0",
      "name": "Code: Build Classify Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst item = items[0].json;\nconst doc_type = item.doc_type || item.document_type || 'document';\nconst company = item.company_name || item.deal_id || 'Unknown';\nconst subject = item.subject || item.source_file || 'No subject';\nreturn [{\n  json: {\n    title: `New ${doc_type} ingested`,\n    message: `${company}: ${subject}`,\n    priority: \"0\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5616,
        432
      ],
      "id": "pushover-code-ingestion",
      "name": "Code: Build Ingestion Alert"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pushover.net/1/messages.json",
        "sendHeaders": false,
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "a4fzbepw4phpxn5kirrvewcv7di5nh"
            },
            {
              "name": "user",
              "value": "ur5bbr58fnkhocxaqsgowdq4hz393h"
            },
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "priority",
              "value": "={{ $json.priority }}"
            },
            {
              "name": "sound",
              "value": "pushover"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5840,
        432
      ],
      "id": "pushover-http-ingestion",
      "name": "Pushover: Ingestion Alert"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst item = items[0].json;\nconst subject = item.subject || 'No subject';\nconst sender = item.sender_email || item.from_email || 'Unknown sender';\nreturn [{\n  json: {\n    title: \"Low confidence \\u2014 needs review\",\n    message: `${subject} from ${sender} \\u2014 confirm deal attribution in Deal Room`,\n    priority: \"1\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        528
      ],
      "id": "pushover-code-attribution",
      "name": "Code: Build Attribution Alert"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pushover.net/1/messages.json",
        "sendHeaders": false,
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "a4fzbepw4phpxn5kirrvewcv7di5nh"
            },
            {
              "name": "user",
              "value": "ur5bbr58fnkhocxaqsgowdq4hz393h"
            },
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "priority",
              "value": "={{ $json.priority }}"
            },
            {
              "name": "sound",
              "value": "pushover"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2928,
        528
      ],
      "id": "pushover-http-attribution",
      "name": "Pushover: Attribution Alert"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO deal_notifications (deal_id, notification_type, summary, context) VALUES ('{{ $('Code: Count Chunks').first().json.deal_id }}', 'ingestion_alert', '{{ $('Code: Build Ingestion Alert').first().json.message }}', '{\"doc_type\": \"{{ $('Code: Count Chunks').first().json.doc_type }}\"}'::jsonb)",
        "options": {}
      },
      "id": "cw01-log-ingestion-alert",
      "name": "Postgres: Log Ingestion Alert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        6064,
        432
      ],
      "credentials": {
        "postgres": {
          "id": "WwO5ZGy91Fw5lSFo",
          "name": "Clearwater Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT sender_domain, subject, doc_type, doc_type_override, deal_id, deal_id_override, classification_feedback, classification_reasoning FROM ingestion_log WHERE feedback_status = 'incorrect' AND feedback_at > NOW() - INTERVAL '90 days' ORDER BY feedback_at DESC LIMIT 10",
        "options": {}
      },
      "id": "pg-recent-corrections",
      "name": "Postgres: Get Recent Corrections",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1136,
        408
      ],
      "credentials": {
        "postgres": {
          "id": "WwO5ZGy91Fw5lSFo",
          "name": "Clearwater Postgres"
        }
      }
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 4,
        "output": "={{ {'pptx_attachment':0,'csv_attachment':1,'xlsx_attachment':2}.hasOwnProperty($json.doc_type) ? {'pptx_attachment':0,'csv_attachment':1,'xlsx_attachment':2}[$json.doc_type] : 3 }}"
      },
      "id": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a",
      "name": "Route Attachment Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        3376,
        600
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        240,
        680
      ],
      "id": "err-trigger-001",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Extract error details from the Error Trigger node's execution data\n// Handle various shapes of error trigger payload\nconst inputData = $json || {};\nconst execution = inputData.execution || {};\nconst error = execution.error || inputData.error || {};\n\nlet errorMessage = 'Unknown error';\nif (typeof error === 'string') {\n  errorMessage = error;\n} else if (error.message) {\n  errorMessage = error.message;\n} else if (error.description) {\n  errorMessage = error.description;\n}\n\nlet errorNodeName = 'Unknown node';\nif (error.node && typeof error.node === 'object' && error.node.name) {\n  errorNodeName = error.node.name;\n} else if (error.node && typeof error.node === 'string') {\n  errorNodeName = error.node;\n} else if (inputData.node && typeof inputData.node === 'string') {\n  errorNodeName = inputData.node;\n}\n\nconst executionId = execution.id || inputData.executionId || 'N/A';\nconst workflowName = (execution.workflowData && execution.workflowData.name)\n  ? execution.workflowData.name\n  : 'CW-01 Ingestion';\n\nconst title = 'CW-01 Error: ' + errorNodeName;\nconst message = [\n  'Node: ' + errorNodeName,\n  'Error: ' + errorMessage,\n  'Execution: ' + executionId,\n  'Workflow: ' + workflowName\n].join('\\n');\n\nreturn {\n  json: {\n    token: 'a4fzbepw4phpxn5kirrvewcv7di5nh',\n    user: 'ur5bbr58fnkhocxaqsgowdq4hz393h',\n    title: title,\n    message: message,\n    priority: 0\n  }\n};",
        "mode": "runOnceForEachItem"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        680
      ],
      "id": "err-build-alert-002",
      "name": "Code: Build Error Alert"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pushover.net/1/messages.json",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.token }}"
            },
            {
              "name": "user",
              "value": "={{ $json.user }}"
            },
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "priority",
              "value": "={{ $json.priority }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        680
      ],
      "id": "err-send-alert-003",
      "name": "Pushover: Error Alert"
    },
    {
      "parameters": {
        "jsCode": "// Split an email into multiple items: one for the body text, one per processable attachment.\n// This ensures emails with body text AND attachments get BOTH processed.\n// Checks multiple field locations for attachments (PA webhook format varies).\nconst data = $input.first().json;\n\n// Get the original classified doc_type (email_body, call_transcript, etc.)\nconst originalDocType = data.doc_type;\n\n// Gather attachments from ALL possible locations\nlet attachments = [];\n\n// 1. Try upstream Normalize node (canonical location)\ntry {\n  const normData = $('Code: Normalize Outlook Payload').first().json;\n  if (Array.isArray(normData.outlookAttachments) && normData.outlookAttachments.length > 0) {\n    attachments = normData.outlookAttachments;\n  } else if (Array.isArray(normData.attachments) && normData.attachments.length > 0) {\n    attachments = normData.attachments;\n  }\n} catch(e) {\n  // Node reference not available \u2014 fall through\n}\n\n// 2. If still empty, check current data object (may have been renamed by Parse Classification)\nif (attachments.length === 0) {\n  if (Array.isArray(data.outlookAttachments) && data.outlookAttachments.length > 0) {\n    attachments = data.outlookAttachments;\n  } else if (Array.isArray(data.attachments) && data.attachments.length > 0) {\n    attachments = data.attachments;\n  }\n}\n\n// 3. Last resort: check raw webhook body\nif (attachments.length === 0) {\n  try {\n    const webhookData = $('Webhook: Receive Outlook Email').first().json;\n    const body = webhookData.body || webhookData;\n    if (Array.isArray(body.attachments) && body.attachments.length > 0) {\n      attachments = body.attachments;\n    }\n  } catch(e) {\n    // Webhook node reference not available\n  }\n}\n\n// Extension to doc_type mapping\nconst extMap = {\n  '.pdf': 'pdf_attachment',\n  '.pptx': 'pptx_attachment',\n  '.ppt': 'pptx_attachment',\n  '.csv': 'csv_attachment',\n  '.xlsx': 'xlsx_attachment',\n  '.xls': 'xlsx_attachment'\n};\n\n// Filter to non-inline, processable attachments\nconst processableAttachments = attachments.filter(att => {\n  if (!att || typeof att !== 'object') return false;\n  if (att.isInline === true) return false;\n  const name = (att.name || att.Name || '').toLowerCase();\n  return Object.keys(extMap).some(ext => name.endsWith(ext));\n});\n\n// Build output items\nconst outputItems = [];\n\n// 1. Always output the original body item (email_body or call_transcript)\n//    Only include if the doc_type is a body type (not already an attachment type)\nconst bodyTypes = ['email_body', 'call_transcript', 'calendar_invite'];\nif (bodyTypes.includes(originalDocType)) {\n  outputItems.push({\n    json: {\n      ...data,\n      doc_type: originalDocType,\n      attachment_name: null,\n      attachment_contentType: null,\n      attachment_contentBytes: null\n    }\n  });\n}\n\n// 2. One item per processable attachment\nfor (const att of processableAttachments) {\n  const name = (att.name || att.Name || '').toLowerCase();\n  const ext = Object.keys(extMap).find(e => name.endsWith(e));\n  if (ext) {\n    outputItems.push({\n      json: {\n        ...data,\n        doc_type: extMap[ext],\n        attachment_name: att.name || att.Name || '',\n        attachment_contentType: att.contentType || att.ContentType || '',\n        attachment_contentBytes: att.contentBytes || att.ContentBytes || ''\n      }\n    });\n  }\n}\n\n// If somehow we have no items (e.g. doc_type was pdf_attachment with no actual attachments),\n// fall through with original data\nif (outputItems.length === 0) {\n  outputItems.push({\n    json: {\n      ...data,\n      attachment_name: null,\n      attachment_contentType: null,\n      attachment_contentBytes: null\n    }\n  });\n}\n\nreturn outputItems;\n",
        "mode": "runOnceForAllItems"
      },
      "id": "split-body-attachments-001",
      "name": "Code: Split Body + Attachments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        184
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Decode base64 PDF attachment and output as n8n binary for ReadPdf node.\n// Input: items with attachment_contentBytes (base64 string)\n// Output: { json: { ...metadata }, binary: { data: binaryData } }\n// Guard: if contentBytes is empty after all fallbacks, skip with error message\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  let base64Content = data.attachment_contentBytes || '';\n  let attachmentName = data.attachment_name || 'attachment.pdf';\n\n  // Build clean metadata (exclude raw binary content to save memory)\n  const metadata = {};\n  for (const key of Object.keys(data)) {\n    if (key !== 'attachment_contentBytes' && key !== 'outlookAttachments') {\n      metadata[key] = data[key];\n    }\n  }\n\n  if (!base64Content) {\n    // Fallback: legacy outlookAttachments lookup\n    const attachments = data.outlookAttachments || [];\n    const pdfAttachment = attachments.find(a => {\n      const name = (a.name || '').toLowerCase();\n      const ct = (a.contentType || '').toLowerCase();\n      return ct.includes('pdf') || name.endsWith('.pdf');\n    });\n    if (pdfAttachment) {\n      base64Content = pdfAttachment.contentBytes || '';\n      attachmentName = pdfAttachment.name || 'attachment.pdf';\n    }\n  }\n\n  // Guard: if still no content, skip with descriptive error \u2014 do NOT crash\n  if (!base64Content) {\n    const skipMsg = 'PDF attachment \"' + attachmentName + '\" has empty contentBytes. ' +\n      'The attachment may have been filtered by Power Automate or sent inline. ' +\n      'message_id: ' + (metadata.message_id || 'unknown');\n    results.push({\n      json: {\n        ...metadata,\n        text: '[SKIPPED: ' + skipMsg + ']',\n        extracted_text: '[SKIPPED: ' + skipMsg + ']',\n        doc_type: 'pdf_attachment',\n        _skipped: true,\n        _skip_reason: skipMsg\n      }\n    });\n    continue;\n  }\n\n  const buffer = Buffer.from(base64Content, 'base64');\n  const binaryData = await this.helpers.prepareBinaryData(\n    buffer,\n    attachmentName,\n    'application/pdf'\n  );\n\n  results.push({\n    json: { ...metadata, attachment_name: attachmentName, doc_type: 'pdf_attachment' },\n    binary: { data: binaryData }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3376,
        352
      ],
      "id": "decode-pdf-binary-001",
      "name": "Code: Decode PDF Binary"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data",
        "options": {
          "joinPages": true,
          "keepSource": "json"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        3600,
        352
      ],
      "id": "extract-pdf-node-001",
      "name": "Extract from File (PDF)"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Extract text from PPTX attachment using adm-zip.\n// Decodes base64 \u2192 Buffer \u2192 AdmZip \u2192 extracts slide XML \u2192 strips tags.\n// Single node \u2014 no binary output needed, does both decode and extract.\nconst AdmZip = require('adm-zip');\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  let base64Content = data.attachment_contentBytes || '';\n  let attachmentName = data.attachment_name || 'attachment.pptx';\n\n  // Build clean metadata (exclude raw binary content)\n  const metadata = {};\n  for (const key of Object.keys(data)) {\n    if (key !== 'attachment_contentBytes' && key !== 'outlookAttachments') {\n      metadata[key] = data[key];\n    }\n  }\n\n  if (!base64Content) {\n    // Fallback: legacy outlookAttachments lookup\n    const attachments = data.outlookAttachments || [];\n    const pptxAttachment = attachments.find(a => {\n      const name = (a.name || '').toLowerCase();\n      const ct = (a.contentType || '').toLowerCase();\n      return ct.includes('presentation') || ct.includes('pptx') || name.endsWith('.pptx') || name.endsWith('.ppt');\n    });\n    if (!pptxAttachment) {\n      results.push({ json: { ...metadata, extracted_text: '[No PPTX attachment found]' } });\n      continue;\n    }\n    base64Content = pptxAttachment.contentBytes;\n    attachmentName = pptxAttachment.name || 'attachment.pptx';\n  }\n\n  const buffer = Buffer.from(base64Content, 'base64');\n  const zip = new AdmZip(buffer);\n  const entries = zip.getEntries();\n\n  // Get slide XMLs sorted by slide number\n  const slideEntries = entries\n    .filter(e => /^ppt\\/slides\\/slide\\d+\\.xml$/i.test(e.entryName))\n    .sort((a, b) => {\n      const numA = parseInt(a.entryName.match(/slide(\\d+)/i)[1]);\n      const numB = parseInt(b.entryName.match(/slide(\\d+)/i)[1]);\n      return numA - numB;\n    });\n\n  let fullText = '';\n  for (const entry of slideEntries) {\n    const xml = entry.getData().toString('utf8');\n    const slideNum = entry.entryName.match(/slide(\\d+)/i)[1];\n    // Strip XML tags, decode entities\n    const text = xml\n      .replace(/<a:br[^/]*\\/>/gi, '\\n')\n      .replace(/<\\/a:p>/gi, '\\n')\n      .replace(/<[^>]+>/g, ' ')\n      .replace(/&amp;/g, '&')\n      .replace(/&lt;/g, '<')\n      .replace(/&gt;/g, '>')\n      .replace(/&quot;/g, '\"')\n      .replace(/&apos;/g, \"'\")\n      .replace(/&#\\d+;/g, '')\n      .replace(/ {2,}/g, ' ')\n      .replace(/\\n{3,}/g, '\\n\\n')\n      .trim();\n    if (text) {\n      fullText += '\\n--- Slide ' + slideNum + ' ---\\n' + text + '\\n';\n    }\n  }\n\n  if (!fullText.trim()) {\n    fullText = '[PPTX contained no extractable text]';\n  }\n\n  results.push({ json: { ...metadata, extracted_text: fullText.trim(), attachment_name: attachmentName } });\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        520
      ],
      "id": "extract-pptx-admzip-001",
      "name": "Code: Extract PPTX"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Decode base64 CSV/XLSX attachment and output as n8n binary for SpreadsheetFile node.\n// Input: items with attachment_contentBytes (base64 string)\n// Output: { json: { ...metadata }, binary: { data: binaryData } }\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  let base64Content = data.attachment_contentBytes || '';\n  let attachmentName = data.attachment_name || 'attachment.csv';\n\n  // Build clean metadata (exclude raw binary content to save memory)\n  const metadata = {};\n  for (const key of Object.keys(data)) {\n    if (key !== 'attachment_contentBytes' && key !== 'outlookAttachments') {\n      metadata[key] = data[key];\n    }\n  }\n\n  if (!base64Content) {\n    // Fallback: legacy outlookAttachments lookup\n    const attachments = data.outlookAttachments || [];\n    const csvAttachment = attachments.find(a => {\n      const name = (a.name || '').toLowerCase();\n      const ct = (a.contentType || '').toLowerCase();\n      return ct.includes('csv') || ct.includes('comma-separated') || ct.includes('csv') || ct.includes('comma-separated') || name.endsWith('.csv');\n    });\n    if (!csvAttachment) {\n      results.push({ json: { ...metadata, text: '[No spreadsheet attachment found]', doc_type: 'csv_attachment' } });\n      continue;\n    }\n    base64Content = csvAttachment.contentBytes;\n    attachmentName = csvAttachment.name || 'attachment.csv';\n  }\n\n  const buffer = Buffer.from(base64Content, 'base64');\n  const ext = attachmentName.toLowerCase().split('.').pop();\n  let mimeType = 'text/csv';\n  if (ext === 'xlsx') {\n    mimeType = 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet';\n  } else if (ext === 'xls') {\n    mimeType = 'application/vnd.ms-excel';\n  }\n\n  const binaryData = await this.helpers.prepareBinaryData(\n    buffer,\n    attachmentName,\n    mimeType\n  );\n\n  results.push({\n    json: { ...metadata, attachment_name: attachmentName, doc_type: 'csv_attachment' },\n    binary: { data: binaryData }\n  });\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        680
      ],
      "id": "decode-spreadsheet-binary-001",
      "name": "Code: Decode Spreadsheet Binary"
    },
    {
      "parameters": {
        "operation": "csv",
        "binaryPropertyName": "data",
        "options": {
          "keepSource": "json"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        3824,
        680
      ],
      "id": "extract-csv-node-001",
      "name": "Extract from File (CSV)"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Decode base64 XLSX attachment and output as n8n binary for Extract from File (XLSX) node.\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  let base64Content = data.attachment_contentBytes || '';\n  let attachmentName = data.attachment_name || 'attachment.xlsx';\n\n  const metadata = {};\n  for (const key of Object.keys(data)) {\n    if (key !== 'attachment_contentBytes' && key !== 'outlookAttachments') {\n      metadata[key] = data[key];\n    }\n  }\n\n  if (!base64Content) {\n    const attachments = data.outlookAttachments || [];\n    const xlsxAttachment = attachments.find(a => {\n      const name = (a.name || '').toLowerCase();\n      const ct = (a.contentType || '').toLowerCase();\n      return ct.includes('spreadsheet') || ct.includes('excel') || name.endsWith('.xlsx') || name.endsWith('.xls');\n    });\n    if (!xlsxAttachment) {\n      results.push({ json: { ...metadata, text: '[No XLSX attachment found]', doc_type: 'xlsx_attachment' } });\n      continue;\n    }\n    base64Content = xlsxAttachment.contentBytes;\n    attachmentName = xlsxAttachment.name || 'attachment.xlsx';\n  }\n\n  const buffer = Buffer.from(base64Content, 'base64');\n  const ext = attachmentName.toLowerCase().split('.').pop();\n  let mimeType = 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet';\n  if (ext === 'xls') {\n    mimeType = 'application/vnd.ms-excel';\n  }\n\n  const binaryData = await this.helpers.prepareBinaryData(\n    buffer,\n    attachmentName,\n    mimeType\n  );\n\n  results.push({\n    json: { ...metadata, attachment_name: attachmentName, doc_type: 'xlsx_attachment' },\n    binary: { data: binaryData }\n  });\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        840
      ],
      "id": "decode-xlsx-binary-001",
      "name": "Code: Decode XLSX Binary"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "data",
        "options": {
          "keepSource": "json"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        3824,
        840
      ],
      "id": "extract-xlsx-node-001",
      "name": "Extract from File (XLSX)"
    }
  ],
  "connections": {
    "Postgres: Check Duplicate": {
      "main": [
        [
          {
            "node": "Is New Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Email?": {
      "main": [
        [
          {
            "node": "Postgres: Get Recent Corrections",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "AI: Classify & Attribute Email": {
      "main": [
        [
          {
            "node": "Code: Parse Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Parse Classification": {
      "main": [
        [
          {
            "node": "Route by Confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Confidence": {
      "main": [
        [
          {
            "node": "Postgres: Lookup Deal (High)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres: Lookup Deal (High)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres: Queue for Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Lookup Deal (High)": {
      "main": [
        [
          {
            "node": "Code: Assign Deal ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Assign Deal ID": {
      "main": [
        [
          {
            "node": "Postgres: Upsert Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Queue for Confirmation": {
      "main": [
        [
          {
            "node": "Code: Assign Unattributed Deal ID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code: Build Attribution Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Assign Unattributed Deal ID": {
      "main": [
        [
          {
            "node": "Code: Pass Deal Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Upsert Deal": {
      "main": [
        [
          {
            "node": "Code: Pass Deal Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Pass Deal Data": {
      "main": [
        [
          {
            "node": "Code: Split Body + Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Document Type": {
      "main": [
        [],
        [
          {
            "node": "Code: Extract Email Body",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Parse Thread",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Decode PDF Binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route Attachment Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Extract Email Body": {
      "main": [
        [
          {
            "node": "Code: Parse Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Parse Thread": {
      "main": [
        [
          {
            "node": "Code: Merge Extracted Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Merge Extracted Text": {
      "main": [
        [
          {
            "node": "Code: Contextual Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Contextual Enrichment": {
      "main": [
        [
          {
            "node": "Code: Chunk Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Chunk Text": {
      "main": [
        [
          {
            "node": "HTTP: Embed Chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Embed Chunk": {
      "main": [
        [
          {
            "node": "Code: Build Qdrant Point",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Qdrant Point": {
      "main": [
        [
          {
            "node": "HTTP: Qdrant Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Qdrant Upsert": {
      "main": [
        [
          {
            "node": "Code: Count Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Log Ingestion": {
      "main": [
        [
          {
            "node": "HTTP: Trigger Health Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code: Build Ingestion Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Count Chunks": {
      "main": [
        [
          {
            "node": "Postgres: Log Ingestion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Normalize For Dedup": {
      "main": [
        [
          {
            "node": "Postgres: Check Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Receive Outlook Email": {
      "main": [
        [
          {
            "node": "Code: Normalize Outlook Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Normalize Outlook Payload": {
      "main": [
        [
          {
            "node": "Code: Normalize For Dedup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Classify Request": {
      "main": [
        [
          {
            "node": "AI: Classify & Attribute Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Ingestion Alert": {
      "main": [
        [
          {
            "node": "Pushover: Ingestion Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Attribution Alert": {
      "main": [
        [
          {
            "node": "Pushover: Attribution Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pushover: Ingestion Alert": {
      "main": [
        [
          {
            "node": "Postgres: Log Ingestion Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Get Recent Corrections": {
      "main": [
        [
          {
            "node": "Code: Build Classify Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Attachment Type": {
      "main": [
        [
          {
            "node": "Code: Extract PPTX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Decode Spreadsheet Binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Decode XLSX Binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Merge Extracted Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Code: Build Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Error Alert": {
      "main": [
        [
          {
            "node": "Pushover: Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Split Body + Attachments": {
      "main": [
        [
          {
            "node": "Route by Document Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Decode PDF Binary": {
      "main": [
        [
          {
            "node": "Extract from File (PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File (PDF)": {
      "main": [
        [
          {
            "node": "Code: Merge Extracted Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Extract PPTX": {
      "main": [
        [
          {
            "node": "Code: Merge Extracted Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Decode Spreadsheet Binary": {
      "main": [
        [
          {
            "node": "Extract from File (CSV)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File (CSV)": {
      "main": [
        [
          {
            "node": "Code: Merge Extracted Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Decode XLSX Binary": {
      "main": [
        [
          {
            "node": "Extract from File (XLSX)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File (XLSX)": {
      "main": [
        [
          {
            "node": "Code: Merge Extracted Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "G6kZgyHCK0qHNhRj",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "all",
    "binaryMode": "separate",
    "saveDataErrorExecution": "all"
  },
  "staticData": {
    "node:Gmail: Watch Ingestion Inbox": {
      "lastTimeChecked": 1772489965,
      "possibleDuplicates": [
        "19cb0a29f4afc9df"
      ]
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "e0fc3426-c07f-455c-b9d2-45bfe88b8891",
  "activeVersionId": "e0fc3426-c07f-455c-b9d2-45bfe88b8891",
  "versionCounter": 1228,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-27T03:05:47.376Z",
      "createdAt": "2026-02-27T03:05:47.376Z",
      "role": "workflow:owner",
      "workflowId": "G6kZgyHCK0qHNhRj",
      "projectId": "AyFYj8ev1hBER3zO",
      "project": {
        "updatedAt": "2026-02-26T09:07:37.733Z",
        "createdAt": "2026-02-26T07:53:31.019Z",
        "id": "AyFYj8ev1hBER3zO",
        "name": "Randall raustinholland@gmail.com <raustinholland@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8a968d0b-280d-4856-b867-bed874846716"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-08T04:53:06.844Z",
    "createdAt": "2026-03-08T04:53:06.844Z",
    "versionId": "e0fc3426-c07f-455c-b9d2-45bfe88b8891",
    "workflowId": "G6kZgyHCK0qHNhRj",
    "nodes": [
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT id FROM ingestion_log WHERE message_id = '{{ $json.id }}' OR (subject IS NOT NULL AND subject != '' AND LOWER(subject) = '{{ $json.norm_subject.replace(/'/g, \"''\") }}' AND sender_email LIKE '%{{ $json.sender_domain_dedup }}%') LIMIT 1",
          "options": {}
        },
        "id": "check-duplicate",
        "name": "Postgres: Check Duplicate",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2,
        "position": [
          912,
          208
        ],
        "credentials": {
          "postgres": {
            "id": "WwO5ZGy91Fw5lSFo",
            "name": "Clearwater Postgres"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "dedup-check",
                "leftValue": "={{ $json.id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "is-new",
        "name": "Is New Email?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1136,
          208
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "anthropicApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ $json.classify_request_body }}",
          "options": {}
        },
        "id": "classify-email",
        "name": "AI: Classify & Attribute Email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1584,
          208
        ],
        "retryOnFail": true,
        "maxTries": 2,
        "waitBetweenTries": 5000,
        "credentials": {
          "anthropicApi": {
            "id": "6NnFWUY71nO8HiT2",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Parse Anthropic classification response and merge with normalized Outlook email data.\n// Input comes exclusively from the Power Automate \u2192 Outlook webhook pipeline.\n// Upstream: Code: Normalize Outlook Payload \u2192 Code: Normalize For Dedup \u2192 AI: Classify\n// emailData fields: id, From, Subject, Date, text, snippet, outlookAttachments, source\n\nconst response = $input.first().json;\nconst rawText = response.text || response.content?.[0]?.text || '{}';\n\nlet classification;\ntry {\n  const cleaned = rawText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  classification = JSON.parse(cleaned);\n} catch (e) {\n  classification = {\n    company_name: 'Unknown',\n    sender_domain: 'unknown',\n    doc_type: 'email_body',\n    deal_indicators: [],\n    guessed_deal_company: 'Unknown',\n    confidence: 'low',\n    confidence_score: 0.1,\n    reasoning: 'Parse error: ' + e.message\n  };\n}\n\n// Read normalized email data from upstream Outlook pipeline\nconst emailData = $('Code: Normalize For Dedup').first().json;\n\nconst senderEmail = emailData.From || '';\nconst subject     = emailData.Subject || '';\nconst emailDate   = emailData.Date || new Date().toISOString();\nconst fullText    = emailData.text || emailData.snippet || '';\nconst messageId   = emailData.id || '';\n\n// Extract sender domain (handles 'Name <email@domain.com>' format)\nfunction extractDomain(emailStr) {\n  const match = emailStr.match(/<([^>]+)>/) || emailStr.match(/([^\\s@]+@[^\\s>]+)/);\n  const addr = match ? match[1] : emailStr;\n  const parts = addr.split('@');\n  return parts.length === 2 ? parts[1].toLowerCase().trim() : 'unknown';\n}\nconst resolvedDomain = extractDomain(senderEmail) || classification.sender_domain || 'unknown';\n\nreturn [{\n  json: {\n    ...classification,\n    sender_domain: resolvedDomain,\n    message_id: messageId,\n    subject: subject,\n    sender_email: senderEmail,\n    email_date: emailDate,\n    text: fullText,\n    html: '',\n    attachments: emailData.outlookAttachments || [],\n    source: 'outlook'\n  }\n}];\n"
        },
        "id": "parse-classification",
        "name": "Code: Parse Classification",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1808,
          208
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "conditions": [
                    {
                      "leftValue": "={{ $json.confidence }}",
                      "rightValue": "high",
                      "operator": {
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "high"
              },
              {
                "conditions": {
                  "conditions": [
                    {
                      "leftValue": "={{ $json.confidence }}",
                      "rightValue": "medium",
                      "operator": {
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "medium"
              },
              {
                "conditions": {
                  "conditions": [
                    {
                      "leftValue": "={{ $json.confidence }}",
                      "rightValue": "low",
                      "operator": {
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "low"
              }
            ]
          },
          "options": {}
        },
        "id": "confidence-router",
        "name": "Route by Confidence",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          2032,
          192
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT deal_id, company_name FROM deals WHERE ('{{ $json.sender_domain }}' = ANY(sender_domains) OR LOWER(company_name) LIKE LOWER('%{{ $json.guessed_deal_company }}%')) AND is_active = TRUE LIMIT 1",
          "options": {}
        },
        "id": "lookup-deal-high",
        "name": "Postgres: Lookup Deal (High)",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2,
        "position": [
          2256,
          136
        ],
        "credentials": {
          "postgres": {
            "id": "WwO5ZGy91Fw5lSFo",
            "name": "Clearwater Postgres"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO attribution_queue (message_id, sender_email, sender_domain, subject, email_date, ai_guess_company, ai_confidence, doc_type) VALUES ('{{ $json.message_id }}', '{{ $json.sender_email }}', '{{ $json.sender_domain }}', '{{ $json.subject }}', '{{ $json.email_date }}', '{{ $json.guessed_deal_company }}', {{ $json.confidence_score }}, '{{ $json.doc_type }}') ON CONFLICT (message_id) DO NOTHING",
          "options": {}
        },
        "id": "queue-for-confirm",
        "name": "Postgres: Queue for Confirmation",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2,
        "position": [
          2480,
          328
        ],
        "credentials": {
          "postgres": {
            "id": "WwO5ZGy91Fw5lSFo",
            "name": "Clearwater Postgres"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Low-confidence emails still get ingested \u2014 just tagged as 'unattributed'\n// so they're searchable once Austin confirms the deal in the attribution queue.\nconst emailData = $('Code: Parse Classification').first().json;\nreturn [{\n  json: {\n    ...emailData,\n    deal_id: 'unattributed',\n    qdrant_namespace: 'unattributed',\n    attribution_confidence: 'low',\n    is_new_deal: false,\n    company_name: emailData.guessed_deal_company || emailData.company_name || 'Unknown'\n  }\n}];\n"
        },
        "id": "assign-unattributed",
        "name": "Code: Assign Unattributed Deal ID",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2704,
          328
        ]
      },
      {
        "parameters": {
          "jsCode": "// Build deal_id from matched deal or generate a slug\n// Always pull email data from Parse Classification (upstream of Postgres lookup)\nconst emailData = $('Code: Parse Classification').first().json;\nconst dealLookup = $('Postgres: Lookup Deal (High)').first()?.json;\n\nlet deal_id = dealLookup?.deal_id;\nif (!deal_id) {\n  const company = (emailData.guessed_deal_company || emailData.company_name || 'unknown')\n    .toLowerCase()\n    .replace(/[^a-z0-9]/g, '_')\n    .replace(/_+/g, '_')\n    .substring(0, 32);\n  const year = new Date().getFullYear();\n  deal_id = `cw_${company}_${year}`;\n}\n\n// If new deal (not found in deals table), insert it\nconst isNewDeal = !dealLookup?.deal_id;\n\nreturn [{\n  json: {\n    ...emailData,\n    deal_id,\n    qdrant_namespace: deal_id,\n    attribution_confidence: emailData.confidence,\n    is_new_deal: isNewDeal,\n    company_name: dealLookup?.company_name || emailData.company_name || emailData.guessed_deal_company\n  }\n}];\n"
        },
        "id": "assign-deal-id",
        "name": "Code: Assign Deal ID",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2480,
          136
        ]
      },
      {
        "parameters": {
          "mode": "expression",
          "numberOutputs": 5,
          "output": "={{ {'calendar_invite':0,'email_body':1,'call_transcript':2,'pdf_attachment':3}.hasOwnProperty($json.doc_type) ? {'calendar_invite':0,'email_body':1,'call_transcript':2,'pdf_attachment':3}[$json.doc_type] : 4 }}"
        },
        "id": "doc-type-router",
        "name": "Route by Document Type",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          3152,
          160
        ]
      },
      {
        "parameters": {
          "jsCode": "// Extract clean text from email body\nconst emailData = $input.first().json;\n\nlet text = emailData.text || emailData.snippet || '';\n\nif (!text && emailData.html) {\n  text = emailData.html\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst boilerplate = [\n  /CONFIDENTIALITY NOTICE[\\s\\S]*?$/i,\n  /This email and any attachments[\\s\\S]*?$/i,\n  /DISCLAIMER[\\s\\S]*?$/i,\n  /Sent from my iPhone/i,\n  /Get Outlook for/i\n];\nfor (const p of boilerplate) { text = text.replace(p, ''); }\n\nreturn [{ json: { ...emailData, extracted_text: text.trim(), extraction_method: 'email_body' } }];\n"
        },
        "id": "extract-email-body",
        "name": "Code: Extract Email Body",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3376,
          64
        ]
      },
      {
        "parameters": {
          "jsCode": "// Parse thread: split a forwarded/reply email thread into individual messages.\n// Each message gets its own sender, date, and body \u2014 so Qdrant gets accurate timestamps.\n// Falls back to treating the whole body as a single message if no thread structure detected.\n\nconst data = $input.first().json;\nconst rawText = data.extracted_text || data.text || '';\n\n// --- Thread splitter patterns (Gmail, Outlook, Apple Mail) ---\n// Pattern 1: Gmail forwarded message header\n//   ---------- Forwarded message ---------\n//   From: Name <email>\n//   Date: Wed, Jan 21, 2026 at 5:50 PM\nconst GMAIL_FWD = /^-{5,}\\s*Forwarded message\\s*-{5,}\\s*$/im;\n\n// Pattern 2: Gmail/Outlook reply quote header\n//   On Wed, Jan 21, 2026 at 5:50 PM Austin Holland <austin@...> wrote:\nconst REPLY_HEADER = /^On\\s+\\w{3},?\\s+\\w+\\s+\\d+,\\s+\\d{4}\\s+at\\s+[\\d:]+\\s*(AM|PM).*wrote:\\s*$/im;\n\n// Pattern 3: Outlook forwarded block\n//   From: Name <email>\n//   Sent: Wednesday, January 21, 2026 5:50 PM\n//   To: ...\n//   Subject: ...\nconst OUTLOOK_FWD = /^From:\\s*.+\\r?\\nSent:\\s*.+\\r?\\nTo:\\s*/im;\n\n// Helper: extract From/Date from a header block\nfunction parseHeaders(block) {\n  const fromMatch = block.match(/From:\\s*([^\\n\\r]+)/i);\n  const dateMatch = block.match(/(?:Date|Sent):\\s*([^\\n\\r]+)/i);\n  const fromRaw = fromMatch ? fromMatch[1].trim() : '';\n  const dateRaw = dateMatch ? dateMatch[1].trim() : '';\n\n  // Extract email address from 'Name <email>' or bare email\n  const emailMatch = fromRaw.match(/<([^>]+)>/) || fromRaw.match(/(\\S+@\\S+)/);\n  const senderEmail = emailMatch ? emailMatch[1] : fromRaw;\n\n  // Parse date \u2014 JS Date handles most formats gracefully\n  let dateCreated = data.email_date || new Date().toISOString();\n  if (dateRaw) {\n    const parsed = new Date(dateRaw);\n    if (!isNaN(parsed.getTime())) dateCreated = parsed.toISOString();\n  }\n\n  return { senderEmail, dateCreated };\n}\n\n// --- Split logic ---\nlet messages = [];\n\n// Try to split on Gmail forwarded header\nif (GMAIL_FWD.test(rawText)) {\n  const parts = rawText.split(GMAIL_FWD);\n  for (const part of parts) {\n    const trimmed = part.trim();\n    if (!trimmed) continue;\n    const { senderEmail, dateCreated } = parseHeaders(trimmed);\n    // Strip the header lines, keep the body\n    const body = trimmed.replace(/^(From:|Date:|To:|Cc:|Subject:)[^\\n]*\\n/gim, '').trim();\n    if (body.length > 50) messages.push({ senderEmail, dateCreated, body });\n  }\n}\n\n// Try reply-quote headers if no forwarded splits found\nif (messages.length <= 1) {\n  const parts = rawText.split(REPLY_HEADER);\n  if (parts.length > 1) {\n    messages = [];\n    for (const part of parts) {\n      const trimmed = part.trim();\n      if (!trimmed) continue;\n      // Reply headers appear as separators \u2014 try to parse date from preceding line\n      const { senderEmail, dateCreated } = parseHeaders(trimmed);\n      const body = trimmed.replace(/^On\\s+[^\\n]+wrote:/im, '').trim();\n      if (body.length > 50) messages.push({ senderEmail, dateCreated, body });\n    }\n  }\n}\n\n// Try Outlook forwarded block\nif (messages.length <= 1 && OUTLOOK_FWD.test(rawText)) {\n  const parts = rawText.split(/(?=^From:\\s*.+\\r?\\nSent:\\s*)/im);\n  if (parts.length > 1) {\n    messages = [];\n    for (const part of parts) {\n      const trimmed = part.trim();\n      if (!trimmed) continue;\n      const { senderEmail, dateCreated } = parseHeaders(trimmed);\n      const body = trimmed.replace(/^(From:|Sent:|To:|Cc:|Subject:)[^\\n]*\\n/gim, '').trim();\n      if (body.length > 50) messages.push({ senderEmail, dateCreated, body });\n    }\n  }\n}\n\n// Fallback: single message, no thread detected\nif (messages.length === 0) {\n  messages = [{ senderEmail: data.sender_email || '', dateCreated: data.email_date || new Date().toISOString(), body: rawText }];\n}\n\n// Sort chronologically (oldest first)\nmessages.sort((a, b) => new Date(a.dateCreated) - new Date(b.dateCreated));\n\n// Return one item per message, carrying all deal metadata but overriding sender/date per message\nreturn messages.map((msg, i) => ({\n  json: {\n    ...data,\n    extracted_text: msg.body,\n    sender_email: msg.senderEmail || data.sender_email,\n    email_date: msg.dateCreated,\n    thread_index: i,\n    thread_total: messages.length,\n    // Preserve original message_id but make each thread message unique for dedup\n    message_id: messages.length > 1 ? `${data.message_id}_t${i}` : data.message_id\n  }\n}));\n"
        },
        "id": "parse-thread",
        "name": "Code: Parse Thread",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3600,
          136
        ]
      },
      {
        "parameters": {
          "jsCode": "// Normalize extracted text from different extraction nodes into a single text field.\n// ReadPdf outputs json.text\n// PPTX Code node outputs json.extracted_text\n// SpreadsheetFile outputs rows as separate items \u2014 need concatenation into single item\n// Unknown attachments pass through with existing text\n\n// Helper: resolve correct metadata source for the current processing path.\n// The Extract from File (XLSX/CSV) nodes strip input json and replace with row data,\n// so we must look upstream at the Decode nodes (which still hold metadata).\n// The Decode nodes only ran for their specific path, so we try each in order.\nfunction resolveMetadata() {\n  const metaKeys = [\n    'message_id', 'doc_type', 'deal_id', 'company_name', 'sender_email',\n    'sender_domain', 'subject', 'date_created', 'attribution_confidence',\n    'reasoning', 'deal_stage', 'attachment_name', 'attachment_type',\n    'qdrant_namespace', 'snippet'\n  ];\n\n  // Try upstream Decode nodes first \u2014 they have path-specific metadata\n  const decodeSources = [\n    'Code: Decode XLSX Binary',\n    'Code: Decode Spreadsheet Binary',\n    'Code: Decode PDF Binary'\n  ];\n\n  for (const nodeName of decodeSources) {\n    try {\n      const srcData = $(nodeName).first().json;\n      if (srcData && srcData.message_id) {\n        const meta = {};\n        for (const k of metaKeys) {\n          if (srcData[k] !== undefined && srcData[k] !== null) {\n            meta[k] = srcData[k];\n          }\n        }\n        return meta;\n      }\n    } catch(e) {\n      // Node didn't run on this path \u2014 expected, continue\n    }\n  }\n\n  // Fallback: Split node. Try to find the correct item by doc_type matching.\n  try {\n    const splitItems = $('Code: Split Body + Attachments').all();\n    // If there's only one split item, use it\n    if (splitItems.length === 1) {\n      const srcData = splitItems[0].json;\n      const meta = {};\n      for (const k of metaKeys) {\n        if (srcData[k] !== undefined && srcData[k] !== null) {\n          meta[k] = srcData[k];\n        }\n      }\n      return meta;\n    }\n    // Multiple split items: prefer attachment types over email_body\n    const attachmentItem = splitItems.find(item =>\n      item.json.doc_type && item.json.doc_type !== 'email_body'\n    );\n    if (attachmentItem) {\n      const srcData = attachmentItem.json;\n      const meta = {};\n      for (const k of metaKeys) {\n        if (srcData[k] !== undefined && srcData[k] !== null) {\n          meta[k] = srcData[k];\n        }\n      }\n      return meta;\n    }\n    // Last resort: first item\n    const srcData = splitItems[0].json;\n    const meta = {};\n    for (const k of metaKeys) {\n      if (srcData[k] !== undefined && srcData[k] !== null) {\n        meta[k] = srcData[k];\n      }\n    }\n    return meta;\n  } catch(e) {\n    return {};\n  }\n}\n\nconst items = $input.all();\n\n// Detect multi-row case: multiple items where none have message_id (spreadsheet rows lose metadata)\nconst hasMetadata = items.some(item => item.json.message_id);\nconst isMultiRowNoMeta = items.length > 1 && !hasMetadata;\n\nif (isMultiRowNoMeta) {\n  // CSV/XLSX case: aggregate all rows into one text blob, pull metadata from upstream\n  const metadata = resolveMetadata();\n\n  // Build CSV text: header row + data rows\n  const allKeys = new Set();\n  for (const item of items) {\n    for (const k of Object.keys(item.json)) {\n      if (k !== 'attachment_contentBytes' && k !== 'outlookAttachments') {\n        allKeys.add(k);\n      }\n    }\n  }\n  const headers = Array.from(allKeys);\n  const lines = [headers.join(' | ')];\n  for (const item of items) {\n    const vals = headers.map(h => String(item.json[h] || ''));\n    lines.push(vals.join(' | '));\n  }\n  const extractedText = lines.join('\\n');\n\n  return [{\n    json: {\n      ...metadata,\n      doc_type: metadata.doc_type || 'csv_attachment',\n      text: extractedText,\n      extracted_text: extractedText\n    }\n  }];\n}\n\n// Non-multi-row case: process each item individually\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n\n  // If this item is missing message_id, try to recover metadata from upstream\n  let baseData = data;\n  if (!data.message_id) {\n    const recovered = resolveMetadata();\n    baseData = { ...recovered, ...data };\n  }\n\n  // Try known text fields in priority order\n  let extractedText = data.extracted_text || data.text || '';\n\n  // SpreadsheetFile single-row fallback: concatenate all non-meta fields\n  if (!extractedText && typeof data === 'object') {\n    const keys = Object.keys(data).filter(k =>\n      k !== 'attachment_contentBytes' && k !== 'outlookAttachments' &&\n      k !== 'doc_type' && k !== 'deal_id' && k !== 'company_name' &&\n      k !== 'sender_email' && k !== 'sender_domain' && k !== 'subject' &&\n      k !== 'message_id' && k !== 'date_created' && k !== 'attribution_confidence' &&\n      k !== 'reasoning' && k !== 'deal_stage' && k !== 'attachment_name' &&\n      k !== 'attachment_type' && k !== 'qdrant_namespace' && k !== 'snippet'\n    );\n    if (keys.length > 0) {\n      const rowParts = keys.map(k => k + ': ' + String(data[k] || ''));\n      extractedText = rowParts.join(' | ');\n    }\n  }\n\n  if (!extractedText || extractedText.length < 10) {\n    extractedText = '[No text extracted from attachment]';\n  }\n\n  // Build clean output \u2014 strip binary/large fields\n  const cleanMeta = {};\n  for (const key of Object.keys(baseData)) {\n    if (key !== 'attachment_contentBytes' && key !== 'outlookAttachments') {\n      cleanMeta[key] = baseData[key];\n    }\n  }\n\n  results.push({\n    json: {\n      ...cleanMeta,\n      text: extractedText,\n      extracted_text: extractedText\n    }\n  });\n}\n\nreturn results;\n",
          "mode": "runOnceForAllItems"
        },
        "id": "merge-extracted",
        "name": "Code: Merge Extracted Text",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3824,
          232
        ]
      },
      {
        "parameters": {
          "jsCode": "// Contextual enrichment: prepend deal/doc context to extracted text\nconst data = $input.first().json;\n\n// For calendar invites, embeddable_text is already built by Code: Parse ICS\nif (data.doc_type === 'calendar_invite' && data.embeddable_text) {\n  return [{ json: { ...data, enriched_text: data.embeddable_text, extracted_text: data.embeddable_text } }];\n}\n\nconst dealId = data.deal_id || 'unknown';\nconst companyName = data.company_name || data.guessed_deal_company || 'Unknown Company';\nconst docType = data.doc_type || 'email';\nconst senderEmail = data.sender_email || '';\nconst rawText = data.extracted_text || '';\n\n// For call transcripts, try to extract the actual call date from the document content.\n// Transcripts are often forwarded days after the call occurred, so the Gmail Date header\n// reflects when the email was sent, not when the call happened.\n// Look for common transcript date patterns at the top of the document.\nfunction extractTranscriptDate(text) {\n  // Match patterns like:\n  //   Date: January 21, 2026\n  //   Date: 2026-01-21\n  //   Call Date: Wed, Jan 21, 2026\n  //   January 21, 2026  (standalone line near top)\n  const patterns = [\n    /^(?:call\\s+)?date[:\\s]+([\\w,\\s]+\\d{4})/im,\n    /^date[:\\s]+(\\d{4}-\\d{2}-\\d{2})/im,\n    /^(?:meeting|session|call)[\\s\\S]{0,40}?(\\b(?:january|february|march|april|may|june|july|august|september|october|november|december)\\s+\\d{1,2},?\\s+\\d{4})/im,\n    /\\b(\\d{4}-\\d{2}-\\d{2})\\b/,\n    /\\b((?:january|february|march|april|may|june|july|august|september|october|november|december)\\s+\\d{1,2},?\\s+\\d{4})\\b/i\n  ];\n  // Only scan the first 500 chars \u2014 date lines are always near the top\n  const sample = text.slice(0, 500);\n  for (const pattern of patterns) {\n    const match = sample.match(pattern);\n    if (match) {\n      const parsed = new Date(match[1]);\n      if (!isNaN(parsed.getTime())) return parsed.toISOString();\n    }\n  }\n  return null;\n}\n\nlet resolvedDate = data.email_date;\nif (docType === 'call_transcript') {\n  const transcriptDate = extractTranscriptDate(rawText);\n  if (transcriptDate) resolvedDate = transcriptDate;\n}\n\nconst emailDate = resolvedDate ? new Date(resolvedDate).toISOString().split('T')[0] : new Date().toISOString().split('T')[0];\n\nconst contextHeader = `[DEAL CONTEXT]\\nDeal: ${companyName} (ID: ${dealId})\\nDocument Type: ${docType}\\nDate: ${emailDate}\\nSource: ${senderEmail}\\n[END CONTEXT]\\n\\n`;\n\nconst enrichedText = contextHeader + rawText;\n\nreturn [{ json: { ...data, enriched_text: enrichedText, email_date: resolvedDate || data.email_date } }];\n"
        },
        "id": "contextual-enrichment",
        "name": "Code: Contextual Enrichment",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4048,
          232
        ]
      },
      {
        "parameters": {
          "jsCode": "// Split enriched text into chunks, carrying all deal metadata forward.\n// call_transcript: sentence-boundary aware, chunkSize=2500, overlap=250\n//   \u2014 keeps full speaker utterances intact so CAS-scoring evidence\n//     (e.g. \"I would stagegate this...\") never splits across chunks.\n// All other doc types: fixed character split, chunkSize=1800, overlap=180\nconst data = $input.first().json;\nconst text = data.enriched_text || '';\nconst isTranscript = (data.doc_type === 'call_transcript');\nconst isAttachment = ['pdf_attachment','pptx_attachment','csv_attachment'].includes(data.doc_type);\nconst chunkSize    = (isTranscript || isAttachment) ? 2500 : 1800;\nconst chunkOverlap = (isTranscript || isAttachment) ? 250  : 180;\n\nlet chunks = [];\n\nif (isTranscript) {\n  // Sentence-boundary aware splitting for transcripts.\n  // Split on sentence-ending punctuation OR speaker-turn boundaries (\"Name: \").\n  // Regex: split AFTER . ? ! followed by whitespace+capital, OR at a newline\n  // followed by a word and colon (speaker label like \"Austin:\" or \"Brad:\").\n  const sentenceBreak = /(?<=[.?!])\\s+(?=[A-Z])|(?=\\n[A-Za-z][^:\\n]{0,30}:)/g;\n  const sentences = text.split(sentenceBreak).filter(s => s.trim().length > 0);\n\n  let current = '';\n  for (const sentence of sentences) {\n    if (current.length + sentence.length > chunkSize && current.length > 0) {\n      chunks.push(current.trim());\n      // Overlap: keep the tail of the current chunk as the start of the next\n      const overlapStart = current.length > chunkOverlap\n        ? current.length - chunkOverlap\n        : 0;\n      current = current.slice(overlapStart) + ' ' + sentence;\n    } else {\n      current += (current.length > 0 ? ' ' : '') + sentence;\n    }\n  }\n  if (current.trim().length > 0) chunks.push(current.trim());\n\n} else {\n  // Fixed character split for emails, PDFs, and everything else\n  let start = 0;\n  while (start < text.length) {\n    const end = Math.min(start + chunkSize, text.length);\n    chunks.push(text.slice(start, end));\n    if (end === text.length) break;\n    start = end - chunkOverlap;\n  }\n}\n\nreturn chunks.map((chunk, index) => ({\n  json: {\n    ...data,\n    chunk_text: chunk,\n    chunk_index: index,\n    total_chunks: chunks.length\n  }\n}));\n"
        },
        "id": "chunk-text",
        "name": "Code: Chunk Text",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4272,
          232
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/embeddings",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ model: 'text-embedding-3-small', input: $json.chunk_text }) }}",
          "options": {}
        },
        "id": "embed-chunk",
        "name": "HTTP: Embed Chunk",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          4496,
          232
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000,
        "credentials": {
          "openAiApi": {
            "id": "0uPlAmGz2rZbF75R",
            "name": "OpenAI API"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Build Qdrant point with embedding + full metadata payload\n// HTTP Request nodes break paired item chains in n8n \u2014 retrieve chunk data\n// by matching on chunk_index from all Code: Chunk Text outputs.\nconst allItems = $input.all();\nconst allChunks = $('Code: Chunk Text').all();\n\n// UUID v4 without require('crypto') \u2014 n8n sandbox blocks it\nfunction uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}\n\n// Build one point per item in input (each is one OpenAI embed response)\nreturn allItems.map((item, i) => {\n  const embedding = item.json.data?.[0]?.embedding;\n  if (!embedding) throw new Error(`No embedding at index ${i}`);\n  // Match chunk by index \u2014 allChunks and allItems are in the same order\n  const chunkData = (allChunks[i] || allChunks[0]).json;\n  const point = {\n    id: uuidv4(),\n    vector: embedding,\n    payload: {\n      deal_id: chunkData.deal_id || 'unknown',\n      company_name: chunkData.company_name || chunkData.guessed_deal_company || 'Unknown',\n      doc_type: chunkData.doc_type || 'email_body',\n      sender_domain: chunkData.sender_domain || '',\n      attribution_confidence: chunkData.attribution_confidence || 'low',\n      date_created: chunkData.email_date || '',\n      message_id: chunkData.message_id || '',\n      chunk_index: chunkData.chunk_index || i,\n      page_content: chunkData.chunk_text || ''\n    }\n  };\n  return { json: { point, ...chunkData } };\n});\n"
        },
        "id": "build-qdrant-point",
        "name": "Code: Build Qdrant Point",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4720,
          232
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "http://qdrant:6333/collections/deals/points",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ points: [$json.point] }) }}",
          "options": {}
        },
        "id": "qdrant-upsert",
        "name": "HTTP: Qdrant Upsert",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          4944,
          232
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "{{ $json.query }}",
          "options": {}
        },
        "id": "log-ingestion",
        "name": "Postgres: Log Ingestion",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2,
        "position": [
          5392,
          232
        ],
        "credentials": {
          "postgres": {
            "id": "WwO5ZGy91Fw5lSFo",
            "name": "Clearwater Postgres"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://localhost:5678/webhook/deal-health-trigger",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ deal_id: $('Code: Count Chunks').first().json.deal_id, trigger_message_id: $('Code: Count Chunks').first().json.message_id, trigger_type: 'new_ingestion' }) }}",
          "options": {
            "response": {
              "response": {}
            },
            "timeout": 2000
          }
        },
        "id": "trigger-health-agent",
        "name": "HTTP: Trigger Health Agent",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          5616,
          232
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO deals (deal_id, company_name, sender_domains, deal_stage, deal_owner, is_active)\nVALUES (\n  '{{ $json.deal_id }}',\n  '{{ $json.company_name }}',\n  CASE WHEN '{{ $json.sender_domain }}' NOT IN ('clearwatersecurity.com','zoom.us','noreply-zoomevents.zoom.us','healthcarecouncil.com','paylocity.com','salesforce.com','gmail.com','outlook.com','hotmail.com','yahoo.com') \n       AND '{{ $json.sender_domain }}' != ''\n       THEN ARRAY['{{ $json.sender_domain }}']\n       ELSE '{}'::text[]\n  END,\n  'discover',\n  'austin.holland@clearwatersecurity.com',\n  true\n)\nON CONFLICT (deal_id) DO NOTHING",
          "options": {}
        },
        "id": "upsert-deal",
        "name": "Postgres: Upsert Deal",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2,
        "position": [
          2704,
          136
        ],
        "credentials": {
          "postgres": {
            "id": "WwO5ZGy91Fw5lSFo",
            "name": "Clearwater Postgres"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Pull deal metadata from the attribution node (Postgres: Upsert Deal outputs {success:true})\n// Use Code: Assign Deal ID as the source of truth for deal metadata\nlet dealData;\ntry {\n  dealData = $('Code: Assign Deal ID').first().json;\n} catch(e) {\n  dealData = $('Code: Assign Unattributed Deal ID').first().json;\n}\nreturn [{ json: dealData }];"
        },
        "id": "passthrough-deal",
        "name": "Code: Pass Deal Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2928,
          208
        ]
      },
      {
        "parameters": {
          "jsCode": "// Count how many chunks were upserted into Qdrant.\n// Also builds the escaped SQL INSERT for Postgres: Log Ingestion.\n// For attachment items (pdf_attachment, pptx_attachment, csv_attachment),\n// appends _att_<index> to message_id so each gets its own ingestion_log entry.\nconst enrichData = $input.first().json;\nconst chunkCount = enrichData.total_chunks || $input.all().length;\n\n// sq() escapes single quotes for SQL: ' -> ''  then wraps in single quotes\nfunction sq(val) {\n  if (val === null || val === undefined) return 'NULL';\n  return \"'\" + String(val).replace(/'/g, \"''\") + \"'\";\n}\n\n// For attachments, create a unique message_id by appending attachment name hash\nlet messageId = enrichData.message_id;\nconst attachmentTypes = ['pdf_attachment', 'pptx_attachment', 'csv_attachment', 'xlsx_attachment'];\nif (attachmentTypes.includes(enrichData.doc_type) && enrichData.attachment_name) {\n  // Create a short hash from the attachment name for uniqueness\n  const attName = enrichData.attachment_name.replace(/[^a-zA-Z0-9]/g, '_').substring(0, 40);\n  messageId = messageId + '_att_' + attName;\n}\n\nconst query = `INSERT INTO ingestion_log (message_id, deal_id, attribution_confidence, attribution_status, sender_email, sender_domain, subject, doc_type, attachment_count, chunk_count, qdrant_namespace, classification_reasoning) VALUES (${sq(messageId)}, ${sq(enrichData.deal_id)}, ${sq(enrichData.attribution_confidence)}, 'processed', ${sq(enrichData.sender_email)}, ${sq(enrichData.sender_domain)}, ${sq(enrichData.subject)}, ${sq(enrichData.doc_type)}, 0, ${chunkCount}, ${sq(enrichData.qdrant_namespace)}, ${sq(enrichData.reasoning)}) ON CONFLICT (message_id) DO NOTHING`;\n\nreturn [{ json: { ...enrichData, chunk_count: chunkCount, query } }];"
        },
        "id": "count-chunks",
        "name": "Code: Count Chunks",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5168,
          232
        ]
      },
      {
        "parameters": {
          "jsCode": "// Normalise email fields for content-level dedup\n// Strips FW:/Re:/Fwd: prefix from subject so forwarded copies are caught\nconst msg = $input.first().json;\n\nfunction getHeader(headers, name) {\n  if (!headers) return '';\n  const h = headers.find(h => h.name.toLowerCase() === name.toLowerCase());\n  return h ? h.value : '';\n}\nconst headers = msg.payload?.headers || [];\nconst rawSubject = msg.Subject || msg.subject || getHeader(headers, 'Subject') || '';\nconst rawFrom    = msg.From    || msg.from    || getHeader(headers, 'From')    || '';\n\n// Strip reply/forward prefixes recursively\nconst normSubject = rawSubject.replace(/^(fw:|re:|fwd:|forward:)\\s*/gi, '').trim().toLowerCase();\n\n// Extract domain from From header  'Name <email@domain.com>' or 'email@domain.com'\nconst addrMatch = rawFrom.match(/<([^>]+)>/) || rawFrom.match(/(\\S+@\\S+)/);\nconst senderAddr = addrMatch ? addrMatch[1] : rawFrom;\nconst domain = senderAddr.includes('@') ? senderAddr.split('@')[1].toLowerCase().replace(/['>]/g,'') : '';\n\nreturn [{ json: { ...msg, norm_subject: normSubject, sender_domain_dedup: domain } }];\n"
        },
        "id": "aabbccdd-1122-3344-5566-778899aabbcc",
        "name": "Code: Normalize For Dedup",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          688,
          208
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "outlook-email-ingest",
          "options": {}
        },
        "id": "outlook-webhook-0001-0000-0000-000000000001",
        "name": "Webhook: Receive Outlook Email",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          208
        ],
        "webhookId": "805c803c-7239-492a-a55c-f3dbd2d60687"
      },
      {
        "parameters": {
          "jsCode": "// Normalize Power Automate Outlook payload to match Gmail field shape\n// Expected PA payload:\n// { messageId, subject, from, to, sentAt, bodyContent, attachments: [{name, contentType, contentBytes}] }\nconst body = $input.first().json.body || $input.first().json;\n\nconst messageId   = String(body.messageId || body.message_id || '');\nconst subject     = body.subject || '';\nconst from        = body.from || '';\nconst to          = body.to || '';\nconst sentAt      = body.sentAt || body.sent_at || new Date().toISOString();\nconst rawText     = body.bodyContent || body.body_content || '';\nconst attachments = body.attachments || [];\n\n// Strip HTML tags and decode common HTML entities to get clean plain text\nfunction stripHtml(html) {\n  if (!html || !html.includes('<')) return html;\n  return html\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/p>/gi, '\\n')\n    .replace(/<\\/div>/gi, '\\n')\n    .replace(/<[^>]+>/g, '')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/\\r\\n/g, '\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n}\n\nconst text = stripHtml(rawText);\n\nreturn [{\n  json: {\n    id: messageId,\n    Subject: subject,\n    From: from,\n    To: to,\n    Date: sentAt,\n    text: text,\n    snippet: text.substring(0, 200),\n    outlookAttachments: attachments,\n    source: 'outlook'\n  }\n}];\n"
        },
        "id": "normalize-outlook-0001-0000-0000-000000000001",
        "name": "Code: Normalize Outlook Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          464,
          208
        ]
      },
      {
        "parameters": {
          "jsCode": "const d = $('Code: Normalize For Dedup').first().json;\nconst from = d.From || d.from || 'unknown';\nconst subject = d.Subject || d.subject || '(no subject)';\nconst bodyText = (d.text ?? d.snippet ?? '').slice(0, 2000);\n\n// Build past corrections section from recent feedback\nlet correctionsSection = '';\ntry {\n  const correctionRows = $('Postgres: Get Recent Corrections').all();\n  if (correctionRows && correctionRows.length > 0) {\n    const examples = correctionRows\n      .map(r => r.json)\n      .filter(r => r.classification_feedback || r.doc_type_override || r.deal_id_override)\n      .map(r => {\n        const parts = [];\n        parts.push(`Email from domain \"${r.sender_domain || 'unknown'}\" with subject \"${r.subject || '(no subject)'}\"`);\n        parts.push(`was classified as ${r.doc_type} for deal ${r.deal_id}.`);\n        const feedback = r.classification_feedback || '';\n        if (r.doc_type_override && r.doc_type_override !== r.doc_type) {\n          parts.push(`Austin corrected doc_type to \"${r.doc_type_override}\".`);\n        }\n        if (r.deal_id_override && r.deal_id_override !== r.deal_id) {\n          parts.push(`Austin corrected deal to \"${r.deal_id_override}\".`);\n        }\n        if (feedback) {\n          parts.push(`Feedback: \"${feedback}\"`);\n        }\n        return '- ' + parts.join(' ');\n      });\n    if (examples.length > 0) {\n      correctionsSection = '\\n\\nPAST CORRECTIONS (learn from these \u2014 avoid repeating these mistakes):\\n' + examples.join('\\n');\n    }\n  }\n} catch (e) {\n  // No corrections available \u2014 continue without them\n}\n\nconst prompt = `You are a deal attribution classifier for Clearwater Security & Compliance. Analyze this email and return ONLY a JSON object (no markdown, no code fences) with these exact fields:\n{\n  \"company_name\": \"<company name or Unknown>\",\n  \"sender_domain\": \"<domain from sender email>\",\n  \"doc_type\": \"<email_body|call_transcript|pdf_attachment|pptx_attachment|csv_attachment|calendar_invite|other>\",\n  \"deal_indicators\": [],\n  \"guessed_deal_company\": \"<company name>\",\n  \"confidence\": \"<high|medium|low>\",\n  \"confidence_score\": 0.0,\n  \"reasoning\": \"<one sentence>\"\n}\n\nCLASSIFICATION RULES (apply in order):\n\nRULE 1 - doc_type from subject line (overrides body inference):\nIf the subject contains \"transcript\", \"call transcript\", \"recording\", or \"call notes\" set doc_type to call_transcript, regardless of sender or body content.\nIf the subject contains \"calendar invite\" or the body contains BEGIN:VCALENDAR/DTSTART/DTEND set doc_type to calendar_invite.\n\nRULE 2 - company attribution when sender is internal (clearwatersecurity.com):\nIf the sender domain is clearwatersecurity.com, do NOT use the sender to identify the deal company.\nExtract the prospect company name from the subject line (e.g. \"Velentium\" from \"FW: Call Transcript - Velentium | Clearwater\").\nSet guessed_deal_company to that company name and confidence to high if a company name is clearly present in the subject.\nIf no company name can be extracted from the subject, set confidence to low.\n\nRULE 3 - company attribution when sender is external:\nUse the sender domain to identify the deal company. High confidence if the domain is a recognizable company. Low confidence if the domain is generic (gmail.com, outlook.com, etc.).\n\nRULE 4 - calendar invite override:\nIf the subject/body contains calendar invite markers (BEGIN:VCALENDAR, DTSTART, DTEND, SUMMARY, ORGANIZER, ATTENDEE) then set doc_type to calendar_invite regardless of other content.\n\n\nRULE 5 - reject purely internal emails:\nIf the sender domain is clearwatersecurity.com AND no prospect company name is identifiable from the subject line, set confidence to low and guessed_deal_company to \"Unknown\".\nNever set sender_domain to clearwatersecurity.com in your output \u2014 always use the PROSPECT domain (extracted from email content) or leave it blank.${correctionsSection}\n\nEmail details:\nFrom: ${from}\nSubject: ${subject}\n\nBody (first 2000 chars): ${bodyText}`;\n\nconst requestBody = JSON.stringify({\n  model: 'claude-sonnet-4-6',\n  max_tokens: 1024,\n  messages: [{ role: 'user', content: prompt }]\n});\n\nreturn [{ json: { classify_request_body: requestBody } }];\n"
        },
        "id": "7dbcf2ca-968b-436b-afdf-cca28a2d1ce0",
        "name": "Code: Build Classify Request",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1360,
          208
        ]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst item = items[0].json;\nconst doc_type = item.doc_type || item.document_type || 'document';\nconst company = item.company_name || item.deal_id || 'Unknown';\nconst subject = item.subject || item.source_file || 'No subject';\nreturn [{\n  json: {\n    title: `New ${doc_type} ingested`,\n    message: `${company}: ${subject}`,\n    priority: \"0\"\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5616,
          432
        ],
        "id": "pushover-code-ingestion",
        "name": "Code: Build Ingestion Alert"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.pushover.net/1/messages.json",
          "sendHeaders": false,
          "sendBody": true,
          "specifyBody": "keypair",
          "bodyParameters": {
            "parameters": [
              {
                "name": "token",
                "value": "a4fzbepw4phpxn5kirrvewcv7di5nh"
              },
              {
                "name": "user",
                "value": "ur5bbr58fnkhocxaqsgowdq4hz393h"
              },
              {
                "name": "title",
                "value": "={{ $json.title }}"
              },
              {
                "name": "message",
                "value": "={{ $json.message }}"
              },
              {
                "name": "priority",
                "value": "={{ $json.priority }}"
              },
              {
                "name": "sound",
                "value": "pushover"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          5840,
          432
        ],
        "id": "pushover-http-ingestion",
        "name": "Pushover: Ingestion Alert"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst item = items[0].json;\nconst subject = item.subject || 'No subject';\nconst sender = item.sender_email || item.from_email || 'Unknown sender';\nreturn [{\n  json: {\n    title: \"Low confidence \\u2014 needs review\",\n    message: `${subject} from ${sender} \\u2014 confirm deal attribution in Deal Room`,\n    priority: \"1\"\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2704,
          528
        ],
        "id": "pushover-code-attribution",
        "name": "Code: Build Attribution Alert"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.pushover.net/1/messages.json",
          "sendHeaders": false,
          "sendBody": true,
          "specifyBody": "keypair",
          "bodyParameters": {
            "parameters": [
              {
                "name": "token",
                "value": "a4fzbepw4phpxn5kirrvewcv7di5nh"
              },
              {
                "name": "user",
                "value": "ur5bbr58fnkhocxaqsgowdq4hz393h"
              },
              {
                "name": "title",
                "value": "={{ $json.title }}"
              },
              {
                "name": "message",
                "value": "={{ $json.message }}"
              },
              {
                "name": "priority",
                "value": "={{ $json.priority }}"
              },
              {
                "name": "sound",
                "value": "pushover"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2928,
          528
        ],
        "id": "pushover-http-attribution",
        "name": "Pushover: Attribution Alert"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO deal_notifications (deal_id, notification_type, summary, context) VALUES ('{{ $('Code: Count Chunks').first().json.deal_id }}', 'ingestion_alert', '{{ $('Code: Build Ingestion Alert').first().json.message }}', '{\"doc_type\": \"{{ $('Code: Count Chunks').first().json.doc_type }}\"}'::jsonb)",
          "options": {}
        },
        "id": "cw01-log-ingestion-alert",
        "name": "Postgres: Log Ingestion Alert",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          6064,
          432
        ],
        "credentials": {
          "postgres": {
            "id": "WwO5ZGy91Fw5lSFo",
            "name": "Clearwater Postgres"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT sender_domain, subject, doc_type, doc_type_override, deal_id, deal_id_override, classification_feedback, classification_reasoning FROM ingestion_log WHERE feedback_status = 'incorrect' AND feedback_at > NOW() - INTERVAL '90 days' ORDER BY feedback_at DESC LIMIT 10",
          "options": {}
        },
        "id": "pg-recent-corrections",
        "name": "Postgres: Get Recent Corrections",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2,
        "position": [
          1136,
          408
        ],
        "credentials": {
          "postgres": {
            "id": "WwO5ZGy91Fw5lSFo",
            "name": "Clearwater Postgres"
          }
        }
      },
      {
        "parameters": {
          "mode": "expression",
          "numberOutputs": 4,
          "output": "={{ {'pptx_attachment':0,'csv_attachment':1,'xlsx_attachment':2}.hasOwnProperty($json.doc_type) ? {'pptx_attachment':0,'csv_attachment':1,'xlsx_attachment':2}[$json.doc_type] : 3 }}"
        },
        "id": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a",
        "name": "Route Attachment Type",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          3376,
          600
        ]
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          240,
          680
        ],
        "id": "err-trigger-001",
        "name": "Error Trigger"
      },
      {
        "parameters": {
          "jsCode": "// Extract error details from the Error Trigger node's execution data\n// Handle various shapes of error trigger payload\nconst inputData = $json || {};\nconst execution = inputData.execution || {};\nconst error = execution.error || inputData.error || {};\n\nlet errorMessage = 'Unknown error';\nif (typeof error === 'string') {\n  errorMessage = error;\n} else if (error.message) {\n  errorMessage = error.message;\n} else if (error.description) {\n  errorMessage = error.description;\n}\n\nlet errorNodeName = 'Unknown node';\nif (error.node && typeof error.node === 'object' && error.node.name) {\n  errorNodeName = error.node.name;\n} else if (error.node && typeof error.node === 'string') {\n  errorNodeName = error.node;\n} else if (inputData.node && typeof inputData.node === 'string') {\n  errorNodeName = inputData.node;\n}\n\nconst executionId = execution.id || inputData.executionId || 'N/A';\nconst workflowName = (execution.workflowData && execution.workflowData.name)\n  ? execution.workflowData.name\n  : 'CW-01 Ingestion';\n\nconst title = 'CW-01 Error: ' + errorNodeName;\nconst message = [\n  'Node: ' + errorNodeName,\n  'Error: ' + errorMessage,\n  'Execution: ' + executionId,\n  'Workflow: ' + workflowName\n].join('\\n');\n\nreturn {\n  json: {\n    token: 'a4fzbepw4phpxn5kirrvewcv7di5nh',\n    user: 'ur5bbr58fnkhocxaqsgowdq4hz393h',\n    title: title,\n    message: message,\n    priority: 0\n  }\n};",
          "mode": "runOnceForEachItem"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          464,
          680
        ],
        "id": "err-build-alert-002",
        "name": "Code: Build Error Alert"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.pushover.net/1/messages.json",
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "token",
                "value": "={{ $json.token }}"
              },
              {
                "name": "user",
                "value": "={{ $json.user }}"
              },
              {
                "name": "title",
                "value": "={{ $json.title }}"
              },
              {
                "name": "message",
                "value": "={{ $json.message }}"
              },
              {
                "name": "priority",
                "value": "={{ $json.priority }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          688,
          680
        ],
        "id": "err-send-alert-003",
        "name": "Pushover: Error Alert"
      },
      {
        "parameters": {
          "jsCode": "// Split an email into multiple items: one for the body text, one per processable attachment.\n// This ensures emails with body text AND attachments get BOTH processed.\n// Checks multiple field locations for attachments (PA webhook format varies).\nconst data = $input.first().json;\n\n// Get the original classified doc_type (email_body, call_transcript, etc.)\nconst originalDocType = data.doc_type;\n\n// Gather attachments from ALL possible locations\nlet attachments = [];\n\n// 1. Try upstream Normalize node (canonical location)\ntry {\n  const normData = $('Code: Normalize Outlook Payload').first().json;\n  if (Array.isArray(normData.outlookAttachments) && normData.outlookAttachments.length > 0) {\n    attachments = normData.outlookAttachments;\n  } else if (Array.isArray(normData.attachments) && normData.attachments.length > 0) {\n    attachments = normData.attachments;\n  }\n} catch(e) {\n  // Node reference not available \u2014 fall through\n}\n\n// 2. If still empty, check current data object (may have been renamed by Parse Classification)\nif (attachments.length === 0) {\n  if (Array.isArray(data.outlookAttachments) && data.outlookAttachments.length > 0) {\n    attachments = data.outlookAttachments;\n  } else if (Array.isArray(data.attachments) && data.attachments.length > 0) {\n    attachments = data.attachments;\n  }\n}\n\n// 3. Last resort: check raw webhook body\nif (attachments.length === 0) {\n  try {\n    const webhookData = $('Webhook: Receive Outlook Email').first().json;\n    const body = webhookData.body || webhookData;\n    if (Array.isArray(body.attachments) && body.attachments.length > 0) {\n      attachments = body.attachments;\n    }\n  } catch(e) {\n    // Webhook node reference not available\n  }\n}\n\n// Extension to doc_type mapping\nconst extMap = {\n  '.pdf': 'pdf_attachment',\n  '.pptx': 'pptx_attachment',\n  '.ppt': 'pptx_attachment',\n  '.csv': 'csv_attachment',\n  '.xlsx': 'xlsx_attachment',\n  '.xls': 'xlsx_attachment'\n};\n\n// Filter to non-inline, processable attachments\nconst processableAttachments = attachments.filter(att => {\n  if (!att || typeof att !== 'object') return false;\n  if (att.isInline === true) return false;\n  const name = (att.name || att.Name || '').toLowerCase();\n  return Object.keys(extMap).some(ext => name.endsWith(ext));\n});\n\n// Build output items\nconst outputItems = [];\n\n// 1. Always output the original body item (email_body or call_transcript)\n//    Only include if the doc_type is a body type (not already an attachment type)\nconst bodyTypes = ['email_body', 'call_transcript', 'calendar_invite'];\nif (bodyTypes.includes(originalDocType)) {\n  outputItems.push({\n    json: {\n      ...data,\n      doc_type: originalDocType,\n      attachment_name: null,\n      attachment_contentType: null,\n      attachment_contentBytes: null\n    }\n  });\n}\n\n// 2. One item per processable attachment\nfor (const att of processableAttachments) {\n  const name = (att.name || att.Name || '').toLowerCase();\n  const ext = Object.keys(extMap).find(e => name.endsWith(e));\n  if (ext) {\n    outputItems.push({\n      json: {\n        ...data,\n        doc_type: extMap[ext],\n        attachment_name: att.name || att.Name || '',\n        attachment_contentType: att.contentType || att.ContentType || '',\n        attachment_contentBytes: att.contentBytes || att.ContentBytes || ''\n      }\n    });\n  }\n}\n\n// If somehow we have no items (e.g. doc_type was pdf_attachment with no actual attachments),\n// fall through with original data\nif (outputItems.length === 0) {\n  outputItems.push({\n    json: {\n      ...data,\n      attachment_name: null,\n      attachment_contentType: null,\n      attachment_contentBytes: null\n    }\n  });\n}\n\nreturn outputItems;\n",
          "mode": "runOnceForAllItems"
        },
        "id": "split-body-attachments-001",
        "name": "Code: Split Body + Attachments",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3040,
          184
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "// Decode base64 PDF attachment and output as n8n binary for ReadPdf node.\n// Input: items with attachment_contentBytes (base64 string)\n// Output: { json: { ...metadata }, binary: { data: binaryData } }\n// Guard: if contentBytes is empty after all fallbacks, skip with error message\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  let base64Content = data.attachment_contentBytes || '';\n  let attachmentName = data.attachment_name || 'attachment.pdf';\n\n  // Build clean metadata (exclude raw binary content to save memory)\n  const metadata = {};\n  for (const key of Object.keys(data)) {\n    if (key !== 'attachment_contentBytes' && key !== 'outlookAttachments') {\n      metadata[key] = data[key];\n    }\n  }\n\n  if (!base64Content) {\n    // Fallback: legacy outlookAttachments lookup\n    const attachments = data.outlookAttachments || [];\n    const pdfAttachment = attachments.find(a => {\n      const name = (a.name || '').toLowerCase();\n      const ct = (a.contentType || '').toLowerCase();\n      return ct.includes('pdf') || name.endsWith('.pdf');\n    });\n    if (pdfAttachment) {\n      base64Content = pdfAttachment.contentBytes || '';\n      attachmentName = pdfAttachment.name || 'attachment.pdf';\n    }\n  }\n\n  // Guard: if still no content, skip with descriptive error \u2014 do NOT crash\n  if (!base64Content) {\n    const skipMsg = 'PDF attachment \"' + attachmentName + '\" has empty contentBytes. ' +\n      'The attachment may have been filtered by Power Automate or sent inline. ' +\n      'message_id: ' + (metadata.message_id || 'unknown');\n    results.push({\n      json: {\n        ...metadata,\n        text: '[SKIPPED: ' + skipMsg + ']',\n        extracted_text: '[SKIPPED: ' + skipMsg + ']',\n        doc_type: 'pdf_attachment',\n        _skipped: true,\n        _skip_reason: skipMsg\n      }\n    });\n    continue;\n  }\n\n  const buffer = Buffer.from(base64Content, 'base64');\n  const binaryData = await this.helpers.prepareBinaryData(\n    buffer,\n    attachmentName,\n    'application/pdf'\n  );\n\n  results.push({\n    json: { ...metadata, attachment_name: attachmentName, doc_type: 'pdf_attachment' },\n    binary: { data: binaryData }\n  });\n}\n\nreturn results;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3376,
          352
        ],
        "id": "decode-pdf-binary-001",
        "name": "Code: Decode PDF Binary"
      },
      {
        "parameters": {
          "operation": "pdf",
          "binaryPropertyName": "data",
          "options": {
            "joinPages": true,
            "keepSource": "json"
          }
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          3600,
          352
        ],
        "id": "extract-pdf-node-001",
        "name": "Extract from File (PDF)"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "// Extract text from PPTX attachment using adm-zip.\n// Decodes base64 \u2192 Buffer \u2192 AdmZip \u2192 extracts slide XML \u2192 strips tags.\n// Single node \u2014 no binary output needed, does both decode and extract.\nconst AdmZip = require('adm-zip');\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  let base64Content = data.attachment_contentBytes || '';\n  let attachmentName = data.attachment_name || 'attachment.pptx';\n\n  // Build clean metadata (exclude raw binary content)\n  const metadata = {};\n  for (const key of Object.keys(data)) {\n    if (key !== 'attachment_contentBytes' && key !== 'outlookAttachments') {\n      metadata[key] = data[key];\n    }\n  }\n\n  if (!base64Content) {\n    // Fallback: legacy outlookAttachments lookup\n    const attachments = data.outlookAttachments || [];\n    const pptxAttachment = attachments.find(a => {\n      const name = (a.name || '').toLowerCase();\n      const ct = (a.contentType || '').toLowerCase();\n      return ct.includes('presentation') || ct.includes('pptx') || name.endsWith('.pptx') || name.endsWith('.ppt');\n    });\n    if (!pptxAttachment) {\n      results.push({ json: { ...metadata, extracted_text: '[No PPTX attachment found]' } });\n      continue;\n    }\n    base64Content = pptxAttachment.contentBytes;\n    attachmentName = pptxAttachment.name || 'attachment.pptx';\n  }\n\n  const buffer = Buffer.from(base64Content, 'base64');\n  const zip = new AdmZip(buffer);\n  const entries = zip.getEntries();\n\n  // Get slide XMLs sorted by slide number\n  const slideEntries = entries\n    .filter(e => /^ppt\\/slides\\/slide\\d+\\.xml$/i.test(e.entryName))\n    .sort((a, b) => {\n      const numA = parseInt(a.entryName.match(/slide(\\d+)/i)[1]);\n      const numB = parseInt(b.entryName.match(/slide(\\d+)/i)[1]);\n      return numA - numB;\n    });\n\n  let fullText = '';\n  for (const entry of slideEntries) {\n    const xml = entry.getData().toString('utf8');\n    const slideNum = entry.entryName.match(/slide(\\d+)/i)[1];\n    // Strip XML tags, decode entities\n    const text = xml\n      .replace(/<a:br[^/]*\\/>/gi, '\\n')\n      .replace(/<\\/a:p>/gi, '\\n')\n      .replace(/<[^>]+>/g, ' ')\n      .replace(/&amp;/g, '&')\n      .replace(/&lt;/g, '<')\n      .replace(/&gt;/g, '>')\n      .replace(/&quot;/g, '\"')\n      .replace(/&apos;/g, \"'\")\n      .replace(/&#\\d+;/g, '')\n      .replace(/ {2,}/g, ' ')\n      .replace(/\\n{3,}/g, '\\n\\n')\n      .trim();\n    if (text) {\n      fullText += '\\n--- Slide ' + slideNum + ' ---\\n' + text + '\\n';\n    }\n  }\n\n  if (!fullText.trim()) {\n    fullText = '[PPTX contained no extractable text]';\n  }\n\n  results.push({ json: { ...metadata, extracted_text: fullText.trim(), attachment_name: attachmentName } });\n}\n\nreturn results;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3600,
          520
        ],
        "id": "extract-pptx-admzip-001",
        "name": "Code: Extract PPTX"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "// Decode base64 CSV/XLSX attachment and output as n8n binary for SpreadsheetFile node.\n// Input: items with attachment_contentBytes (base64 string)\n// Output: { json: { ...metadata }, binary: { data: binaryData } }\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  let base64Content = data.attachment_contentBytes || '';\n  let attachmentName = data.attachment_name || 'attachment.csv';\n\n  // Build clean metadata (exclude raw binary content to save memory)\n  const metadata = {};\n  for (const key of Object.keys(data)) {\n    if (key !== 'attachment_contentBytes' && key !== 'outlookAttachments') {\n      metadata[key] = data[key];\n    }\n  }\n\n  if (!base64Content) {\n    // Fallback: legacy outlookAttachments lookup\n    const attachments = data.outlookAttachments || [];\n    const csvAttachment = attachments.find(a => {\n      const name = (a.name || '').toLowerCase();\n      const ct = (a.contentType || '').toLowerCase();\n      return ct.includes('csv') || ct.includes('comma-separated') || ct.includes('csv') || ct.includes('comma-separated') || name.endsWith('.csv');\n    });\n    if (!csvAttachment) {\n      results.push({ json: { ...metadata, text: '[No spreadsheet attachment found]', doc_type: 'csv_attachment' } });\n      continue;\n    }\n    base64Content = csvAttachment.contentBytes;\n    attachmentName = csvAttachment.name || 'attachment.csv';\n  }\n\n  const buffer = Buffer.from(base64Content, 'base64');\n  const ext = attachmentName.toLowerCase().split('.').pop();\n  let mimeType = 'text/csv';\n  if (ext === 'xlsx') {\n    mimeType = 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet';\n  } else if (ext === 'xls') {\n    mimeType = 'application/vnd.ms-excel';\n  }\n\n  const binaryData = await this.helpers.prepareBinaryData(\n    buffer,\n    attachmentName,\n    mimeType\n  );\n\n  results.push({\n    json: { ...metadata, attachment_name: attachmentName, doc_type: 'csv_attachment' },\n    binary: { data: binaryData }\n  });\n}\n\nreturn results;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3600,
          680
        ],
        "id": "decode-spreadsheet-binary-001",
        "name": "Code: Decode Spreadsheet Binary"
      },
      {
        "parameters": {
          "operation": "csv",
          "binaryPropertyName": "data",
          "options": {
            "keepSource": "json"
          }
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          3824,
          680
        ],
        "id": "extract-csv-node-001",
        "name": "Extract from File (CSV)"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "// Decode base64 XLSX attachment and output as n8n binary for Extract from File (XLSX) node.\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  let base64Content = data.attachment_contentBytes || '';\n  let attachmentName = data.attachment_name || 'attachment.xlsx';\n\n  const metadata = {};\n  for (const key of Object.keys(data)) {\n    if (key !== 'attachment_contentBytes' && key !== 'outlookAttachments') {\n      metadata[key] = data[key];\n    }\n  }\n\n  if (!base64Content) {\n    const attachments = data.outlookAttachments || [];\n    const xlsxAttachment = attachments.find(a => {\n      const name = (a.name || '').toLowerCase();\n      const ct = (a.contentType || '').toLowerCase();\n      return ct.includes('spreadsheet') || ct.includes('excel') || name.endsWith('.xlsx') || name.endsWith('.xls');\n    });\n    if (!xlsxAttachment) {\n      results.push({ json: { ...metadata, text: '[No XLSX attachment found]', doc_type: 'xlsx_attachment' } });\n      continue;\n    }\n    base64Content = xlsxAttachment.contentBytes;\n    attachmentName = xlsxAttachment.name || 'attachment.xlsx';\n  }\n\n  const buffer = Buffer.from(base64Content, 'base64');\n  const ext = attachmentName.toLowerCase().split('.').pop();\n  let mimeType = 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet';\n  if (ext === 'xls') {\n    mimeType = 'application/vnd.ms-excel';\n  }\n\n  const binaryData = await this.helpers.prepareBinaryData(\n    buffer,\n    attachmentName,\n    mimeType\n  );\n\n  results.push({\n    json: { ...metadata, attachment_name: attachmentName, doc_type: 'xlsx_attachment' },\n    binary: { data: binaryData }\n  });\n}\n\nreturn results;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3600,
          840
        ],
        "id": "decode-xlsx-binary-001",
        "name": "Code: Decode XLSX Binary"
      },
      {
        "parameters": {
          "operation": "xlsx",
          "binaryPropertyName": "data",
          "options": {
            "keepSource": "json"
          }
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          3824,
          840
        ],
        "id": "extract-xlsx-node-001",
        "name": "Extract from File (XLSX)"
      }
    ],
    "connections": {
      "Postgres: Check Duplicate": {
        "main": [
          [
            {
              "node": "Is New Email?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is New Email?": {
        "main": [
          [
            {
              "node": "Postgres: Get Recent Corrections",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "AI: Classify & Attribute Email": {
        "main": [
          [
            {
              "node": "Code: Parse Classification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Parse Classification": {
        "main": [
          [
            {
              "node": "Route by Confidence",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route by Confidence": {
        "main": [
          [
            {
              "node": "Postgres: Lookup Deal (High)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Postgres: Lookup Deal (High)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Postgres: Queue for Confirmation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres: Lookup Deal (High)": {
        "main": [
          [
            {
              "node": "Code: Assign Deal ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Assign Deal ID": {
        "main": [
          [
            {
              "node": "Postgres: Upsert Deal",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres: Queue for Confirmation": {
        "main": [
          [
            {
              "node": "Code: Assign Unattributed Deal ID",
              "type": "main",
              "index": 0
            },
            {
              "node": "Code: Build Attribution Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Assign Unattributed Deal ID": {
        "main": [
          [
            {
              "node": "Code: Pass Deal Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres: Upsert Deal": {
        "main": [
          [
            {
              "node": "Code: Pass Deal Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Pass Deal Data": {
        "main": [
          [
            {
              "node": "Code: Split Body + Attachments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route by Document Type": {
        "main": [
          [],
          [
            {
              "node": "Code: Extract Email Body",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code: Parse Thread",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code: Decode PDF Binary",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Route Attachment Type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Extract Email Body": {
        "main": [
          [
            {
              "node": "Code: Parse Thread",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Parse Thread": {
        "main": [
          [
            {
              "node": "Code: Merge Extracted Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Merge Extracted Text": {
        "main": [
          [
            {
              "node": "Code: Contextual Enrichment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Contextual Enrichment": {
        "main": [
          [
            {
              "node": "Code: Chunk Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Chunk Text": {
        "main": [
          [
            {
              "node": "HTTP: Embed Chunk",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP: Embed Chunk": {
        "main": [
          [
            {
              "node": "Code: Build Qdrant Point",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Build Qdrant Point": {
        "main": [
          [
            {
              "node": "HTTP: Qdrant Upsert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP: Qdrant Upsert": {
        "main": [
          [
            {
              "node": "Code: Count Chunks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres: Log Ingestion": {
        "main": [
          [
            {
              "node": "HTTP: Trigger Health Agent",
              "type": "main",
              "index": 0
            },
            {
              "node": "Code: Build Ingestion Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Count Chunks": {
        "main": [
          [
            {
              "node": "Postgres: Log Ingestion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Normalize For Dedup": {
        "main": [
          [
            {
              "node": "Postgres: Check Duplicate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook: Receive Outlook Email": {
        "main": [
          [
            {
              "node": "Code: Normalize Outlook Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Normalize Outlook Payload": {
        "main": [
          [
            {
              "node": "Code: Normalize For Dedup",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Build Classify Request": {
        "main": [
          [
            {
              "node": "AI: Classify & Attribute Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Build Ingestion Alert": {
        "main": [
          [
            {
              "node": "Pushover: Ingestion Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Build Attribution Alert": {
        "main": [
          [
            {
              "node": "Pushover: Attribution Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pushover: Ingestion Alert": {
        "main": [
          [
            {
              "node": "Postgres: Log Ingestion Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres: Get Recent Corrections": {
        "main": [
          [
            {
              "node": "Code: Build Classify Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route Attachment Type": {
        "main": [
          [
            {
              "node": "Code: Extract PPTX",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code: Decode Spreadsheet Binary",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code: Decode XLSX Binary",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code: Merge Extracted Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Code: Build Error Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Build Error Alert": {
        "main": [
          [
            {
              "node": "Pushover: Error Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Split Body + Attachments": {
        "main": [
          [
            {
              "node": "Route by Document Type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Decode PDF Binary": {
        "main": [
          [
            {
              "node": "Extract from File (PDF)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File (PDF)": {
        "main": [
          [
            {
              "node": "Code: Merge Extracted Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Extract PPTX": {
        "main": [
          [
            {
              "node": "Code: Merge Extracted Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Decode Spreadsheet Binary": {
        "main": [
          [
            {
              "node": "Extract from File (CSV)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File (CSV)": {
        "main": [
          [
            {
              "node": "Code: Merge Extracted Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Decode XLSX Binary": {
        "main": [
          [
            {
              "node": "Extract from File (XLSX)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File (XLSX)": {
        "main": [
          [
            {
              "node": "Code: Merge Extracted Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Randall raustinholland@gmail.com",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-08T04:53:06.940Z",
        "id": 938,
        "workflowId": "G6kZgyHCK0qHNhRj",
        "versionId": "e0fc3426-c07f-455c-b9d2-45bfe88b8891",
        "event": "deactivated",
        "userId": "8a968d0b-280d-4856-b867-bed874846716"
      },
      {
        "createdAt": "2026-03-08T04:53:06.971Z",
        "id": 939,
        "workflowId": "G6kZgyHCK0qHNhRj",
        "versionId": "e0fc3426-c07f-455c-b9d2-45bfe88b8891",
        "event": "activated",
        "userId": "8a968d0b-280d-4856-b867-bed874846716"
      }
    ]
  }
}