deal-intelligence-engine/n8n/workflows/workflow-04f-approve-output.json
{
  "id": "KE681WckpVAKhiV3",
  "name": "CW-04f: Approve Output Sub-Workflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "cw04f-0001-0000-0000-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract inputs passed from the toolWorkflow\nconst inp = $input.first().json;\n\nif (!inp.draft_id) throw new Error('Missing required field: draft_id');\n\nreturn [{ json: {\n  draft_id: inp.draft_id,\n  final_body: inp.final_body || null\n}}];\n"
      },
      "id": "cw04f-0002-0000-0000-000000000002",
      "name": "Code: Extract Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/output-approve",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ draft_id: $json.draft_id, final_body: $json.final_body || undefined }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "cw04f-0003-0000-0000-000000000003",
      "name": "HTTP: Call Output Approve",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Format the approval confirmation for the chat agent\nconst result = $input.first().json;\n\nconst formatted = result.status === 'sent'\n  ? `OUTPUT SENT\\nDraft ID: ${result.draft_id} has been approved and sent to Austin's inbox.\\nType: ${result.output_type}\\nSubject: ${result.subject}\\nTo: ${result.recipient_email}`\n  : `APPROVAL RESPONSE: ${JSON.stringify(result)}`;\n\nreturn [{ json: { output: formatted, status: result.status } }];\n"
      },
      "id": "cw04f-0004-0000-0000-000000000004",
      "name": "Code: Format Approval Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{"node": "Code: Extract Inputs", "type": "main", "index": 0}]]
    },
    "Code: Extract Inputs": {
      "main": [[{"node": "HTTP: Call Output Approve", "type": "main", "index": 0}]]
    },
    "HTTP: Call Output Approve": {
      "main": [[{"node": "Code: Format Approval Response", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "staticData": null
}
