deal-intelligence-engine/n8n/workflows/workflow-04c-rag-search.json
{
  "id": "jbcDZOmO5cjqXPhx",
  "name": "CW-04c: RAG Search Sub-Workflow",
  "nodes": [
    {
      "id": "cw04c-0001-0000-0000-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {}
    },
    {
      "id": "cw04c-0002-0000-0000-000000000002",
      "name": "HTTP: Embed Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": \"{{ $json.query }}\"\n}",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "0uPlAmGz2rZbF75R",
          "name": "OpenAI API"
        }
      }
    },
    {
      "id": "cw04c-0003-0000-0000-000000000003",
      "name": "HTTP: Qdrant Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300],
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/deals/points/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"vector\": {{ JSON.stringify($json.data[0].embedding) }},\n  \"filter\": { \"must\": [{ \"key\": \"deal_id\", \"match\": { \"value\": \"{{ $('Execute Workflow Trigger').first().json.deal_id }}\" } }] },\n  \"limit\": 8,\n  \"with_payload\": true,\n  \"with_vector\": false\n}",
        "options": {}
      }
    },
    {
      "id": "cw04c-0004-0000-0000-000000000004",
      "name": "Code: Format Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300],
      "parameters": {
        "jsCode": "const trigger = $('Execute Workflow Trigger').first().json;\nconst deal_id = trigger.deal_id || 'unknown';\nconst query = trigger.query || '';\n\nconst qdrantResponse = $input.first().json;\nconst hits = qdrantResponse.result || [];\n\nif (hits.length === 0) {\n  return [{ json: { result: `No documents found in the knowledge base for deal ${deal_id} matching: \"${query}\". The deal may not have been ingested yet.` } }];\n}\n\nconst passages = hits\n  .filter(h => (h.score || 0) > 0.25)\n  .map(h => {\n    const p = h.payload || {};\n    const date = p.date_created ? new Date(p.date_created).toISOString().split('T')[0] : 'unknown';\n    return `[${p.doc_type || 'document'}, ${date}, score: ${(h.score || 0).toFixed(3)}]\\n${p.page_content || '(no content)'}`.trim();\n  });\n\nif (passages.length === 0) {\n  return [{ json: { result: `Found ${hits.length} results for deal ${deal_id} but all scored below relevance threshold (0.25). Try a more specific query.` } }];\n}\n\nconst result = `## RAG Results for ${deal_id} — \"${query}\"\\n\\nFound ${passages.length} relevant passage(s):\\n\\n${passages.join('\\n\\n---\\n\\n')}`;\n\nreturn [{ json: { result } }];\n"
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{"node": "HTTP: Embed Query", "type": "main", "index": 0}]]
    },
    "HTTP: Embed Query": {
      "main": [[{"node": "HTTP: Qdrant Search", "type": "main", "index": 0}]]
    },
    "HTTP: Qdrant Search": {
      "main": [[{"node": "Code: Format Results", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
