deal-intelligence-engine/n8n/workflows/workflow-06-get-deals.json
{
  "updatedAt": "2026-03-07T00:29:49.298Z",
  "createdAt": "2026-03-03T04:50:30.057Z",
  "id": "h2CrtDQx4fUp4c7v",
  "name": "CW-06: Get Deals",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "cw06-0001-0000-0000-000000000001",
      "name": "Webhook: Get Deals",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "cw06-0001-0000-0000-000000000001",
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "GET",
        "path": "get-deals",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "cw06-0002-0000-0000-000000000002",
      "name": "Postgres: Get Active Deals",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        460,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT deal_id, company_name, salesforce_opp_name, salesforce_opp_id, salesforce_account_name, deal_stage, is_active, COALESCE(status, 'active') AS status FROM deals ORDER BY company_name ASC",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "WwO5ZGy91Fw5lSFo",
          "name": "Clearwater Postgres"
        }
      }
    },
    {
      "id": "cw06-0003-0000-0000-000000000003",
      "name": "Code: Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "jsCode": "const rows = $input.all().map(item => item.json);\nreturn [{ json: { deals: rows } }];"
      }
    },
    {
      "id": "cw06-0004-0000-0000-000000000004",
      "name": "Respond: Return Deals",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook: Get Deals": {
      "main": [
        [
          {
            "node": "Postgres: Get Active Deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Get Active Deals": {
      "main": [
        [
          {
            "node": "Code: Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Format Response": {
      "main": [
        [
          {
            "node": "Respond: Return Deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "efdb1b6d-f73b-4add-87b4-7beff4ba876b",
  "activeVersionId": "efdb1b6d-f73b-4add-87b4-7beff4ba876b",
  "versionCounter": 89,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-03T04:50:30.057Z",
      "createdAt": "2026-03-03T04:50:30.057Z",
      "role": "workflow:owner",
      "workflowId": "h2CrtDQx4fUp4c7v",
      "projectId": "AyFYj8ev1hBER3zO",
      "project": {
        "updatedAt": "2026-02-26T09:07:37.733Z",
        "createdAt": "2026-02-26T07:53:31.019Z",
        "id": "AyFYj8ev1hBER3zO",
        "name": "Randall raustinholland@gmail.com <raustinholland@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8a968d0b-280d-4856-b867-bed874846716"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-07T00:29:49.301Z",
    "createdAt": "2026-03-07T00:29:49.301Z",
    "versionId": "efdb1b6d-f73b-4add-87b4-7beff4ba876b",
    "workflowId": "h2CrtDQx4fUp4c7v",
    "nodes": [
      {
        "id": "cw06-0001-0000-0000-000000000001",
        "name": "Webhook: Get Deals",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "webhookId": "cw06-0001-0000-0000-000000000001",
        "position": [
          240,
          300
        ],
        "parameters": {
          "httpMethod": "GET",
          "path": "get-deals",
          "responseMode": "responseNode",
          "options": {}
        }
      },
      {
        "id": "cw06-0002-0000-0000-000000000002",
        "name": "Postgres: Get Active Deals",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          460,
          300
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT deal_id, company_name, deal_stage, is_active, COALESCE(status, 'active') AS status FROM deals ORDER BY company_name ASC",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "WwO5ZGy91Fw5lSFo",
            "name": "Clearwater Postgres"
          }
        }
      },
      {
        "id": "cw06-0003-0000-0000-000000000003",
        "name": "Code: Format Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          680,
          300
        ],
        "parameters": {
          "jsCode": "const rows = $input.all().map(item => item.json);\nreturn [{ json: { deals: rows } }];"
        }
      },
      {
        "id": "cw06-0004-0000-0000-000000000004",
        "name": "Respond: Return Deals",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          900,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify($json) }}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                },
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            }
          }
        }
      }
    ],
    "connections": {
      "Webhook: Get Deals": {
        "main": [
          [
            {
              "node": "Postgres: Get Active Deals",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres: Get Active Deals": {
        "main": [
          [
            {
              "node": "Code: Format Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Format Response": {
        "main": [
          [
            {
              "node": "Respond: Return Deals",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Randall raustinholland@gmail.com",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-07T00:29:49.339Z",
        "id": 863,
        "workflowId": "h2CrtDQx4fUp4c7v",
        "versionId": "efdb1b6d-f73b-4add-87b4-7beff4ba876b",
        "event": "deactivated",
        "userId": "8a968d0b-280d-4856-b867-bed874846716"
      },
      {
        "createdAt": "2026-03-07T00:29:49.357Z",
        "id": 864,
        "workflowId": "h2CrtDQx4fUp4c7v",
        "versionId": "efdb1b6d-f73b-4add-87b4-7beff4ba876b",
        "event": "activated",
        "userId": "8a968d0b-280d-4856-b867-bed874846716"
      }
    ]
  }
}