deal-intelligence-engine/n8n/workflows/workflow-19-trace-enrichment.json
{
  "updatedAt": "2026-03-05T23:27:27.202Z",
  "createdAt": "2026-03-05T23:27:27.202Z",
  "id": "hiVtJY4I9UL82yKW",
  "name": "CW-19: Trace Enrichment Worker",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "enrich-trace",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "id": "cw19-0001-0000-0000-000000000001",
      "name": "Webhook: Enrich Trace",
      "webhookId": "cw19-0001-0000-0000-000000000001"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        480,
        300
      ],
      "id": "cw19-0002-0000-0000-000000000002",
      "name": "Wait: Let Execution Finish"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://localhost:5678/api/v1/executions/{{ $('Webhook: Enrich Trace').first().json.body.execution_id }}?includeData=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI4YTk2OGQwYi0yODBkLTQ4NTYtYjg2Ny1iZWQ4NzQ4NDY3MTYiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiZDI4ODVjNjYtOTZmMi00YWJiLTg5YTYtMTBmYmVkMTQwODI4IiwiaWF0IjoxNzcyMTg0MzQ0LCJleHAiOjE3Nzk5NDA4MDB9.MRTQ76gXhGXUAFdVqiOOnQ5P7jx_Dy6HC7UWMtYtWIk"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ],
      "id": "cw19-0003-0000-0000-000000000003",
      "name": "HTTP: Get Execution"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// SQL helpers\nfunction sq(v) {\n  return v == null ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\";\n}\nfunction sj(v) {\n  return v == null ? 'NULL' : \"'\" + JSON.stringify(v).replace(/'/g, \"''\") + \"'::jsonb\";\n}\nfunction si(v) {\n  return v == null ? 'NULL' : parseInt(v, 10);\n}\n\n// Basic trace data from the webhook body\nconst webhook = $('Webhook: Enrich Trace').first().json.body;\nconst traceId = webhook.trace_id;\n\n// Execution data from HTTP Request\nconst execResponse = $input.first().json;\nconst runData = execResponse?.data?.resultData?.runData || {};\n\n// Extract tool calls + Think steps\nlet toolCalls = null;\nlet thinkSteps = null;\nlet dealId = null;\nlet iterationCount = null;\nlet totalDurationMs = null;\nlet toolsCalledCount = 0;\nlet ragChunks = null;\nlet promptTokens = null;\nlet completionToks = null;\nlet totalTokens = null;\n\nconst agentRun = runData['AI Agent']?.[0];\nif (agentRun) {\n  totalDurationMs = agentRun.executionTime || null;\n  const subExec = agentRun.metadata?.subNodeExecutionData || {};\n  const actions = subExec.actions || [];\n\n  // iterationCount lives in the metadata array as a plain string key\n  // but the actual value is on the agent run metadata directly\n  const metaArr = subExec.metadata || [];\n  if (Array.isArray(metaArr)) {\n    // n8n stores this as field names; actual count is elsewhere\n    iterationCount = null;\n  } else if (typeof metaArr === 'object') {\n    iterationCount = metaArr.iterationCount || null;\n  }\n\n  if (actions.length > 0) {\n    const calls = [];\n    for (const a of actions) {\n      const act = a.action || {};\n      const nodeName = act.nodeName || '';\n      // Think tool does NOT appear in the actions array \u2014 skip check here\n      calls.push({ tool: nodeName, input: act.input || {}, duration_ms: null });\n      if (act.input?.deal_id && !dealId) dealId = act.input.deal_id;\n    }\n    if (calls.length > 0) toolCalls = calls;\n    toolsCalledCount = calls.length;\n  }\n}\n\n// \u2500\u2500 Think tool extraction \u2500\u2500\n// The Think tool appears as a top-level node in runData (not in the agent actions array).\n// Its output is at data.ai_tool[0][0].json.response per run.\nconst thinkRuns = runData['Think'] || [];\nif (thinkRuns.length > 0) {\n  const thinks = [];\n  for (const run of thinkRuns) {\n    const aiToolOutput = run?.data?.ai_tool;\n    if (aiToolOutput && aiToolOutput[0] && aiToolOutput[0].length > 0) {\n      for (const item of aiToolOutput[0]) {\n        const response = item?.json?.response;\n        if (response) {\n          thinks.push({\n            step: thinks.length + 1,\n            content: response,\n          });\n        }\n      }\n    }\n  }\n  if (thinks.length > 0) thinkSteps = thinks;\n}\n\n// \u2500\u2500 deal_id fallback: extract from tool nodes in runData \u2500\u2500\nif (!dealId) {\n  // Check tool nodes that have ai_tool output for deal_id in their input\n  for (const [nodeName, runs] of Object.entries(runData)) {\n    if (dealId) break;\n    if (!nodeName.startsWith('Tool:')) continue;\n    for (const run of runs) {\n      const items = run?.data?.ai_tool?.[0] || [];\n      for (const item of items) {\n        const did = item?.json?.deal_id;\n        if (did) { dealId = did; break; }\n      }\n      if (dealId) break;\n    }\n  }\n}\n\n// Extract RAG chunks\nconst ragNode = runData['Tool: search_deal_rag'];\nif (ragNode) {\n  const chunks = [];\n  for (const run of ragNode) {\n    const result = run?.data?.ai_tool?.[0]?.[0]?.json?.result;\n    if (result) {\n      chunks.push({ query: 'search_deal_rag', top_preview: String(result).substring(0, 300), chunks_returned: (String(result).match(/##/g) || []).length });\n    }\n  }\n  if (chunks.length > 0) ragChunks = chunks;\n}\n\n// Extract token usage\nconst claudeRuns = runData['Claude Sonnet 4.6'] || [];\nif (claudeRuns.length > 0) {\n  let pTotal = 0, cTotal = 0;\n  for (const cr of claudeRuns) {\n    const tu = cr?.data?.ai_languageModel?.[0]?.[0]?.json?.tokenUsage;\n    if (tu) { pTotal += tu.promptTokens || 0; cTotal += tu.completionTokens || 0; }\n  }\n  promptTokens = pTotal;\n  completionToks = cTotal;\n  totalTokens = pTotal + cTotal;\n}\n\n// Build UPDATE SQL to enrich the existing row\nconst sql = `\nUPDATE agent_traces SET\n  deal_id = ${sq(dealId)},\n  think_steps = ${sj(thinkSteps)},\n  tool_calls = ${sj(toolCalls)},\n  rag_chunks = ${sj(ragChunks)},\n  prompt_tokens = ${si(promptTokens)},\n  completion_tokens = ${si(completionToks)},\n  total_tokens = ${si(totalTokens)},\n  total_duration_ms = ${si(totalDurationMs)},\n  iteration_count = ${si(iterationCount)},\n  tools_called_count = ${si(toolsCalledCount)}\nWHERE id = ${si(traceId)};`.trim();\n\nreturn [{ json: { update_sql: sql } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        300
      ],
      "id": "cw19-0004-0000-0000-000000000004",
      "name": "Code: Extract Trace Data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.update_sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1200,
        300
      ],
      "id": "cw19-0005-0000-0000-000000000005",
      "name": "Postgres: Update Trace",
      "credentials": {
        "postgres": {
          "id": "WwO5ZGy91Fw5lSFo",
          "name": "Clearwater Postgres"
        }
      }
    }
  ],
  "connections": {
    "Webhook: Enrich Trace": {
      "main": [
        [
          {
            "node": "Wait: Let Execution Finish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait: Let Execution Finish": {
      "main": [
        [
          {
            "node": "HTTP: Get Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Get Execution": {
      "main": [
        [
          {
            "node": "Code: Extract Trace Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Extract Trace Data": {
      "main": [
        [
          {
            "node": "Postgres: Update Trace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "980efd85-3fa6-4067-8cce-b57b5b3f8c87",
  "activeVersionId": "980efd85-3fa6-4067-8cce-b57b5b3f8c87",
  "versionCounter": 6,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-05T23:27:27.202Z",
      "createdAt": "2026-03-05T23:27:27.202Z",
      "role": "workflow:owner",
      "workflowId": "hiVtJY4I9UL82yKW",
      "projectId": "AyFYj8ev1hBER3zO",
      "project": {
        "updatedAt": "2026-02-26T09:07:37.733Z",
        "createdAt": "2026-02-26T07:53:31.019Z",
        "id": "AyFYj8ev1hBER3zO",
        "name": "Randall raustinholland@gmail.com <raustinholland@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8a968d0b-280d-4856-b867-bed874846716"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-05T23:27:27.223Z",
    "createdAt": "2026-03-05T23:27:27.223Z",
    "versionId": "980efd85-3fa6-4067-8cce-b57b5b3f8c87",
    "workflowId": "hiVtJY4I9UL82yKW",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "enrich-trace",
          "responseMode": "onReceived",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          300
        ],
        "id": "cw19-0001-0000-0000-000000000001",
        "name": "Webhook: Enrich Trace",
        "webhookId": "cw19-0001-0000-0000-000000000001"
      },
      {
        "parameters": {
          "amount": 5,
          "unit": "seconds"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          480,
          300
        ],
        "id": "cw19-0002-0000-0000-000000000002",
        "name": "Wait: Let Execution Finish"
      },
      {
        "parameters": {
          "method": "GET",
          "url": "=http://localhost:5678/api/v1/executions/{{ $('Webhook: Enrich Trace').first().json.body.execution_id }}?includeData=true",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-N8N-API-KEY",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI4YTk2OGQwYi0yODBkLTQ4NTYtYjg2Ny1iZWQ4NzQ4NDY3MTYiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiZDI4ODVjNjYtOTZmMi00YWJiLTg5YTYtMTBmYmVkMTQwODI4IiwiaWF0IjoxNzcyMTg0MzQ0LCJleHAiOjE3Nzk5NDA4MDB9.MRTQ76gXhGXUAFdVqiOOnQ5P7jx_Dy6HC7UWMtYtWIk"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          720,
          300
        ],
        "id": "cw19-0003-0000-0000-000000000003",
        "name": "HTTP: Get Execution"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "// SQL helpers\nfunction sq(v) {\n  return v == null ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\";\n}\nfunction sj(v) {\n  return v == null ? 'NULL' : \"'\" + JSON.stringify(v).replace(/'/g, \"''\") + \"'::jsonb\";\n}\nfunction si(v) {\n  return v == null ? 'NULL' : parseInt(v, 10);\n}\n\n// Basic trace data from the webhook body\nconst webhook = $('Webhook: Enrich Trace').first().json.body;\nconst traceId = webhook.trace_id;\n\n// Execution data from HTTP Request\nconst execResponse = $input.first().json;\nconst runData = execResponse?.data?.resultData?.runData || {};\n\n// Extract tool calls + Think steps\nlet toolCalls = null;\nlet thinkSteps = null;\nlet dealId = null;\nlet iterationCount = null;\nlet totalDurationMs = null;\nlet toolsCalledCount = 0;\nlet ragChunks = null;\nlet promptTokens = null;\nlet completionToks = null;\nlet totalTokens = null;\n\nconst agentRun = runData['AI Agent']?.[0];\nif (agentRun) {\n  totalDurationMs = agentRun.executionTime || null;\n  const subExec = agentRun.metadata?.subNodeExecutionData || {};\n  const actions = subExec.actions || [];\n\n  // iterationCount lives in the metadata array as a plain string key\n  // but the actual value is on the agent run metadata directly\n  const metaArr = subExec.metadata || [];\n  if (Array.isArray(metaArr)) {\n    // n8n stores this as field names; actual count is elsewhere\n    iterationCount = null;\n  } else if (typeof metaArr === 'object') {\n    iterationCount = metaArr.iterationCount || null;\n  }\n\n  if (actions.length > 0) {\n    const calls = [];\n    for (const a of actions) {\n      const act = a.action || {};\n      const nodeName = act.nodeName || '';\n      // Think tool does NOT appear in the actions array \\u2014 skip check here\n      calls.push({ tool: nodeName, input: act.input || {}, duration_ms: null });\n      if (act.input?.deal_id && !dealId) dealId = act.input.deal_id;\n    }\n    if (calls.length > 0) toolCalls = calls;\n    toolsCalledCount = calls.length;\n  }\n}\n\n// \\u2500\\u2500 Think tool extraction \\u2500\\u2500\n// The Think tool appears as a top-level node in runData (not in the agent actions array).\n// Its output is at data.ai_tool[0][0].json.response per run.\nconst thinkRuns = runData['Think'] || [];\nif (thinkRuns.length > 0) {\n  const thinks = [];\n  for (const run of thinkRuns) {\n    const aiToolOutput = run?.data?.ai_tool;\n    if (aiToolOutput && aiToolOutput[0] && aiToolOutput[0].length > 0) {\n      for (const item of aiToolOutput[0]) {\n        const response = item?.json?.response;\n        if (response) {\n          thinks.push({\n            step: thinks.length + 1,\n            content: response,\n          });\n        }\n      }\n    }\n  }\n  if (thinks.length > 0) thinkSteps = thinks;\n}\n\n// \\u2500\\u2500 deal_id fallback: extract from tool nodes in runData \\u2500\\u2500\nif (!dealId) {\n  // Check tool nodes that have ai_tool output for deal_id in their input\n  for (const [nodeName, runs] of Object.entries(runData)) {\n    if (dealId) break;\n    if (!nodeName.startsWith('Tool:')) continue;\n    for (const run of runs) {\n      const items = run?.data?.ai_tool?.[0] || [];\n      for (const item of items) {\n        const did = item?.json?.deal_id;\n        if (did) { dealId = did; break; }\n      }\n      if (dealId) break;\n    }\n  }\n}\n\n// Extract RAG chunks\nconst ragNode = runData['Tool: search_deal_rag'];\nif (ragNode) {\n  const chunks = [];\n  for (const run of ragNode) {\n    const result = run?.data?.ai_tool?.[0]?.[0]?.json?.result;\n    if (result) {\n      chunks.push({ query: 'search_deal_rag', top_preview: String(result).substring(0, 300), chunks_returned: (String(result).match(/##/g) || []).length });\n    }\n  }\n  if (chunks.length > 0) ragChunks = chunks;\n}\n\n// Extract token usage\nconst claudeRuns = runData['Claude Sonnet 4.6'] || [];\nif (claudeRuns.length > 0) {\n  let pTotal = 0, cTotal = 0;\n  for (const cr of claudeRuns) {\n    const tu = cr?.data?.ai_languageModel?.[0]?.[0]?.json?.tokenUsage;\n    if (tu) { pTotal += tu.promptTokens || 0; cTotal += tu.completionTokens || 0; }\n  }\n  promptTokens = pTotal;\n  completionToks = cTotal;\n  totalTokens = pTotal + cTotal;\n}\n\n// Build UPDATE SQL to enrich the existing row\nconst sql = `\nUPDATE agent_traces SET\n  deal_id = ${sq(dealId)},\n  think_steps = ${sj(thinkSteps)},\n  tool_calls = ${sj(toolCalls)},\n  rag_chunks = ${sj(ragChunks)},\n  prompt_tokens = ${si(promptTokens)},\n  completion_tokens = ${si(completionToks)},\n  total_tokens = ${si(totalTokens)},\n  total_duration_ms = ${si(totalDurationMs)},\n  iteration_count = ${si(iterationCount)},\n  tools_called_count = ${si(toolsCalledCount)}\nWHERE id = ${si(traceId)};`.trim();\n\nreturn [{ json: { update_sql: sql } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          960,
          300
        ],
        "id": "cw19-0004-0000-0000-000000000004",
        "name": "Code: Extract Trace Data"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "={{ $json.update_sql }}",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1200,
          300
        ],
        "id": "cw19-0005-0000-0000-000000000005",
        "name": "Postgres: Update Trace",
        "credentials": {
          "postgres": {
            "id": "WwO5ZGy91Fw5lSFo",
            "name": "Clearwater Postgres"
          }
        }
      }
    ],
    "connections": {
      "Webhook: Enrich Trace": {
        "main": [
          [
            {
              "node": "Wait: Let Execution Finish",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait: Let Execution Finish": {
        "main": [
          [
            {
              "node": "HTTP: Get Execution",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP: Get Execution": {
        "main": [
          [
            {
              "node": "Code: Extract Trace Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Extract Trace Data": {
        "main": [
          [
            {
              "node": "Postgres: Update Trace",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Randall raustinholland@gmail.com",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-05T23:27:32.764Z",
        "id": 752,
        "workflowId": "hiVtJY4I9UL82yKW",
        "versionId": "980efd85-3fa6-4067-8cce-b57b5b3f8c87",
        "event": "activated",
        "userId": "8a968d0b-280d-4856-b867-bed874846716"
      }
    ]
  }
}