deal-intelligence-engine/n8n/workflows/workflow-18-get-traces.json
{
    "updatedAt": "2026-03-05T23:02:13.349Z",
    "createdAt": "2026-03-05T23:01:20.033Z",
    "id": "8CVEUtlemuihJhdA",
    "name": "CW-18: API \u2014 Get Traces",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "httpMethod": "GET",
                "path": "get-traces",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "cw18-0001-0000-0000-000000000001",
            "name": "Webhook: Get Traces",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                260,
                300
            ],
            "webhookId": "get-traces"
        },
        {
            "parameters": {
                "jsCode": "const sessionId = $input.first().json.query.session_id || '';\nconst latest = $input.first().json.query.latest === 'true';\n\nfunction sq(v) {\n  return \"'\" + String(v).replace(/'/g, \"''\") + \"'\";\n}\n\nlet query;\nif (latest) {\n  query = `SELECT id, session_id, message_id, deal_id, user_input,\n    LEFT(agent_output, 500) as agent_output_preview,\n    think_steps, tool_calls, rag_chunks,\n    prompt_tokens, completion_tokens, total_tokens,\n    total_duration_ms, iteration_count, tools_called_count,\n    status, error_message, created_at\n  FROM agent_traces\n  WHERE session_id = ${sq(sessionId)}\n  ORDER BY created_at DESC\n  LIMIT 1;`;\n} else {\n  query = `SELECT id, session_id, message_id, deal_id, user_input,\n    LEFT(agent_output, 500) as agent_output_preview,\n    think_steps, tool_calls, rag_chunks,\n    prompt_tokens, completion_tokens, total_tokens,\n    total_duration_ms, iteration_count, tools_called_count,\n    status, error_message, created_at\n  FROM agent_traces\n  WHERE session_id = ${sq(sessionId)}\n  ORDER BY created_at ASC;`;\n}\n\nreturn [{ json: { query } }];"
            },
            "id": "cw18-0002-0000-0000-000000000002",
            "name": "Code: Build Query",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                480,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "={{ $json.query }}",
                "options": {}
            },
            "id": "cw18-0003-0000-0000-000000000003",
            "name": "Postgres: Query Traces",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                700,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "WwO5ZGy91Fw5lSFo",
                    "name": "Clearwater Postgres"
                }
            },
            "onError": "continueRegularOutput",
            "alwaysOutputData": true
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {}
            },
            "id": "cw18-0004-0000-0000-000000000004",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1030,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all().map(i => i.json);\n// Filter out empty items from zero-row queries\nconst results = items.filter(i => Object.keys(i).length > 0);\nreturn [{ json: { traces: results, count: results.length } }];"
            },
            "id": "cw18-0005-0000-0000-000000000005",
            "name": "Code: Wrap Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                810,
                300
            ]
        }
    ],
    "connections": {
        "Webhook: Get Traces": {
            "main": [
                [
                    {
                        "node": "Code: Build Query",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code: Build Query": {
            "main": [
                [
                    {
                        "node": "Postgres: Query Traces",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Postgres: Query Traces": {
            "main": [
                [
                    {
                        "node": "Code: Wrap Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code: Wrap Response": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": null,
    "versionId": "e51b3dc6-febe-4aaf-9488-23f154d0facc",
    "activeVersionId": "e51b3dc6-febe-4aaf-9488-23f154d0facc",
    "versionCounter": 7,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-03-05T23:01:20.033Z",
            "createdAt": "2026-03-05T23:01:20.033Z",
            "role": "workflow:owner",
            "workflowId": "8CVEUtlemuihJhdA",
            "projectId": "AyFYj8ev1hBER3zO",
            "project": {
                "updatedAt": "2026-02-26T09:07:37.733Z",
                "createdAt": "2026-02-26T07:53:31.019Z",
                "id": "AyFYj8ev1hBER3zO",
                "name": "Randall raustinholland@gmail.com <raustinholland@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "8a968d0b-280d-4856-b867-bed874846716"
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-03-05T23:02:13.353Z",
        "createdAt": "2026-03-05T23:02:13.353Z",
        "versionId": "e51b3dc6-febe-4aaf-9488-23f154d0facc",
        "workflowId": "8CVEUtlemuihJhdA",
        "nodes": [
            {
                "parameters": {
                    "httpMethod": "GET",
                    "path": "get-traces",
                    "responseMode": "responseNode",
                    "options": {}
                },
                "id": "cw18-0001-0000-0000-000000000001",
                "name": "Webhook: Get Traces",
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2,
                "position": [
                    260,
                    300
                ],
                "webhookId": "get-traces"
            },
            {
                "parameters": {
                    "jsCode": "const sessionId = $input.first().json.query.session_id || '';\nconst latest = $input.first().json.query.latest === 'true';\n\nfunction sq(v) {\n  return \"'\" + String(v).replace(/'/g, \"''\") + \"'\";\n}\n\nlet query;\nif (latest) {\n  query = `SELECT id, session_id, message_id, deal_id, user_input,\n    LEFT(agent_output, 500) as agent_output_preview,\n    think_steps, tool_calls, rag_chunks,\n    prompt_tokens, completion_tokens, total_tokens,\n    total_duration_ms, iteration_count, tools_called_count,\n    status, error_message, created_at\n  FROM agent_traces\n  WHERE session_id = ${sq(sessionId)}\n  ORDER BY created_at DESC\n  LIMIT 1;`;\n} else {\n  query = `SELECT id, session_id, message_id, deal_id, user_input,\n    LEFT(agent_output, 500) as agent_output_preview,\n    think_steps, tool_calls, rag_chunks,\n    prompt_tokens, completion_tokens, total_tokens,\n    total_duration_ms, iteration_count, tools_called_count,\n    status, error_message, created_at\n  FROM agent_traces\n  WHERE session_id = ${sq(sessionId)}\n  ORDER BY created_at ASC;`;\n}\n\nreturn [{ json: { query } }];"
                },
                "id": "cw18-0002-0000-0000-000000000002",
                "name": "Code: Build Query",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    480,
                    300
                ]
            },
            {
                "parameters": {
                    "operation": "executeQuery",
                    "query": "={{ $json.query }}",
                    "options": {}
                },
                "id": "cw18-0003-0000-0000-000000000003",
                "name": "Postgres: Query Traces",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.5,
                "position": [
                    700,
                    300
                ],
                "credentials": {
                    "postgres": {
                        "id": "WwO5ZGy91Fw5lSFo",
                        "name": "Clearwater Postgres"
                    }
                },
                "onError": "continueRegularOutput",
                "alwaysOutputData": true
            },
            {
                "parameters": {
                    "respondWith": "json",
                    "responseBody": "={{ $json }}",
                    "options": {}
                },
                "id": "cw18-0004-0000-0000-000000000004",
                "name": "Respond to Webhook",
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1.1,
                "position": [
                    1030,
                    300
                ]
            },
            {
                "parameters": {
                    "jsCode": "const items = $input.all().map(i => i.json);\n// Filter out empty items from zero-row queries\nconst results = items.filter(i => Object.keys(i).length > 0);\nreturn [{ json: { traces: results, count: results.length } }];"
                },
                "id": "cw18-0005-0000-0000-000000000005",
                "name": "Code: Wrap Response",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    810,
                    300
                ]
            }
        ],
        "connections": {
            "Webhook: Get Traces": {
                "main": [
                    [
                        {
                            "node": "Code: Build Query",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Code: Build Query": {
                "main": [
                    [
                        {
                            "node": "Postgres: Query Traces",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Postgres: Query Traces": {
                "main": [
                    [
                        {
                            "node": "Code: Wrap Response",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Code: Wrap Response": {
                "main": [
                    [
                        {
                            "node": "Respond to Webhook",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Randall raustinholland@gmail.com",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-03-05T23:02:13.393Z",
                "id": 746,
                "workflowId": "8CVEUtlemuihJhdA",
                "versionId": "e51b3dc6-febe-4aaf-9488-23f154d0facc",
                "event": "deactivated",
                "userId": "8a968d0b-280d-4856-b867-bed874846716"
            },
            {
                "createdAt": "2026-03-05T23:02:13.405Z",
                "id": 747,
                "workflowId": "8CVEUtlemuihJhdA",
                "versionId": "e51b3dc6-febe-4aaf-9488-23f154d0facc",
                "event": "activated",
                "userId": "8a968d0b-280d-4856-b867-bed874846716"
            }
        ]
    }
}
