deal-intelligence-engine/n8n/workflows/workflow-05-calendar-sync.json
{
  "name": "CW-05: Calendar Event Ingestion",
  "nodes": [
    {
      "id": "cal-webhook-0001-0000-0000-000000000001",
      "name": "Webhook: Receive Calendar Event",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "calendar-event-ingest",
        "responseMode": "onReceived",
        "options": {}
      },
      "webhookId": "cal-webhook-0001-0000-0000-000000000001"
    },
    {
      "id": "cal-parse-0001-0000-0000-000000000001",
      "name": "Code: Parse Calendar Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "// Parse incoming calendar event from Power Automate\nconst body = $input.first().json.body || $input.first().json;\n\nconst subject = body.subject || body.Subject || '';\nconst start = body.start || body.Start || '';\nconst end = body.end || body.End || '';\nconst organizer = body.organizer || body.Organizer || '';\nconst attendees = body.attendees || body.Attendees || '';\nconst location = body.location || body.Location || '';\nconst bodyContent = body.bodyContent || body.body || body.Body || '';\nconst isAllDay = body.isAllDay || false;\nconst eventId = body.eventId || body.id || body.Id || '';\n\n// Extract attendee emails/names\nlet attendeeList = [];\nif (typeof attendees === 'string' && attendees.length > 0) {\n  attendeeList = attendees.split(';').map(a => a.trim()).filter(a => a.length > 0);\n} else if (Array.isArray(attendees)) {\n  attendeeList = attendees;\n}\n\n// Find first external attendee domain (not clearwatersecurity.com)\nconst internalDomains = ['clearwatersecurity.com'];\nlet externalDomain = null;\nlet externalAttendee = null;\nfor (const a of attendeeList) {\n  const emailMatch = (typeof a === 'string' ? a : JSON.stringify(a)).match(/[a-zA-Z0-9._%+-]+@([a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})/);\n  if (emailMatch) {\n    const domain = emailMatch[1].toLowerCase();\n    if (!internalDomains.some(d => domain.includes(d))) {\n      externalDomain = domain;\n      externalAttendee = emailMatch[0];\n      break;\n    }\n  }\n}\n\n// Derive deal info from external domain\nfunction domainToCompany(domain) {\n  if (!domain) return 'Unknown';\n  const parts = domain.split('.');\n  const name = parts.length >= 2 ? parts[parts.length - 2] : parts[0];\n  return name.charAt(0).toUpperCase() + name.slice(1);\n}\n\nconst year = new Date().getFullYear();\nlet dealId, companyName, senderDomain;\n\nif (externalDomain) {\n  const slug = externalDomain.split('.')[0].toLowerCase().replace(/[^a-z0-9]/g, '_').substring(0, 32);\n  dealId = 'cw_' + slug + '_' + year;\n  companyName = domainToCompany(externalDomain);\n  senderDomain = externalDomain;\n} else {\n  dealId = 'cw_internal_' + year;\n  companyName = 'Internal';\n  senderDomain = 'clearwatersecurity.com';\n}\n\n// Build embeddable text\nconst embeddableText = [\n  '[CALENDAR EVENT]',\n  'Title: ' + subject,\n  'Date: ' + start,\n  'End: ' + end,\n  'Location: ' + (location || 'Not specified'),\n  'Organizer: ' + organizer,\n  'Attendees: ' + (typeof attendees === 'string' ? attendees : JSON.stringify(attendees)),\n  'Description: ' + (bodyContent || 'None').slice(0, 500),\n  'Deal: ' + companyName + ' (' + dealId + ')',\n].join('\\n');\n\nreturn [{\n  json: {\n    event_id: eventId,\n    deal_id: dealId,\n    company_name: companyName,\n    sender_domain: senderDomain,\n    doc_type: 'calendar_invite',\n    subject,\n    start,\n    end,\n    location,\n    organizer,\n    attendees: typeof attendees === 'string' ? attendees : JSON.stringify(attendees),\n    body_content: (bodyContent || '').slice(0, 1000),\n    is_all_day: isAllDay,\n    is_external: !!externalDomain,\n    embeddable_text: embeddableText\n  }\n}];\n"
      }
    },
    {
      "id": "cal-upsert-deal-0001-0000-0000-000000000001",
      "name": "Postgres: Upsert Deal",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO deals (deal_id, company_name, sender_domains, deal_stage, created_at)\nVALUES ('{{ $json.deal_id }}', '{{ $json.company_name }}', ARRAY['{{ $json.sender_domain }}'], 'Discover', NOW())\nON CONFLICT (deal_id) DO UPDATE SET\n  company_name = CASE WHEN deals.company_name = 'Unknown' THEN EXCLUDED.company_name ELSE deals.company_name END,\n  updated_at = NOW()\nRETURNING deal_id, company_name",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "WwO5ZGy91Fw5lSFo",
          "name": "Clearwater Postgres"
        }
      }
    },
    {
      "id": "cal-insert-event-0001-0000-0000-000000000001",
      "name": "Postgres: Insert Calendar Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO calendar_events (google_event_id, deal_id, title, start_time, end_time, location, organizer, attendees, meeting_type)\nVALUES (\n  '{{ $('Code: Parse Calendar Event').first().json.event_id }}',\n  '{{ $('Code: Parse Calendar Event').first().json.deal_id }}',\n  '{{ $('Code: Parse Calendar Event').first().json.subject }}',\n  NULLIF('{{ $('Code: Parse Calendar Event').first().json.start }}', '')::timestamptz,\n  NULLIF('{{ $('Code: Parse Calendar Event').first().json.end }}', '')::timestamptz,\n  '{{ $('Code: Parse Calendar Event').first().json.location }}',\n  '{{ $('Code: Parse Calendar Event').first().json.organizer }}',\n  ARRAY['{{ $('Code: Parse Calendar Event').first().json.attendees }}'],\n  'meeting'\n)\nON CONFLICT (google_event_id) DO UPDATE SET\n  title = EXCLUDED.title,\n  start_time = EXCLUDED.start_time,\n  end_time = EXCLUDED.end_time,\n  updated_at = NOW()",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "WwO5ZGy91Fw5lSFo",
          "name": "Clearwater Postgres"
        }
      }
    },
    {
      "id": "cal-trigger-health-0001-0000-0000-000000000001",
      "name": "HTTP: Trigger Health Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/deal-health-trigger",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ deal_id: $('Code: Parse Calendar Event').first().json.deal_id }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook: Receive Calendar Event": {
      "main": [[{ "node": "Code: Parse Calendar Event", "type": "main", "index": 0 }]]
    },
    "Code: Parse Calendar Event": {
      "main": [[{ "node": "Postgres: Upsert Deal", "type": "main", "index": 0 }]]
    },
    "Postgres: Upsert Deal": {
      "main": [[{ "node": "Postgres: Insert Calendar Event", "type": "main", "index": 0 }]]
    },
    "Postgres: Insert Calendar Event": {
      "main": [[{ "node": "HTTP: Trigger Health Agent", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
