deal-intelligence-engine/n8n/workflows/workflow-04e-generate-output.json
{
  "id": "EgvOayROY8WHgSIW",
  "name": "CW-04e: Generate Output Sub-Workflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "cw04e-0001-0000-0000-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract inputs passed from the toolWorkflow\nconst inp = $input.first().json;\n\nif (!inp.deal_id) throw new Error('Missing required field: deal_id');\nif (!inp.output_type) throw new Error('Missing required field: output_type');\n\nreturn [{ json: {\n  deal_id: inp.deal_id,\n  output_type: inp.output_type,\n  recipient_email: inp.recipient_email || null,\n  recipient_name: inp.recipient_name || null,\n  instructions: inp.instructions || ''\n}}];\n"
      },
      "id": "cw04e-0002-0000-0000-000000000002",
      "name": "Code: Extract Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/output-request",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ deal_id: $json.deal_id, output_type: $json.output_type, recipient_email: $json.recipient_email, recipient_name: $json.recipient_name, instructions: $json.instructions, requested_by: 'chat_agent', preview_mode: true }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "cw04e-0003-0000-0000-000000000003",
      "name": "HTTP: Call Output Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Format the draft response for the chat agent\nconst result = $input.first().json;\n\nif (result.status !== 'draft') {\n  throw new Error('Unexpected response from output-request: ' + JSON.stringify(result));\n}\n\n// Return a formatted string that the chat agent can display to Austin\nconst formatted = `DRAFT READY\\n` +\n  `Draft ID: ${result.draft_id}\\n` +\n  `Output Type: ${result.output_type}\\n` +\n  `Deal: ${result.company_name} (${result.deal_id})\\n` +\n  `To: ${result.recipient_name || ''} <${result.recipient_email || ''}>\\n` +\n  `Model: ${result.model_used}\\n\\n` +\n  `Subject: ${result.subject}\\n\\n` +\n  `---\\n${result.body}\\n---\\n\\n` +\n  `Summary: ${result.content_summary}`;\n\nreturn [{ json: { output: formatted, draft_id: result.draft_id, subject: result.subject, body: result.body } }];\n"
      },
      "id": "cw04e-0004-0000-0000-000000000004",
      "name": "Code: Format Draft Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{"node": "Code: Extract Inputs", "type": "main", "index": 0}]]
    },
    "Code: Extract Inputs": {
      "main": [[{"node": "HTTP: Call Output Request", "type": "main", "index": 0}]]
    },
    "HTTP: Call Output Request": {
      "main": [[{"node": "Code: Format Draft Response", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "staticData": null
}
