deal-intelligence-engine/n8n/workflows/workflow-07-get-deal-context.json
{
  "updatedAt": "2026-03-06T05:06:57.489Z",
  "createdAt": "2026-03-03T04:50:30.121Z",
  "id": "SYAQ4eVPyrp9XQMa",
  "name": "CW-14: API \u2014 Get Deal Context",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "cw07-0001-0000-0000-000000000001",
      "name": "Webhook: Get Deal Context",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "cw07-0001-0000-0000-000000000001",
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "GET",
        "path": "get-deal-context",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "cw07-0002-0000-0000-000000000002",
      "name": "Code: Extract Deal ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "jsCode": "const dealId = $input.first().json.query?.deal_id || '';\nif (!dealId) throw new Error('deal_id query parameter is required');\nconst sq = s => s.replace(/'/g, \"''\");\nreturn [{\n  json: {\n    deal_id: dealId,\n    health_sql: `SELECT d.deal_id, d.company_name, d.deal_stage, d.deal_value_usd, d.close_date, d.forecast_category, dh.pain_score, dh.power_score, dh.vision_score, dh.value_score, dh.change_score, dh.control_score, dh.p2v2c2_total, dh.critical_activity_stage, dh.trend_direction, dh.score_vs_previous, dh.next_step, dh.next_step_date, dh.pe_sponsor_score, dh.dap_exists, dh.dap_agreed, dh.dap_has_14_day_gap, dh.dap_next_milestone, dh.dap_next_milestone_date, dh.dap_timeline, dh.dap_status, dh.dap_milestones_complete, dh.dap_milestones_total, dh.dap_summary, dh.risks, dh.general_narrative, dh.scored_at FROM deals d LEFT JOIN LATERAL (SELECT * FROM deal_health WHERE deal_id = d.deal_id ORDER BY scored_at DESC LIMIT 1) dh ON true WHERE d.deal_id = '${sq(dealId)}' LIMIT 1`,\n    stakeholders_sql: `SELECT DISTINCT ON (name) name, title, email, cps_role, directly_engaged FROM deal_stakeholders WHERE deal_id = '${sq(dealId)}' ORDER BY name, scored_at DESC`,\n    outputs_sql: `SELECT id, output_type, status, subject, full_content AS body, recipient_email, recipient_name, sent_at AS created_at FROM outputs_log WHERE deal_id = '${sq(dealId)}' ORDER BY sent_at DESC LIMIT 20`,\n    history_sql: `SELECT scored_at::DATE AS score_date, p2v2c2_total FROM deal_health WHERE deal_id = '${sq(dealId)}' AND trigger_type != 'calendar_only' ORDER BY scored_at ASC LIMIT 8`\n  }\n}];"
      }
    },
    {
      "id": "cw07-0003-0000-0000-000000000003",
      "name": "Postgres: Get Deal Health",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        700,
        160
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $('Code: Extract Deal ID').first().json.health_sql }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "WwO5ZGy91Fw5lSFo",
          "name": "Clearwater Postgres"
        }
      }
    },
    {
      "id": "cw07-0004-0000-0000-000000000004",
      "name": "Postgres: Get Stakeholders",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        700,
        340
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $('Code: Extract Deal ID').first().json.stakeholders_sql }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "WwO5ZGy91Fw5lSFo",
          "name": "Clearwater Postgres"
        }
      }
    },
    {
      "id": "cw07-0005-0000-0000-000000000005",
      "name": "Postgres: Get Score History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        700,
        520
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $('Code: Extract Deal ID').first().json.history_sql }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "WwO5ZGy91Fw5lSFo",
          "name": "Clearwater Postgres"
        }
      }
    },
    {
      "id": "cw07-0006-0000-0000-000000000006",
      "name": "Code: Merge Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        300
      ],
      "parameters": {
        "jsCode": "const health = $('Postgres: Get Deal Health').first()?.json || {};\nconst stakeholders = $('Postgres: Get Stakeholders').all().map(i => i.json);\nconst score_history = $('Postgres: Get Score History').all().map(i => i.json);\nconst notifications = $('Postgres: Get Notifications').all().map(i => i.json);\nconst prior_outputs = $('Postgres: Get Outputs').all().map(i => i.json);\n\nconst result = {\n  deal_id: health.deal_id || '',\n  company_name: health.company_name || '',\n  deal_stage: health.deal_stage || '',\n  deal_value_usd: health.deal_value_usd || null,\n  close_date: health.close_date || null,\n  forecast_category: health.forecast_category || '',\n  scored_at: health.scored_at || null,\n  scores: {\n    pain: health.pain_score ?? 0,\n    power: health.power_score ?? 0,\n    vision: health.vision_score ?? 0,\n    value: health.value_score ?? 0,\n    change: health.change_score ?? 0,\n    control: health.control_score ?? 0,\n    total: health.p2v2c2_total ?? 0\n  },\n  cas: health.critical_activity_stage || '',\n  trend_direction: health.trend_direction || 'stable',\n  score_vs_previous: health.score_vs_previous ?? 0,\n  next_step: health.next_step || '',\n  next_step_date: health.next_step_date || null,\n  pe_sponsor_score: health.pe_sponsor_score ?? 0,\n  dap: {\n    exists: health.dap_exists || false,\n    agreed: health.dap_agreed || false,\n    has_14_day_gap: health.dap_has_14_day_gap || false,\n    next_milestone: health.dap_next_milestone || '',\n    next_milestone_date: health.dap_next_milestone_date || null,\n    timeline: health.dap_timeline || [],\n    status: health.dap_status || '',\n    milestones_complete: health.dap_milestones_complete ?? 0,\n    milestones_total: health.dap_milestones_total ?? 14,\n    summary: health.dap_summary || ''\n  },\n  risks: health.risks || [],\n  general_narrative: health.general_narrative || '',\n  stakeholders,\n  score_history,\n  pending_notifications: notifications.filter(n => n.id),\n  prior_outputs\n};\n\nreturn [{ json: result }];"
      }
    },
    {
      "id": "cw07-0007-0000-0000-000000000007",
      "name": "Respond: Return Context",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1180,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      }
    },
    {
      "id": "cw07-0008-0000-0000-000000000008",
      "name": "Postgres: Get Notifications",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        700,
        540
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"SELECT id, notification_type, summary, context, created_at FROM deal_notifications WHERE deal_id = '\" + $('Code: Extract Deal ID').first().json.deal_id.replace(/'/g, \"''\") + \"' AND read_at IS NULL ORDER BY created_at DESC LIMIT 5\" }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "WwO5ZGy91Fw5lSFo",
          "name": "Clearwater Postgres"
        }
      }
    },
    {
      "id": "cw07-0009-0000-0000-000000000009",
      "name": "Postgres: Mark Notifications Read",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1180,
        540
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"UPDATE deal_notifications SET read_at = NOW() WHERE deal_id = '\" + $('Code: Extract Deal ID').first().json.deal_id.replace(/'/g, \"''\") + \"' AND read_at IS NULL\" }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "WwO5ZGy91Fw5lSFo",
          "name": "Clearwater Postgres"
        }
      }
    },
    {
      "id": "cw07-0010-0000-0000-000000000010",
      "name": "Postgres: Get Outputs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        700,
        700
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $('Code: Extract Deal ID').first().json.outputs_sql }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "WwO5ZGy91Fw5lSFo",
          "name": "Clearwater Postgres"
        }
      }
    }
  ],
  "connections": {
    "Webhook: Get Deal Context": {
      "main": [
        [
          {
            "node": "Code: Extract Deal ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Extract Deal ID": {
      "main": [
        [
          {
            "node": "Postgres: Get Deal Health",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres: Get Stakeholders",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres: Get Score History",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres: Get Notifications",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres: Get Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Get Deal Health": {
      "main": [
        [
          {
            "node": "Code: Merge Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Get Stakeholders": {
      "main": [
        [
          {
            "node": "Code: Merge Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Postgres: Get Score History": {
      "main": [
        [
          {
            "node": "Code: Merge Context",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Code: Merge Context": {
      "main": [
        [
          {
            "node": "Respond: Return Context",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres: Mark Notifications Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Get Notifications": {
      "main": [
        [
          {
            "node": "Code: Merge Context",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Postgres: Get Outputs": {
      "main": [
        [
          {
            "node": "Code: Merge Context",
            "type": "main",
            "index": 4
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "7a5da657-067e-400e-b6d9-5bd83d6cea59",
  "activeVersionId": "7a5da657-067e-400e-b6d9-5bd83d6cea59",
  "versionCounter": 51,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-03T04:50:30.121Z",
      "createdAt": "2026-03-03T04:50:30.121Z",
      "role": "workflow:owner",
      "workflowId": "SYAQ4eVPyrp9XQMa",
      "projectId": "AyFYj8ev1hBER3zO",
      "project": {
        "updatedAt": "2026-02-26T09:07:37.733Z",
        "createdAt": "2026-02-26T07:53:31.019Z",
        "id": "AyFYj8ev1hBER3zO",
        "name": "Randall raustinholland@gmail.com <raustinholland@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8a968d0b-280d-4856-b867-bed874846716"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-06T05:06:57.491Z",
    "createdAt": "2026-03-06T05:06:57.491Z",
    "versionId": "7a5da657-067e-400e-b6d9-5bd83d6cea59",
    "workflowId": "SYAQ4eVPyrp9XQMa",
    "nodes": [
      {
        "id": "cw07-0001-0000-0000-000000000001",
        "name": "Webhook: Get Deal Context",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "webhookId": "cw07-0001-0000-0000-000000000001",
        "position": [
          240,
          300
        ],
        "parameters": {
          "httpMethod": "GET",
          "path": "get-deal-context",
          "responseMode": "responseNode",
          "options": {}
        }
      },
      {
        "id": "cw07-0002-0000-0000-000000000002",
        "name": "Code: Extract Deal ID",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          460,
          300
        ],
        "parameters": {
          "jsCode": "const dealId = $input.first().json.query?.deal_id || '';\nif (!dealId) throw new Error('deal_id query parameter is required');\nconst sq = s => s.replace(/'/g, \"''\");\nreturn [{\n  json: {\n    deal_id: dealId,\n    health_sql: `SELECT d.deal_id, d.company_name, d.deal_stage, d.deal_value_usd, d.close_date, d.forecast_category, dh.pain_score, dh.power_score, dh.vision_score, dh.value_score, dh.change_score, dh.control_score, dh.p2v2c2_total, dh.critical_activity_stage, dh.trend_direction, dh.score_vs_previous, dh.next_step, dh.next_step_date, dh.pe_sponsor_score, dh.dap_exists, dh.dap_agreed, dh.dap_has_14_day_gap, dh.dap_next_milestone, dh.dap_next_milestone_date, dh.dap_timeline, dh.dap_status, dh.dap_milestones_complete, dh.dap_milestones_total, dh.dap_summary, dh.risks, dh.general_narrative, dh.scored_at FROM deals d LEFT JOIN LATERAL (SELECT * FROM deal_health WHERE deal_id = d.deal_id ORDER BY scored_at DESC LIMIT 1) dh ON true WHERE d.deal_id = '${sq(dealId)}' LIMIT 1`,\n    stakeholders_sql: `SELECT DISTINCT ON (name) name, title, email, cps_role, directly_engaged FROM deal_stakeholders WHERE deal_id = '${sq(dealId)}' ORDER BY name, scored_at DESC`,\n    history_sql: `SELECT scored_at::DATE AS score_date, p2v2c2_total FROM deal_health WHERE deal_id = '${sq(dealId)}' AND trigger_type != 'calendar_only' ORDER BY scored_at ASC LIMIT 8`\n  }\n}];"
        }
      },
      {
        "id": "cw07-0003-0000-0000-000000000003",
        "name": "Postgres: Get Deal Health",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          700,
          160
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "={{ $('Code: Extract Deal ID').first().json.health_sql }}",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "WwO5ZGy91Fw5lSFo",
            "name": "Clearwater Postgres"
          }
        }
      },
      {
        "id": "cw07-0004-0000-0000-000000000004",
        "name": "Postgres: Get Stakeholders",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          700,
          340
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "={{ $('Code: Extract Deal ID').first().json.stakeholders_sql }}",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "WwO5ZGy91Fw5lSFo",
            "name": "Clearwater Postgres"
          }
        }
      },
      {
        "id": "cw07-0005-0000-0000-000000000005",
        "name": "Postgres: Get Score History",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          700,
          520
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "={{ $('Code: Extract Deal ID').first().json.history_sql }}",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "WwO5ZGy91Fw5lSFo",
            "name": "Clearwater Postgres"
          }
        }
      },
      {
        "id": "cw07-0006-0000-0000-000000000006",
        "name": "Code: Merge Context",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          960,
          300
        ],
        "parameters": {
          "jsCode": "const health = $('Postgres: Get Deal Health').first()?.json || {};\nconst stakeholders = $('Postgres: Get Stakeholders').all().map(i => i.json);\nconst score_history = $('Postgres: Get Score History').all().map(i => i.json);\nconst notifications = $('Postgres: Get Notifications').all().map(i => i.json);\n\nconst result = {\n  deal_id: health.deal_id || '',\n  company_name: health.company_name || '',\n  deal_stage: health.deal_stage || '',\n  deal_value_usd: health.deal_value_usd || null,\n  close_date: health.close_date || null,\n  forecast_category: health.forecast_category || '',\n  scored_at: health.scored_at || null,\n  scores: {\n    pain: health.pain_score ?? 0,\n    power: health.power_score ?? 0,\n    vision: health.vision_score ?? 0,\n    value: health.value_score ?? 0,\n    change: health.change_score ?? 0,\n    control: health.control_score ?? 0,\n    total: health.p2v2c2_total ?? 0\n  },\n  cas: health.critical_activity_stage || '',\n  trend_direction: health.trend_direction || 'stable',\n  score_vs_previous: health.score_vs_previous ?? 0,\n  next_step: health.next_step || '',\n  next_step_date: health.next_step_date || null,\n  pe_sponsor_score: health.pe_sponsor_score ?? 0,\n  dap: {\n    exists: health.dap_exists || false,\n    agreed: health.dap_agreed || false,\n    has_14_day_gap: health.dap_has_14_day_gap || false,\n    next_milestone: health.dap_next_milestone || '',\n    next_milestone_date: health.dap_next_milestone_date || null,\n    timeline: health.dap_timeline || [],\n    status: health.dap_status || '',\n    milestones_complete: health.dap_milestones_complete ?? 0,\n    milestones_total: health.dap_milestones_total ?? 14,\n    summary: health.dap_summary || ''\n  },\n  risks: health.risks || [],\n  general_narrative: health.general_narrative || '',\n  stakeholders,\n  score_history,\n  pending_notifications: notifications.filter(n => n.id)\n};\n\nreturn [{ json: result }];"
        }
      },
      {
        "id": "cw07-0007-0000-0000-000000000007",
        "name": "Respond: Return Context",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1180,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify($json) }}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                },
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            }
          }
        }
      },
      {
        "id": "cw07-0008-0000-0000-000000000008",
        "name": "Postgres: Get Notifications",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          700,
          540
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "={{ \"SELECT id, notification_type, summary, context, created_at FROM deal_notifications WHERE deal_id = '\" + $('Code: Extract Deal ID').first().json.deal_id.replace(/'/g, \"''\") + \"' AND read_at IS NULL ORDER BY created_at DESC LIMIT 5\" }}",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "WwO5ZGy91Fw5lSFo",
            "name": "Clearwater Postgres"
          }
        }
      },
      {
        "id": "cw07-0009-0000-0000-000000000009",
        "name": "Postgres: Mark Notifications Read",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1180,
          540
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "={{ \"UPDATE deal_notifications SET read_at = NOW() WHERE deal_id = '\" + $('Code: Extract Deal ID').first().json.deal_id.replace(/'/g, \"''\") + \"' AND read_at IS NULL\" }}",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "WwO5ZGy91Fw5lSFo",
            "name": "Clearwater Postgres"
          }
        }
      }
    ],
    "connections": {
      "Webhook: Get Deal Context": {
        "main": [
          [
            {
              "node": "Code: Extract Deal ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Extract Deal ID": {
        "main": [
          [
            {
              "node": "Postgres: Get Deal Health",
              "type": "main",
              "index": 0
            },
            {
              "node": "Postgres: Get Stakeholders",
              "type": "main",
              "index": 0
            },
            {
              "node": "Postgres: Get Score History",
              "type": "main",
              "index": 0
            },
            {
              "node": "Postgres: Get Notifications",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres: Get Deal Health": {
        "main": [
          [
            {
              "node": "Code: Merge Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres: Get Stakeholders": {
        "main": [
          [
            {
              "node": "Code: Merge Context",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Postgres: Get Score History": {
        "main": [
          [
            {
              "node": "Code: Merge Context",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Code: Merge Context": {
        "main": [
          [
            {
              "node": "Respond: Return Context",
              "type": "main",
              "index": 0
            },
            {
              "node": "Postgres: Mark Notifications Read",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres: Get Notifications": {
        "main": [
          [
            {
              "node": "Code: Merge Context",
              "type": "main",
              "index": 3
            }
          ]
        ]
      }
    },
    "authors": "Randall raustinholland@gmail.com",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-06T05:06:57.527Z",
        "id": 791,
        "workflowId": "SYAQ4eVPyrp9XQMa",
        "versionId": "7a5da657-067e-400e-b6d9-5bd83d6cea59",
        "event": "deactivated",
        "userId": "8a968d0b-280d-4856-b867-bed874846716"
      },
      {
        "createdAt": "2026-03-06T05:06:57.538Z",
        "id": 792,
        "workflowId": "SYAQ4eVPyrp9XQMa",
        "versionId": "7a5da657-067e-400e-b6d9-5bd83d6cea59",
        "event": "activated",
        "userId": "8a968d0b-280d-4856-b867-bed874846716"
      }
    ]
  }
}