deal-intelligence-engine/n8n/workflows/workflow-03-output-gen.json
{"updatedAt": "2026-03-06T08:47:01.272Z", "createdAt": "2026-03-03T07:18:42.843Z", "id": "K2i48dUP1MgYXQzA", "name": "CW-05: The Ghostwriter (Output Gen)", "description": null, "active": true, "isArchived": false, "nodes": [{"id": "wf3e-0001-0000-0000-000000000001", "name": "Execute Workflow Trigger", "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 1.1, "position": [240, 300], "parameters": {"inputSource": "passthrough"}}, {"id": "wf3e-0002-0000-0000-000000000002", "name": "Code: Extract Inputs", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [460, 300], "parameters": {"jsCode": "// Accept inputs from either AI agent tool call or webhook body\nconst inp = $input.first().json;\nconst body = inp.body || inp;\n\nif (!body.deal_id) throw new Error('Missing required field: deal_id');\nif (!body.output_type) throw new Error('Missing required field: output_type');\n\nreturn [{ json: {\n  deal_id: body.deal_id,\n  output_type: body.output_type,\n  recipient_email: body.recipient_email || null,\n  recipient_name: body.recipient_name || null,\n  instructions: body.instructions || '',\n  requested_by: body.requested_by || 'chat_agent',\n  preview_mode: true\n}}];\n"}}, {"id": "wf3e-0003-0000-0000-000000000003", "name": "Postgres: Get Deal + Health", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [680, 200], "parameters": {"operation": "executeQuery", "query": "SELECT d.deal_id, d.company_name, d.salesforce_stage, d.deal_stage, d.deal_value_usd, d.close_date, d.forecast_category, d.deal_owner, dh.pain_score, dh.power_score, dh.vision_score, dh.value_score, dh.change_score, dh.control_score, dh.p2v2c2_total, dh.critical_activity_stage, dh.champion_name, dh.champion_title, dh.executive_sponsor_name, dh.executive_sponsor_title, dh.pe_sponsor_score, dh.dap_exists, dh.dap_agreed, dh.dap_status, dh.dap_milestones_complete, dh.dap_has_14_day_gap, dh.dap_next_milestone, dh.dap_next_milestone_date, dh.current_state_org, dh.current_state_activities, dh.current_state_technology, dh.future_state_org, dh.future_state_activities, dh.future_state_technology, dh.key_stakeholder_success_criteria, dh.risks, dh.next_step, dh.next_step_date, dh.call_summary, dh.services_narrative, dh.general_narrative, dh.scored_at FROM deals d LEFT JOIN LATERAL ( SELECT * FROM deal_health WHERE deal_id = d.deal_id ORDER BY scored_at DESC LIMIT 1 ) dh ON true WHERE d.deal_id = '{{ $('Code: Extract Inputs').first().json.deal_id }}' LIMIT 1", "options": {}}, "credentials": {"postgres": {"id": "WwO5ZGy91Fw5lSFo", "name": "Clearwater Postgres"}}}, {"id": "wf3e-0004-0000-0000-000000000004", "name": "Postgres: Get Output History", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [680, 400], "parameters": {"operation": "executeQuery", "query": "SELECT output_type, recipient_name, recipient_email, subject, content_summary, full_content, original_content, status, dismiss_reason, sent_at FROM outputs_log WHERE deal_id = '{{ $('Code: Extract Inputs').first().json.deal_id }}' ORDER BY sent_at DESC LIMIT 15", "options": {}}, "credentials": {"postgres": {"id": "WwO5ZGy91Fw5lSFo", "name": "Clearwater Postgres"}}}, {"id": "wf3e-0005-0000-0000-000000000005", "name": "Code: Merge Context + Build RAG Queries", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [920, 300], "parameters": {"jsCode": "// Merge deal context, output history, and build RAG queries for the output type\nconst req = $('Code: Extract Inputs').first().json;\nconst dealRows = $('Postgres: Get Deal + Health').all();\nconst historyRows = $('Postgres: Get Output History').all();\n\nconst deal = dealRows[0]?.json || {};\n\nif (!deal.deal_id) {\n  throw new Error(`Deal not found: ${req.deal_id}`);\n}\n\n// Format output history\nconst historyText = historyRows.length > 0\n  ? historyRows.map(r => {\n      const h = r.json;\n      const date = h.sent_at ? h.sent_at.toString().split('T')[0] : 'unknown';\n      const to = h.recipient_name || h.recipient_email || 'unknown';\n      const edited = h.original_content && h.full_content && h.original_content !== h.full_content;\n      const editNote = edited ? ' [AUSTIN EDITED \u2014 adapt style to match his edits]' : '';\n      const dismissNote = h.status === 'dismissed' && h.dismiss_reason ? ' [AUSTIN DISMISSED \u2014 reason: ' + h.dismiss_reason + ']' : '';\n      return `- ${date}: [${h.output_type}] TO: ${to} \u2014 \"${h.subject || '(no subject)'}\" \u2014 ${h.content_summary || '(no summary)'}${editNote}${dismissNote}`;\n    }).join('\\n')\n  : 'No previous outputs have been generated for this deal.';\n\n// P2V2C2 summary string\nconst p2v2c2Summary = [\n  `Pain: ${deal.pain_score || 0}/5`,\n  `Power: ${deal.power_score || 0}/5`,\n  `Vision: ${deal.vision_score || 0}/5`,\n  `Value: ${deal.value_score || 0}/5`,\n  `Change: ${deal.change_score || 0}/5`,\n  `Control: ${deal.control_score || 0}/5`,\n  `Total: ${deal.p2v2c2_total || 0}/30`\n].join(' | ');\n\n// RAG queries tailored to output type\nconst co = deal.company_name;\nconst outputType = req.output_type;\n\nconst ragQueryBank = {\n  follow_up_email: [\n    `What was discussed in the most recent call or meeting with ${co}? What were the key outcomes and next steps agreed?`,\n    `What specific action items or commitments did Austin and ${co} make at the last touchpoint? What follow-ups are outstanding?`,\n    `What pain, urgency, or business problems has ${co} expressed that should be referenced in a follow-up communication?`,\n    `What Clearwater services or solutions were proposed or discussed with ${co}?`\n  ],\n  pre_call_planner: [\n    `What are the key open questions, risks, and outstanding action items with ${co} going into the next meeting?`,\n    `What pain and urgency has ${co} articulated? What power dynamics and executive sponsor access exists?`,\n    `What is the current state and desired future state for ${co}'s cybersecurity and compliance program?`,\n    `Who are the key stakeholders at ${co}? What are their goals, titles, and decision-making roles?`,\n    `What Clearwater services and engagement approach has been discussed with ${co}?`,\n    `What objections, competitive threats, or obstacles exist in the ${co} deal?`\n  ],\n  internal_team_update: [\n    `What happened in the most recent call or meeting with ${co}? What were the key discussion points and outcomes?`,\n    `What is the deal status with ${co}? What are the current P2V2C2 signals and executive sponsor dynamics?`,\n    `What are the open risks, next steps, and action items for the ${co} deal?`,\n    `What PE or board-level pressure or executive sponsor dynamics exist in the ${co} deal?`\n  ],\n  circle_back: [\n    `What was the last communication or meeting with ${co}? How long ago was contact made?`,\n    `What pain or urgency did ${co} express? What was the last agreed next step?`,\n    `What Clearwater services were discussed with ${co}? What value proposition was presented?`\n  ],\n  meeting_confirm: [\n    `What is the agenda and objectives for the upcoming meeting with ${co}?`,\n    `What action items and next steps were agreed with ${co} that this meeting is meant to address?`,\n    `Who are the key attendees and their roles at ${co} for the upcoming meeting?`\n  ],\n  approach_pdf: [\n    `What is ${co}'s current cybersecurity and compliance posture? What gaps and pain points exist?`,\n    `What future state has been co-created with ${co}? What are their compliance goals and desired capabilities?`,\n    `What Clearwater services have been proposed or discussed for ${co}? What is the recommended engagement scope?`,\n    `What is the key value proposition and ROI for ${co} working with Clearwater?`,\n    `Who are the key stakeholders at ${co} and what are their individual success criteria?`,\n    `What are the key risks and objections in the ${co} deal that the Approach Document should address?`\n  ]\n};\n\nconst queries = ragQueryBank[outputType] || ragQueryBank.follow_up_email;\n\nreturn queries.map((query, i) => ({\n  json: {\n    deal_id: req.deal_id,\n    output_type: req.output_type,\n    recipient_email: req.recipient_email,\n    recipient_name: req.recipient_name,\n    instructions: req.instructions,\n    requested_by: req.requested_by,\n    preview_mode: req.preview_mode,\n    company_name: co,\n    deal,\n    history_text: historyText,\n    p2v2c2_summary: p2v2c2Summary,\n    rag_query: query,\n    rag_index: i\n  }\n}));\n"}}, {"id": "wf3e-0006-0000-0000-000000000006", "name": "HTTP: Embed RAG Query", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [1160, 300], "parameters": {"method": "POST", "url": "https://api.openai.com/v1/embeddings", "authentication": "predefinedCredentialType", "nodeCredentialType": "openAiApi", "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ JSON.stringify({ model: 'text-embedding-3-small', input: $json.rag_query }) }}", "options": {}}, "credentials": {"openAiApi": {"id": "0uPlAmGz2rZbF75R", "name": "OpenAI API"}}, "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000, "continueOnFail": false}, {"id": "wf3e-0007-0000-0000-000000000007", "name": "HTTP: Qdrant Search", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [1400, 300], "parameters": {"method": "POST", "url": "http://qdrant:6333/collections/deals/points/search", "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ JSON.stringify({ vector: $json.data[0].embedding, filter: { must: [{ key: 'deal_id', match: { value: $('Code: Merge Context + Build RAG Queries').item.json.deal_id } }] }, limit: 8, with_payload: true, with_vector: false }) }}", "options": {}}, "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000, "continueOnFail": false}, {"id": "wf3e-0008-0000-0000-000000000008", "name": "Code: Assemble RAG Context", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1640, 300], "parameters": {"jsCode": "// Assemble all RAG results into a unified context block\nconst allSearchResults = $input.all();\nconst allQueryItems = $('Code: Merge Context + Build RAG Queries').all();\nconst baseData = allQueryItems[0].json;\n\nconst chunks = [];\n\nallSearchResults.forEach((item, i) => {\n  const results = item.json.result || [];\n\n  results\n    .filter(r => (r.score || 0) > 0.25)\n    .forEach(r => {\n      const p = r.payload || {};\n      const date = p.date_created ? new Date(p.date_created).toISOString().split('T')[0] : 'unknown date';\n      chunks.push(`[${p.doc_type || 'document'}, ${date}]\\n${p.page_content || ''}`);\n    });\n});\n\n// Dedupe chunks by content\nconst seen = new Set();\nconst uniqueChunks = chunks.filter(c => {\n  const key = c.slice(0, 100);\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});\n\nconst ragContext = uniqueChunks.length > 0\n  ? uniqueChunks.join('\\n\\n---\\n\\n')\n  : 'No relevant deal content found in Qdrant for this deal.';\n\nreturn [{\n  json: {\n    deal_id: baseData.deal_id,\n    output_type: baseData.output_type,\n    recipient_email: baseData.recipient_email,\n    recipient_name: baseData.recipient_name,\n    instructions: baseData.instructions,\n    requested_by: baseData.requested_by,\n    preview_mode: baseData.preview_mode,\n    company_name: baseData.company_name,\n    deal: baseData.deal,\n    history_text: baseData.history_text,\n    p2v2c2_summary: baseData.p2v2c2_summary,\n    rag_context: ragContext\n  }\n}];\n"}}, {"id": "wf3e-0009-0000-0000-000000000009", "name": "Code: Build Claude Prompt", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1880, 300], "parameters": {"jsCode": "const ctx = $input.first().json;\nconst deal = ctx.deal;\nconst outputType = ctx.output_type;\nconst today = new Date().toISOString().split('T')[0];\n\nconst model = ['approach_pdf', 'pre_call_planner'].includes(outputType)\n  ? 'claude-opus-4-6'\n  : 'claude-sonnet-4-6';\n\nconst maxTokens = outputType === 'approach_pdf' ? 4096\n  : outputType === 'pre_call_planner' ? 3000\n  : 1500;\n\nconst outputInstructions = {\n  follow_up_email: `Write a SEND-READY follow-up email from Austin Holland to ${ctx.recipient_name || ctx.recipient_email} at ${ctx.company_name}.\\n- Tone: Professional, warm, consultative \u2014 never pushy\\n- Length: 150-250 words\\n- Reference specific details from the deal content\\n- Build on previous communications (never repeat same talking points)\\n- Address ALL relevant attendees from the most recent call or meeting\\n- End with a clear, specific next step or call to action\\n- Sign off as: Austin Holland | Clearwater Security & Compliance`,\n  pre_call_planner: `Create a comprehensive PRE-CALL PLANNER for Austin Holland preparing for an upcoming meeting with ${ctx.company_name}.\\nInclude: MEETING OBJECTIVE, KEY ATTENDEES & ROLES, DEAL STATUS, PAIN POINTS, CPS TALKING POINTS, OPEN QUESTIONS, ANTICIPATED OBJECTIONS, DESIRED OUTCOMES, NEXT STEPS TO PROPOSE.\\nBe specific. Use names. Reference actual deal evidence.`,\n  internal_team_update: `Write an INTERNAL TEAM UPDATE for the ${ctx.company_name} deal.\\nFormat: Exactly TWO paragraphs of narrative prose. NO bullets. NO section headers.\\nParagraph 1: Current state \u2014 where it came from, client situation, key players, pain, PE/board dynamics.\\nParagraph 2: Strategic trajectory \u2014 what Clearwater must do, urgency, winning strategy. Forward-looking with dry wit.`,\n  circle_back: `Write a CIRCLE BACK email from Austin Holland to ${ctx.recipient_name || ctx.recipient_email} at ${ctx.company_name}.\\n- Re-engaging after a period of no contact\\n- Acknowledge time elapsed naturally\\n- Reference where the conversation left off\\n- Provide a fresh reason to reconnect\\n- Keep it short: 100-150 words`,\n  meeting_confirm: `Write a MEETING CONFIRMATION email from Austin Holland to ${ctx.recipient_name || ctx.recipient_email} at ${ctx.company_name}.\\n- Confirm meeting details\\n- Include a brief agenda (3-4 bullets) based on deal status\\n- Keep it to 100-150 words`,\n  approach_pdf: `Generate structured content for a CLEARWATER APPROACH DOCUMENT for ${ctx.company_name} as detailed JSON with sections: executive_summary, current_state, future_state, success_criteria, proposed_approach, proposed_services, investment_rationale, next_steps.`\n};\n\nconst systemPrompt = `You are an expert sales communication specialist for Clearwater Security & Compliance. You write on behalf of Austin Holland (Account Executive). Clearwater sells cybersecurity, risk management, and compliance services to healthcare organizations.\\n\\nCORE DIRECTIVES:\\n- Write from Austin's perspective in first person\\n- Reference actual names, specific pain points, and deal details from the evidence provided\\n- Build on previous outputs \u2014 never repeat the same content to the same recipient\\n- Use Clearwater CPS terminology (Champion, DAP, PES, ES) in internal content only \u2014 never in external emails\\n- Clearwater services (use exact names): IRM|Analysis, IRM|Pro\u00ae, IRM|Security\u00ae, IRM|Privacy\u00ae, MDR, MSS, SIEM, vCISO, Technical Testing, Risk Response & Remediation`;\n\nconst userMessage = `## OUTPUT REQUEST\\nType: ${outputType}\\nAustin's Instructions: ${ctx.instructions || '(none \u2014 use best judgment based on deal context)'}\\n\\n## DEAL CONTEXT\\nAccount: ${ctx.company_name}\\nDeal ID: ${ctx.deal_id}\\nStage: ${deal.salesforce_stage || deal.deal_stage || 'Unknown'}\\nP2V2C2: ${ctx.p2v2c2_summary}\\nCritical Activity Stage: ${deal.critical_activity_stage || 'Unknown'}\\nChampion: ${deal.champion_name || 'Not identified'} ${deal.champion_title ? '(' + deal.champion_title + ')' : ''}\\nExecutive Sponsor: ${deal.executive_sponsor_name || 'Not identified'}\\nNext Step: ${deal.next_step || 'TBD'} (by ${deal.next_step_date || 'TBD'})\\nRecipient: ${ctx.recipient_name || 'Austin (internal)'} <${ctx.recipient_email || 'austin.holland@clearwatersecurity.com'}>\\nToday: ${today}\\n\\n## RELEVANT DEAL CONTENT (from Qdrant)\\n${ctx.rag_context}\\n\\n## PREVIOUS OUTPUTS TO THIS RECIPIENT\\n${ctx.history_text}\\n\\n## CURRENT STATE\\nOrg: ${deal.current_state_org || 'Not captured'}\\nActivities: ${deal.current_state_activities || 'Not captured'}\\nTechnology: ${deal.current_state_technology || 'Not captured'}\\nServices Discussed: ${deal.services_narrative || 'Not specified'}\\n\\n## FUTURE STATE\\nOrg: ${deal.future_state_org || 'Not captured'}\\nActivities: ${deal.future_state_activities || 'Not captured'}\\n\\n## CALL SUMMARY (most recent)\\n${deal.call_summary || 'Not available'}\\n\\n## RISKS\\n${Array.isArray(deal.risks) ? deal.risks.join('\\n- ') : deal.risks || 'None identified'}\\n\\n## YOUR TASK\\n${outputInstructions[outputType] || outputInstructions.follow_up_email}\\n\\n## OUTPUT FORMAT\\nReturn ONLY valid JSON (no markdown, no code fences):\\n{\\n  \"subject\": \"[Subject line or title]\",\\n  \"body\": \"[Full content \u2014 plain text]\",\\n  \"content_summary\": \"[2-3 sentence summary for the output history log]\"\\n}`;\n\nreturn [{\n  json: {\n    ...ctx,\n    model,\n    request_body: {\n      model,\n      max_tokens: maxTokens,\n      system: systemPrompt,\n      messages: [{ role: 'user', content: userMessage }]\n    }\n  }\n}];\n"}}, {"id": "wf3e-0010-0000-0000-000000000010", "name": "HTTP: Claude Generate Output", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [2120, 300], "parameters": {"method": "POST", "url": "https://api.anthropic.com/v1/messages", "authentication": "predefinedCredentialType", "nodeCredentialType": "anthropicApi", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "anthropic-version", "value": "2023-06-01"}, {"name": "content-type", "value": "application/json"}]}, "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ JSON.stringify($json.request_body) }}", "options": {"timeout": 120000}}, "credentials": {"anthropicApi": {"id": "6NnFWUY71nO8HiT2", "name": "Anthropic account"}}, "retryOnFail": true, "maxTries": 2, "waitBetweenTries": 5000, "continueOnFail": false}, {"id": "wf3e-0011-0000-0000-000000000011", "name": "Code: Parse Output", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2360, 300], "parameters": {"jsCode": "const response = $input.first().json;\nconst rawText = response.content?.[0]?.text || response.text || '{}';\nconst ctx = $('Code: Build Claude Prompt').first().json;\n\nlet generated;\ntry {\n  const cleaned = rawText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  generated = JSON.parse(cleaned);\n} catch(e) {\n  throw new Error('Failed to parse Claude output: ' + e.message + '\\nRaw (first 500): ' + rawText.slice(0, 500));\n}\n\nreturn [{\n  json: {\n    deal_id: ctx.deal_id,\n    output_type: ctx.output_type,\n    recipient_email: ctx.recipient_email || 'austin.holland@clearwatersecurity.com',\n    recipient_name: ctx.recipient_name || 'Austin Holland',\n    company_name: ctx.company_name,\n    requested_by: ctx.requested_by,\n    preview_mode: ctx.preview_mode,\n    subject: generated.subject || `[CW Output] ${ctx.output_type} \u2014 ${ctx.company_name}`,\n    body: generated.body || rawText,\n    content_summary: generated.content_summary || '(no summary)',\n    model_used: ctx.model\n  }\n}];\n"}}, {"id": "wf3e-0012-0000-0000-000000000012", "name": "Code: Build Insert SQL", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2600, 300], "parameters": {"jsCode": "const d = $input.first().json;\n\nfunction sq(val) {\n  if (val === null || val === undefined || val === '') return 'NULL';\n  return \"'\" + String(val).replace(/'/g, \"''\") + \"'\";\n}\n\nconst sql = `INSERT INTO outputs_log (\\n  deal_id, output_type, recipient_email, recipient_name,\\n  subject, content_summary, full_content,\\n  sent_at, triggered_by, status\\n) VALUES (\\n  ${sq(d.deal_id)},\\n  ${sq(d.output_type)},\\n  ${sq(d.recipient_email)},\\n  ${sq(d.recipient_name)},\\n  ${sq(d.subject)},\\n  ${sq(d.content_summary)},\\n  ${sq(d.body)},\\n  NOW(),\\n  ${sq(d.requested_by)},\\n  'draft'\\n) RETURNING id`;\n\nreturn [{ json: { ...d, insert_sql: sql } }];\n"}}, {"id": "wf3e-0013-0000-0000-000000000013", "name": "Postgres: Log Output", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [2840, 300], "parameters": {"operation": "executeQuery", "query": "={{ $json.insert_sql }}", "options": {}}, "credentials": {"postgres": {"id": "WwO5ZGy91Fw5lSFo", "name": "Clearwater Postgres"}}}, {"id": "wf3e-0014-0000-0000-000000000014", "name": "Code: Format Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3080, 300], "parameters": {"jsCode": "const pgResult = $input.first().json;\nconst parsed = $('Code: Parse Output').first().json;\n\nconst draft_id = pgResult.id || pgResult[0]?.id || null;\n\nconst output = `Draft ID: ${draft_id}\\nSubject: ${parsed.subject}\\nType: ${parsed.output_type}\\nDeal: ${parsed.company_name} (${parsed.deal_id})\\nTo: ${parsed.recipient_name || ''} <${parsed.recipient_email || ''}>`;\n\nreturn [{ json: {\n  output,\n  draft_id,\n  subject: parsed.subject,\n  body: parsed.body,\n  output_type: parsed.output_type,\n  deal_id: parsed.deal_id,\n  company_name: parsed.company_name,\n  recipient_email: parsed.recipient_email,\n  recipient_name: parsed.recipient_name,\n  model_used: parsed.model_used,\n  status: 'draft'\n}}];\n"}}], "connections": {"Execute Workflow Trigger": {"main": [[{"node": "Code: Extract Inputs", "type": "main", "index": 0}]]}, "Code: Extract Inputs": {"main": [[{"node": "Postgres: Get Deal + Health", "type": "main", "index": 0}]]}, "Code: Merge Context + Build RAG Queries": {"main": [[{"node": "HTTP: Embed RAG Query", "type": "main", "index": 0}]]}, "HTTP: Embed RAG Query": {"main": [[{"node": "HTTP: Qdrant Search", "type": "main", "index": 0}]]}, "HTTP: Qdrant Search": {"main": [[{"node": "Code: Assemble RAG Context", "type": "main", "index": 0}]]}, "Code: Assemble RAG Context": {"main": [[{"node": "Code: Build Claude Prompt", "type": "main", "index": 0}]]}, "Code: Build Claude Prompt": {"main": [[{"node": "HTTP: Claude Generate Output", "type": "main", "index": 0}]]}, "HTTP: Claude Generate Output": {"main": [[{"node": "Code: Parse Output", "type": "main", "index": 0}]]}, "Code: Parse Output": {"main": [[{"node": "Code: Build Insert SQL", "type": "main", "index": 0}]]}, "Code: Build Insert SQL": {"main": [[{"node": "Postgres: Log Output", "type": "main", "index": 0}]]}, "Postgres: Log Output": {"main": [[{"node": "Code: Format Response", "type": "main", "index": 0}]]}, "Postgres: Get Deal + Health": {"main": [[{"node": "Postgres: Get Output History", "type": "main", "index": 0}]]}, "Postgres: Get Output History": {"main": [[{"node": "Code: Merge Context + Build RAG Queries", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "saveDataErrorExecution": "all", "saveDataSuccessExecution": "all", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": false}, "staticData": null, "meta": null, "pinData": null, "versionId": "fc1278f2-ad1d-4ee9-ac49-193ca8ced54e", "activeVersionId": "fc1278f2-ad1d-4ee9-ac49-193ca8ced54e", "versionCounter": 56, "triggerCount": 0, "shared": [{"updatedAt": "2026-03-03T07:18:42.843Z", "createdAt": "2026-03-03T07:18:42.843Z", "role": "workflow:owner", "workflowId": "K2i48dUP1MgYXQzA", "projectId": "AyFYj8ev1hBER3zO", "project": {"updatedAt": "2026-02-26T09:07:37.733Z", "createdAt": "2026-02-26T07:53:31.019Z", "id": "AyFYj8ev1hBER3zO", "name": "Randall raustinholland@gmail.com <raustinholland@gmail.com>", "type": "personal", "icon": null, "description": null, "creatorId": "8a968d0b-280d-4856-b867-bed874846716"}}], "tags": [], "activeVersion": {"updatedAt": "2026-03-06T08:47:01.276Z", "createdAt": "2026-03-06T08:47:01.276Z", "versionId": "fc1278f2-ad1d-4ee9-ac49-193ca8ced54e", "workflowId": "K2i48dUP1MgYXQzA", "nodes": [{"id": "wf3e-0001-0000-0000-000000000001", "name": "Execute Workflow Trigger", "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 1.1, "position": [240, 300], "parameters": {"inputSource": "passthrough"}}, {"id": "wf3e-0002-0000-0000-000000000002", "name": "Code: Extract Inputs", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [460, 300], "parameters": {"jsCode": "// Accept inputs from either AI agent tool call or webhook body\nconst inp = $input.first().json;\nconst body = inp.body || inp;\n\nif (!body.deal_id) throw new Error('Missing required field: deal_id');\nif (!body.output_type) throw new Error('Missing required field: output_type');\n\nreturn [{ json: {\n  deal_id: body.deal_id,\n  output_type: body.output_type,\n  recipient_email: body.recipient_email || null,\n  recipient_name: body.recipient_name || null,\n  instructions: body.instructions || '',\n  requested_by: body.requested_by || 'chat_agent',\n  preview_mode: true\n}}];\n"}}, {"id": "wf3e-0003-0000-0000-000000000003", "name": "Postgres: Get Deal + Health", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [680, 200], "parameters": {"operation": "executeQuery", "query": "SELECT d.deal_id, d.company_name, d.salesforce_stage, d.deal_stage, d.deal_value_usd, d.close_date, d.forecast_category, d.deal_owner, dh.pain_score, dh.power_score, dh.vision_score, dh.value_score, dh.change_score, dh.control_score, dh.p2v2c2_total, dh.critical_activity_stage, dh.champion_name, dh.champion_title, dh.executive_sponsor_name, dh.executive_sponsor_title, dh.pe_sponsor_score, dh.dap_exists, dh.dap_agreed, dh.dap_status, dh.dap_milestones_complete, dh.dap_has_14_day_gap, dh.dap_next_milestone, dh.dap_next_milestone_date, dh.current_state_org, dh.current_state_activities, dh.current_state_technology, dh.future_state_org, dh.future_state_activities, dh.future_state_technology, dh.key_stakeholder_success_criteria, dh.risks, dh.next_step, dh.next_step_date, dh.call_summary, dh.services_narrative, dh.general_narrative, dh.scored_at FROM deals d LEFT JOIN LATERAL ( SELECT * FROM deal_health WHERE deal_id = d.deal_id ORDER BY scored_at DESC LIMIT 1 ) dh ON true WHERE d.deal_id = '{{ $('Code: Extract Inputs').first().json.deal_id }}' LIMIT 1", "options": {}}, "credentials": {"postgres": {"id": "WwO5ZGy91Fw5lSFo", "name": "Clearwater Postgres"}}}, {"id": "wf3e-0004-0000-0000-000000000004", "name": "Postgres: Get Output History", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [680, 400], "parameters": {"operation": "executeQuery", "query": "SELECT output_type, recipient_name, recipient_email, subject, content_summary, full_content, original_content, sent_at FROM outputs_log WHERE deal_id = '{{ $('Code: Extract Inputs').first().json.deal_id }}' ORDER BY sent_at DESC LIMIT 15", "options": {}}, "credentials": {"postgres": {"id": "WwO5ZGy91Fw5lSFo", "name": "Clearwater Postgres"}}}, {"id": "wf3e-0005-0000-0000-000000000005", "name": "Code: Merge Context + Build RAG Queries", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [920, 300], "parameters": {"jsCode": "// Merge deal context, output history, and build RAG queries for the output type\nconst req = $('Code: Extract Inputs').first().json;\nconst dealRows = $('Postgres: Get Deal + Health').all();\nconst historyRows = $('Postgres: Get Output History').all();\n\nconst deal = dealRows[0]?.json || {};\n\nif (!deal.deal_id) {\n  throw new Error(`Deal not found: ${req.deal_id}`);\n}\n\n// Format output history\nconst historyText = historyRows.length > 0\n  ? historyRows.map(r => {\n      const h = r.json;\n      const date = h.sent_at ? h.sent_at.toString().split('T')[0] : 'unknown';\n      const to = h.recipient_name || h.recipient_email || 'unknown';\n      const edited = h.original_content && h.full_content && h.original_content !== h.full_content;\n      const editNote = edited ? ' [AUSTIN EDITED \u2014 adapt style to match his edits]' : '';\n      return `- ${date}: [${h.output_type}] TO: ${to} \u2014 \"${h.subject || '(no subject)'}\" \u2014 ${h.content_summary || '(no summary)'}${editNote}`;\n    }).join('\\n')\n  : 'No previous outputs have been generated for this deal.';\n\n// P2V2C2 summary string\nconst p2v2c2Summary = [\n  `Pain: ${deal.pain_score || 0}/5`,\n  `Power: ${deal.power_score || 0}/5`,\n  `Vision: ${deal.vision_score || 0}/5`,\n  `Value: ${deal.value_score || 0}/5`,\n  `Change: ${deal.change_score || 0}/5`,\n  `Control: ${deal.control_score || 0}/5`,\n  `Total: ${deal.p2v2c2_total || 0}/30`\n].join(' | ');\n\n// RAG queries tailored to output type\nconst co = deal.company_name;\nconst outputType = req.output_type;\n\nconst ragQueryBank = {\n  follow_up_email: [\n    `What was discussed in the most recent call or meeting with ${co}? What were the key outcomes and next steps agreed?`,\n    `What specific action items or commitments did Austin and ${co} make at the last touchpoint? What follow-ups are outstanding?`,\n    `What pain, urgency, or business problems has ${co} expressed that should be referenced in a follow-up communication?`,\n    `What Clearwater services or solutions were proposed or discussed with ${co}?`\n  ],\n  pre_call_planner: [\n    `What are the key open questions, risks, and outstanding action items with ${co} going into the next meeting?`,\n    `What pain and urgency has ${co} articulated? What power dynamics and executive sponsor access exists?`,\n    `What is the current state and desired future state for ${co}'s cybersecurity and compliance program?`,\n    `Who are the key stakeholders at ${co}? What are their goals, titles, and decision-making roles?`,\n    `What Clearwater services and engagement approach has been discussed with ${co}?`,\n    `What objections, competitive threats, or obstacles exist in the ${co} deal?`\n  ],\n  internal_team_update: [\n    `What happened in the most recent call or meeting with ${co}? What were the key discussion points and outcomes?`,\n    `What is the deal status with ${co}? What are the current P2V2C2 signals and executive sponsor dynamics?`,\n    `What are the open risks, next steps, and action items for the ${co} deal?`,\n    `What PE or board-level pressure or executive sponsor dynamics exist in the ${co} deal?`\n  ],\n  circle_back: [\n    `What was the last communication or meeting with ${co}? How long ago was contact made?`,\n    `What pain or urgency did ${co} express? What was the last agreed next step?`,\n    `What Clearwater services were discussed with ${co}? What value proposition was presented?`\n  ],\n  meeting_confirm: [\n    `What is the agenda and objectives for the upcoming meeting with ${co}?`,\n    `What action items and next steps were agreed with ${co} that this meeting is meant to address?`,\n    `Who are the key attendees and their roles at ${co} for the upcoming meeting?`\n  ],\n  approach_pdf: [\n    `What is ${co}'s current cybersecurity and compliance posture? What gaps and pain points exist?`,\n    `What future state has been co-created with ${co}? What are their compliance goals and desired capabilities?`,\n    `What Clearwater services have been proposed or discussed for ${co}? What is the recommended engagement scope?`,\n    `What is the key value proposition and ROI for ${co} working with Clearwater?`,\n    `Who are the key stakeholders at ${co} and what are their individual success criteria?`,\n    `What are the key risks and objections in the ${co} deal that the Approach Document should address?`\n  ]\n};\n\nconst queries = ragQueryBank[outputType] || ragQueryBank.follow_up_email;\n\nreturn queries.map((query, i) => ({\n  json: {\n    deal_id: req.deal_id,\n    output_type: req.output_type,\n    recipient_email: req.recipient_email,\n    recipient_name: req.recipient_name,\n    instructions: req.instructions,\n    requested_by: req.requested_by,\n    preview_mode: req.preview_mode,\n    company_name: co,\n    deal,\n    history_text: historyText,\n    p2v2c2_summary: p2v2c2Summary,\n    rag_query: query,\n    rag_index: i\n  }\n}));\n"}}, {"id": "wf3e-0006-0000-0000-000000000006", "name": "HTTP: Embed RAG Query", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [1160, 300], "parameters": {"method": "POST", "url": "https://api.openai.com/v1/embeddings", "authentication": "predefinedCredentialType", "nodeCredentialType": "openAiApi", "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ JSON.stringify({ model: 'text-embedding-3-small', input: $json.rag_query }) }}", "options": {}}, "credentials": {"openAiApi": {"id": "0uPlAmGz2rZbF75R", "name": "OpenAI API"}}, "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000, "continueOnFail": false}, {"id": "wf3e-0007-0000-0000-000000000007", "name": "HTTP: Qdrant Search", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [1400, 300], "parameters": {"method": "POST", "url": "http://qdrant:6333/collections/deals/points/search", "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ JSON.stringify({ vector: $json.data[0].embedding, filter: { must: [{ key: 'deal_id', match: { value: $('Code: Merge Context + Build RAG Queries').item.json.deal_id } }] }, limit: 8, with_payload: true, with_vector: false }) }}", "options": {}}, "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000, "continueOnFail": false}, {"id": "wf3e-0008-0000-0000-000000000008", "name": "Code: Assemble RAG Context", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1640, 300], "parameters": {"jsCode": "// Assemble all RAG results into a unified context block\nconst allSearchResults = $input.all();\nconst allQueryItems = $('Code: Merge Context + Build RAG Queries').all();\nconst baseData = allQueryItems[0].json;\n\nconst chunks = [];\n\nallSearchResults.forEach((item, i) => {\n  const results = item.json.result || [];\n\n  results\n    .filter(r => (r.score || 0) > 0.25)\n    .forEach(r => {\n      const p = r.payload || {};\n      const date = p.date_created ? new Date(p.date_created).toISOString().split('T')[0] : 'unknown date';\n      chunks.push(`[${p.doc_type || 'document'}, ${date}]\\n${p.page_content || ''}`);\n    });\n});\n\n// Dedupe chunks by content\nconst seen = new Set();\nconst uniqueChunks = chunks.filter(c => {\n  const key = c.slice(0, 100);\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});\n\nconst ragContext = uniqueChunks.length > 0\n  ? uniqueChunks.join('\\n\\n---\\n\\n')\n  : 'No relevant deal content found in Qdrant for this deal.';\n\nreturn [{\n  json: {\n    deal_id: baseData.deal_id,\n    output_type: baseData.output_type,\n    recipient_email: baseData.recipient_email,\n    recipient_name: baseData.recipient_name,\n    instructions: baseData.instructions,\n    requested_by: baseData.requested_by,\n    preview_mode: baseData.preview_mode,\n    company_name: baseData.company_name,\n    deal: baseData.deal,\n    history_text: baseData.history_text,\n    p2v2c2_summary: baseData.p2v2c2_summary,\n    rag_context: ragContext\n  }\n}];\n"}}, {"id": "wf3e-0009-0000-0000-000000000009", "name": "Code: Build Claude Prompt", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1880, 300], "parameters": {"jsCode": "const ctx = $input.first().json;\nconst deal = ctx.deal;\nconst outputType = ctx.output_type;\nconst today = new Date().toISOString().split('T')[0];\n\nconst model = ['approach_pdf', 'pre_call_planner'].includes(outputType)\n  ? 'claude-opus-4-6'\n  : 'claude-sonnet-4-6';\n\nconst maxTokens = outputType === 'approach_pdf' ? 4096\n  : outputType === 'pre_call_planner' ? 3000\n  : 1500;\n\nconst outputInstructions = {\n  follow_up_email: `Write a SEND-READY follow-up email from Austin Holland to ${ctx.recipient_name || ctx.recipient_email} at ${ctx.company_name}.\\n- Tone: Professional, warm, consultative \u2014 never pushy\\n- Length: 150-250 words\\n- Reference specific details from the deal content\\n- Build on previous communications (never repeat same talking points)\\n- Address ALL relevant attendees from the most recent call or meeting\\n- End with a clear, specific next step or call to action\\n- Sign off as: Austin Holland | Clearwater Security & Compliance`,\n  pre_call_planner: `Create a comprehensive PRE-CALL PLANNER for Austin Holland preparing for an upcoming meeting with ${ctx.company_name}.\\nInclude: MEETING OBJECTIVE, KEY ATTENDEES & ROLES, DEAL STATUS, PAIN POINTS, CPS TALKING POINTS, OPEN QUESTIONS, ANTICIPATED OBJECTIONS, DESIRED OUTCOMES, NEXT STEPS TO PROPOSE.\\nBe specific. Use names. Reference actual deal evidence.`,\n  internal_team_update: `Write an INTERNAL TEAM UPDATE for the ${ctx.company_name} deal.\\nFormat: Exactly TWO paragraphs of narrative prose. NO bullets. NO section headers.\\nParagraph 1: Current state \u2014 where it came from, client situation, key players, pain, PE/board dynamics.\\nParagraph 2: Strategic trajectory \u2014 what Clearwater must do, urgency, winning strategy. Forward-looking with dry wit.`,\n  circle_back: `Write a CIRCLE BACK email from Austin Holland to ${ctx.recipient_name || ctx.recipient_email} at ${ctx.company_name}.\\n- Re-engaging after a period of no contact\\n- Acknowledge time elapsed naturally\\n- Reference where the conversation left off\\n- Provide a fresh reason to reconnect\\n- Keep it short: 100-150 words`,\n  meeting_confirm: `Write a MEETING CONFIRMATION email from Austin Holland to ${ctx.recipient_name || ctx.recipient_email} at ${ctx.company_name}.\\n- Confirm meeting details\\n- Include a brief agenda (3-4 bullets) based on deal status\\n- Keep it to 100-150 words`,\n  approach_pdf: `Generate structured content for a CLEARWATER APPROACH DOCUMENT for ${ctx.company_name} as detailed JSON with sections: executive_summary, current_state, future_state, success_criteria, proposed_approach, proposed_services, investment_rationale, next_steps.`\n};\n\nconst systemPrompt = `You are an expert sales communication specialist for Clearwater Security & Compliance. You write on behalf of Austin Holland (Account Executive). Clearwater sells cybersecurity, risk management, and compliance services to healthcare organizations.\\n\\nCORE DIRECTIVES:\\n- Write from Austin's perspective in first person\\n- Reference actual names, specific pain points, and deal details from the evidence provided\\n- Build on previous outputs \u2014 never repeat the same content to the same recipient\\n- Use Clearwater CPS terminology (Champion, DAP, PES, ES) in internal content only \u2014 never in external emails\\n- Clearwater services (use exact names): IRM|Analysis, IRM|Pro\u00ae, IRM|Security\u00ae, IRM|Privacy\u00ae, MDR, MSS, SIEM, vCISO, Technical Testing, Risk Response & Remediation`;\n\nconst userMessage = `## OUTPUT REQUEST\\nType: ${outputType}\\nAustin's Instructions: ${ctx.instructions || '(none \u2014 use best judgment based on deal context)'}\\n\\n## DEAL CONTEXT\\nAccount: ${ctx.company_name}\\nDeal ID: ${ctx.deal_id}\\nStage: ${deal.salesforce_stage || deal.deal_stage || 'Unknown'}\\nP2V2C2: ${ctx.p2v2c2_summary}\\nCritical Activity Stage: ${deal.critical_activity_stage || 'Unknown'}\\nChampion: ${deal.champion_name || 'Not identified'} ${deal.champion_title ? '(' + deal.champion_title + ')' : ''}\\nExecutive Sponsor: ${deal.executive_sponsor_name || 'Not identified'}\\nNext Step: ${deal.next_step || 'TBD'} (by ${deal.next_step_date || 'TBD'})\\nRecipient: ${ctx.recipient_name || 'Austin (internal)'} <${ctx.recipient_email || 'austin.holland@clearwatersecurity.com'}>\\nToday: ${today}\\n\\n## RELEVANT DEAL CONTENT (from Qdrant)\\n${ctx.rag_context}\\n\\n## PREVIOUS OUTPUTS TO THIS RECIPIENT\\n${ctx.history_text}\\n\\n## CURRENT STATE\\nOrg: ${deal.current_state_org || 'Not captured'}\\nActivities: ${deal.current_state_activities || 'Not captured'}\\nTechnology: ${deal.current_state_technology || 'Not captured'}\\nServices Discussed: ${deal.services_narrative || 'Not specified'}\\n\\n## FUTURE STATE\\nOrg: ${deal.future_state_org || 'Not captured'}\\nActivities: ${deal.future_state_activities || 'Not captured'}\\n\\n## CALL SUMMARY (most recent)\\n${deal.call_summary || 'Not available'}\\n\\n## RISKS\\n${Array.isArray(deal.risks) ? deal.risks.join('\\n- ') : deal.risks || 'None identified'}\\n\\n## YOUR TASK\\n${outputInstructions[outputType] || outputInstructions.follow_up_email}\\n\\n## OUTPUT FORMAT\\nReturn ONLY valid JSON (no markdown, no code fences):\\n{\\n  \"subject\": \"[Subject line or title]\",\\n  \"body\": \"[Full content \u2014 plain text]\",\\n  \"content_summary\": \"[2-3 sentence summary for the output history log]\"\\n}`;\n\nreturn [{\n  json: {\n    ...ctx,\n    model,\n    request_body: {\n      model,\n      max_tokens: maxTokens,\n      system: systemPrompt,\n      messages: [{ role: 'user', content: userMessage }]\n    }\n  }\n}];\n"}}, {"id": "wf3e-0010-0000-0000-000000000010", "name": "HTTP: Claude Generate Output", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [2120, 300], "parameters": {"method": "POST", "url": "https://api.anthropic.com/v1/messages", "authentication": "predefinedCredentialType", "nodeCredentialType": "anthropicApi", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "anthropic-version", "value": "2023-06-01"}, {"name": "content-type", "value": "application/json"}]}, "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ JSON.stringify($json.request_body) }}", "options": {"timeout": 120000}}, "credentials": {"anthropicApi": {"id": "6NnFWUY71nO8HiT2", "name": "Anthropic account"}}, "retryOnFail": true, "maxTries": 2, "waitBetweenTries": 5000, "continueOnFail": false}, {"id": "wf3e-0011-0000-0000-000000000011", "name": "Code: Parse Output", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2360, 300], "parameters": {"jsCode": "const response = $input.first().json;\nconst rawText = response.content?.[0]?.text || response.text || '{}';\nconst ctx = $('Code: Build Claude Prompt').first().json;\n\nlet generated;\ntry {\n  const cleaned = rawText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  generated = JSON.parse(cleaned);\n} catch(e) {\n  throw new Error('Failed to parse Claude output: ' + e.message + '\\nRaw (first 500): ' + rawText.slice(0, 500));\n}\n\nreturn [{\n  json: {\n    deal_id: ctx.deal_id,\n    output_type: ctx.output_type,\n    recipient_email: ctx.recipient_email || 'austin.holland@clearwatersecurity.com',\n    recipient_name: ctx.recipient_name || 'Austin Holland',\n    company_name: ctx.company_name,\n    requested_by: ctx.requested_by,\n    preview_mode: ctx.preview_mode,\n    subject: generated.subject || `[CW Output] ${ctx.output_type} \u2014 ${ctx.company_name}`,\n    body: generated.body || rawText,\n    content_summary: generated.content_summary || '(no summary)',\n    model_used: ctx.model\n  }\n}];\n"}}, {"id": "wf3e-0012-0000-0000-000000000012", "name": "Code: Build Insert SQL", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2600, 300], "parameters": {"jsCode": "const d = $input.first().json;\n\nfunction sq(val) {\n  if (val === null || val === undefined || val === '') return 'NULL';\n  return \"'\" + String(val).replace(/'/g, \"''\") + \"'\";\n}\n\nconst sql = `INSERT INTO outputs_log (\\n  deal_id, output_type, recipient_email, recipient_name,\\n  subject, content_summary, full_content,\\n  sent_at, triggered_by, status\\n) VALUES (\\n  ${sq(d.deal_id)},\\n  ${sq(d.output_type)},\\n  ${sq(d.recipient_email)},\\n  ${sq(d.recipient_name)},\\n  ${sq(d.subject)},\\n  ${sq(d.content_summary)},\\n  ${sq(d.body)},\\n  NOW(),\\n  ${sq(d.requested_by)},\\n  'draft'\\n) RETURNING id`;\n\nreturn [{ json: { ...d, insert_sql: sql } }];\n"}}, {"id": "wf3e-0013-0000-0000-000000000013", "name": "Postgres: Log Output", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [2840, 300], "parameters": {"operation": "executeQuery", "query": "={{ $json.insert_sql }}", "options": {}}, "credentials": {"postgres": {"id": "WwO5ZGy91Fw5lSFo", "name": "Clearwater Postgres"}}}, {"id": "wf3e-0014-0000-0000-000000000014", "name": "Code: Format Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3080, 300], "parameters": {"jsCode": "const pgResult = $input.first().json;\nconst parsed = $('Code: Parse Output').first().json;\n\nconst draft_id = pgResult.id || pgResult[0]?.id || null;\n\nconst output = `Draft ID: ${draft_id}\\nSubject: ${parsed.subject}\\nType: ${parsed.output_type}\\nDeal: ${parsed.company_name} (${parsed.deal_id})\\nTo: ${parsed.recipient_name || ''} <${parsed.recipient_email || ''}>`;\n\nreturn [{ json: {\n  output,\n  draft_id,\n  subject: parsed.subject,\n  body: parsed.body,\n  output_type: parsed.output_type,\n  deal_id: parsed.deal_id,\n  company_name: parsed.company_name,\n  recipient_email: parsed.recipient_email,\n  recipient_name: parsed.recipient_name,\n  model_used: parsed.model_used,\n  status: 'draft'\n}}];\n"}}], "connections": {"Execute Workflow Trigger": {"main": [[{"node": "Code: Extract Inputs", "type": "main", "index": 0}]]}, "Code: Extract Inputs": {"main": [[{"node": "Postgres: Get Deal + Health", "type": "main", "index": 0}]]}, "Code: Merge Context + Build RAG Queries": {"main": [[{"node": "HTTP: Embed RAG Query", "type": "main", "index": 0}]]}, "HTTP: Embed RAG Query": {"main": [[{"node": "HTTP: Qdrant Search", "type": "main", "index": 0}]]}, "HTTP: Qdrant Search": {"main": [[{"node": "Code: Assemble RAG Context", "type": "main", "index": 0}]]}, "Code: Assemble RAG Context": {"main": [[{"node": "Code: Build Claude Prompt", "type": "main", "index": 0}]]}, "Code: Build Claude Prompt": {"main": [[{"node": "HTTP: Claude Generate Output", "type": "main", "index": 0}]]}, "HTTP: Claude Generate Output": {"main": [[{"node": "Code: Parse Output", "type": "main", "index": 0}]]}, "Code: Parse Output": {"main": [[{"node": "Code: Build Insert SQL", "type": "main", "index": 0}]]}, "Code: Build Insert SQL": {"main": [[{"node": "Postgres: Log Output", "type": "main", "index": 0}]]}, "Postgres: Log Output": {"main": [[{"node": "Code: Format Response", "type": "main", "index": 0}]]}, "Postgres: Get Deal + Health": {"main": [[{"node": "Postgres: Get Output History", "type": "main", "index": 0}]]}, "Postgres: Get Output History": {"main": [[{"node": "Code: Merge Context + Build RAG Queries", "type": "main", "index": 0}]]}}, "authors": "Randall raustinholland@gmail.com", "name": null, "description": null, "autosaved": false, "workflowPublishHistory": [{"createdAt": "2026-03-06T08:47:01.320Z", "id": 827, "workflowId": "K2i48dUP1MgYXQzA", "versionId": "fc1278f2-ad1d-4ee9-ac49-193ca8ced54e", "event": "deactivated", "userId": "8a968d0b-280d-4856-b867-bed874846716"}, {"createdAt": "2026-03-06T08:47:01.331Z", "id": 828, "workflowId": "K2i48dUP1MgYXQzA", "versionId": "fc1278f2-ad1d-4ee9-ac49-193ca8ced54e", "event": "activated", "userId": "8a968d0b-280d-4856-b867-bed874846716"}]}}